In [304]:
import pandas as pd

In [305]:
path = '../pandas-workout-data/data/2020_sharing_data_outside.csv'
py_df = pd.read_csv(path, low_memory=False)
py_df.head(5)

,is.python.main,other.lang.None,other.lang.Java,other.lang.JavaScript,other.lang.C/C++,other.lang.PHP,other.lang.C#,other.lang.Ruby,other.lang.Bash / Shell,other.lang.Objective-C,...,job.role.Technical support,job.role.Data analyst,job.role.Business analyst,job.role.Team lead,job.role.Product manager,job.role.CIO / CEO / CTO,job.role.Systems analyst,job.role.Other,age,country.live
0,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,Business analyst,NaN,NaN,NaN,NaN,NaN,30–39,NaN
1,Yes,NaN,Java,JavaScript,NaN,NaN,C#,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,India
2,Yes,NaN,NaN,NaN,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,Technical support,Data analyst,NaN,Team lead,NaN,NaN,NaN,NaN,30–39,United States
3,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Yes,NaN,Java,JavaScript,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,Italy

In [306]:
py_df.shape

(54462, 264)

In [307]:
general_columns = ['age',
                   'are.you.datascientist',
                   'is.python.main',
                   'company.size',
                   'country.live',
                   'employment.status',
                   'first.learn.about.main.ide',
                   'how.often.use.main.ide',
                   'is.python.main',
                   'main.purposes'
                   'missing.features.main.ide'
                   'nps.main.ide',
                   'python.version.most',
                   'python.years',
                   'python2.version.most',
                   'python3.version.most',
                   'several.projects',
                   'team.size',
                   'use.python.most',
                   'years.of.coding'
                  ]

Turn the columns into a multi-index

In [308]:
# tuples_languages = []
# for column in py_df.columns:
#     if column in general_columns:
#         tuples_languages.append(('general', column))
#     else:
#         split_words = column.rsplit('.', 1)
#         tuples_languages.append((split_words[0], split_words[-1]))
# print(tuples_languages)

In [309]:
def split_column_names(column_name):
    if column_name in general_columns:
        return ('general', column_name)
    else:
        before_last_point, after = column_name.rsplit('.', 1)
        return (before_last_point, after)

In [310]:
pd.MultiIndex.from_tuples([split_column_names(column) for column in py_df.columns])

MultiIndex([(   'general',    'is.python.main'),
            ('other.lang',              'None'),
            ('other.lang',              'Java'),
            ('other.lang',        'JavaScript'),
            ('other.lang',             'C/C++'),
            ('other.lang',               'PHP'),
            ('other.lang',                'C#'),
            ('other.lang',              'Ruby'),
            ('other.lang',      'Bash / Shell'),
            ('other.lang',       'Objective-C'),
            ...
            (  'job.role', 'Technical support'),
            (  'job.role',      'Data analyst'),
            (  'job.role',  'Business analyst'),
            (  'job.role',         'Team lead'),
            (  'job.role',   'Product manager'),
            (  'job.role',   'CIO / CEO / CTO'),
            (  'job.role',   'Systems analyst'),
            (  'job.role',             'Other'),
            (   'general',               'age'),
            (   'general',      'country.live')],
           length=264)

In [311]:
py_df.head(2)

,is.python.main,other.lang.None,other.lang.Java,other.lang.JavaScript,other.lang.C/C++,other.lang.PHP,other.lang.C#,other.lang.Ruby,other.lang.Bash / Shell,other.lang.Objective-C,...,job.role.Technical support,job.role.Data analyst,job.role.Business analyst,job.role.Team lead,job.role.Product manager,job.role.CIO / CEO / CTO,job.role.Systems analyst,job.role.Other,age,country.live
0,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,Business analyst,NaN,NaN,NaN,NaN,NaN,30–39,NaN
1,Yes,NaN,Java,JavaScript,NaN,NaN,C#,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,India

In [312]:
py_df.columns = pd.MultiIndex.from_tuples(split_column_names(x) for x in py_df.columns) # assigning the resulting list to py_df.columns
py_df.head(2)

         general other.lang                                         \
  is.python.main       None  Java  JavaScript C/C++  PHP   C# Ruby
0            Yes        NaN   NaN         NaN   NaN  NaN  NaN  NaN
1            Yes        NaN  Java  JavaScript   NaN  NaN   C#  NaN

                             ...          job.role               \
   Bash / Shell Objective-C  ... Technical support Data analyst
0  Bash / Shell         NaN  ...               NaN          NaN
1           NaN         NaN  ...               NaN          NaN

                                                                               \
   Business analyst Team lead Product manager CIO / CEO / CTO Systems analyst
0  Business analyst       NaN             NaN             NaN             NaN
1               NaN       NaN             NaN             NaN             NaN

        general
  Other     age country.live
0   NaN   30–39          NaN
1   NaN   21–29        India

[2 rows x 264 columns]

In [313]:
py_df.columns

MultiIndex([(   'general',    'is.python.main'),
            ('other.lang',              'None'),
            ('other.lang',              'Java'),
            ('other.lang',        'JavaScript'),
            ('other.lang',             'C/C++'),
            ('other.lang',               'PHP'),
            ('other.lang',                'C#'),
            ('other.lang',              'Ruby'),
            ('other.lang',      'Bash / Shell'),
            ('other.lang',       'Objective-C'),
            ...
            (  'job.role', 'Technical support'),
            (  'job.role',      'Data analyst'),
            (  'job.role',  'Business analyst'),
            (  'job.role',         'Team lead'),
            (  'job.role',   'Product manager'),
            (  'job.role',   'CIO / CEO / CTO'),
            (  'job.role',   'Systems analyst'),
            (  'job.role',             'Other'),
            (   'general',               'age'),
            (   'general',      'country.live')],
           length=264)

Sort the columns so they’re in alphabetical order. (This isn’t technically necessary, but it makes the data easier to see and understand.)

In [314]:
sorted(py_df.columns)

[('bigdata', 'Apache Beam'),
 ('bigdata', 'Apache Flink'),
 ('bigdata', 'Apache Hadoop/MapReduce'),
 ('bigdata', 'Apache Hive'),
 ('bigdata', 'Apache Kafka'),
 ('bigdata', 'Apache Samza'),
 ('bigdata', 'Apache Spark'),
 ('bigdata', 'Apache Tez'),
 ('bigdata', 'ClickHouse'),
 ('bigdata', 'Dask'),
 ('bigdata', 'None'),
 ('bigdata', 'Other'),
 ('ci', 'AppVeyor'),
 ('ci', 'Bamboo'),
 ('ci', 'CircleCI'),
 ('ci', 'CruiseControl'),
 ('ci', 'Gitlab CI'),
 ('ci', 'Jenkins / Hudson'),
 ('ci', 'None'),
 ('ci', 'Other'),
 ('ci', 'TeamCity'),
 ('ci', 'Travis CI'),
 ('cloud.platform', 'AWS'),
 ('cloud.platform', 'DigitalOcean'),
 ('cloud.platform', 'Google Cloud Platform'),
 ('cloud.platform', 'Heroku'),
 ('cloud.platform', 'Linode'),
 ('cloud.platform', 'Microsoft Azure'),
 ('cloud.platform', 'None'),
 ('cloud.platform', 'OpenShift'),
 ('cloud.platform', 'OpenStack'),
 ('cloud.platform', 'Other'),
 ('cloud.platform', 'PythonAnywhere'),
 ('cloud.platform', 'Rackspace'),
 ('configuration.management', 'Ansible'),
 ('configuration.management', 'Chef'),
 ('configuration.management', 'Custom solution'),
 ('configuration.management', 'None'),
 ('configuration.management', 'Other'),
 ('configuration.management', 'Puppet'),
 ('configuration.management', 'Salt'),
 ('data.frameworks', 'Gensim'),
 ('data.frameworks', 'Keras'),
 ('data.frameworks', 'MXNet'),
 ('data.frameworks', 'Matplotlib'),
 ('data.frameworks', 'NLTK'),
 ('data.frameworks', 'None'),
 ('data.frameworks', 'NumPy'),
 ('data.frameworks', 'Other'),
 ('data.frameworks', 'Pandas'),
 ('data.frameworks', 'PyTorch'),
 ('data.frameworks', 'SciKit-Learn'),
 ('data.frameworks', 'SciPy'),
 ('data.frameworks', 'Seaborn'),
 ('data.frameworks', 'TensorFlow'),
 ('data.frameworks', 'Theano'),
 ('database', 'Amazon Redshift'),
 ('database', 'Cassandra'),
 ('database', 'Couchbase'),
 ('database', 'DB2'),
 ('database', 'HBase'),
 ('database', 'MS SQL Server'),
 ('database', 'MongoDB'),
 ('database', 'MySQL'),
 ('database', 'Neo4j'),
 ('database', 'None'),
 ('database', 'Oracle Database'),
 ('database', 'Other'),
 ('database', 'PostgreSQL'),
 ('database', 'Redis'),
 ('database', 'SQLite'),
 ('database', 'h2'),
 ('develop.for.cloud', 'Directly in the production environment'),
 ('develop.for.cloud', 'In Docker containers'),
 ('develop.for.cloud', 'In remote development environments'),
 ('develop.for.cloud', 'In virtual machines'),
 ('develop.for.cloud', 'Locally with virtualenv (or similar)'),
 ('develop.for.cloud', 'None of the following'),
 ('develop.for.cloud', 'Other'),
 ('develop.for.cloud', 'With local system interpreter'),
 ('devenv.os', 'BSD'),
 ('devenv.os', 'Linux'),
 ('devenv.os', 'Other'),
 ('devenv.os', 'Windows'),
 ('devenv.os', 'macOS'),
 ('general', 'age'),
 ('general', 'are.you.datascientist'),
 ('general', 'company.size'),
 ('general', 'country.live'),
 ('general', 'employment.status'),
 ('general', 'first.learn.about.main.ide'),
 ('general', 'how.often.use.main.ide'),
 ('general', 'is.python.main'),
 ('general', 'python.version.most'),
 ('general', 'python.years'),
 ('general', 'python2.version.most'),
 ('general', 'python3.version.most'),
 ('general', 'several.projects'),
 ('general', 'team.size'),
 ('general', 'use.python.most'),
 ('general', 'years.of.coding'),
 ('how.involved', 'Computer graphics'),
 ('how.involved', 'Data analysis'),
 ('how.involved', 'Desktop development'),
 ('how.involved',
  'DevOps / System administration / Writing automation scripts'),
 ('how.involved', 'Educational purposes'),
 ('how.involved', 'Embedded development'),
 ('how.involved', 'Game development'),
 ('how.involved', 'Machine learning'),
 ('how.involved', 'Mobile development'),
 ('how.involved', 'Multimedia applications development'),
 ('how.involved', 'Network programming'),
 ('how.involved', 'Programming of web parsers / scrapers / crawlers'),
 ('how.involved', 'Software prototyping'),
 ('how.involved', 'Software testing / Writing automated tests'),
 ('how.involved', 'Web development'),
 ('ide', 'main'),
 ('ide.editor', 'Atom'),
 ('ide.editor', 'Eclipse + Pydev'),
 ('ide.editor', 'Emacs'),
 ('ide.editor', 'IDLE'),
 ('ide.editor', 'IntelliJ IDEA'),
 ('ide.editor', 'Jupyter Notebook'),
 ('ide.editor', 'JupyterLab'),
 ('ide.editor', 'None'),
 ('ide.editor', 'NotePad++'),
 ('ide.editor', 'Other'),
 ('ide.editor', 'PyCharm Community Edition'),
 ('ide.editor', 'PyCharm Professional Edition'),
 ('ide.editor', 'Python Tools for Visual Studio (PTVS)'),
 ('ide.editor', 'Spyder'),
 ('ide.editor', 'Sublime Text'),
 ('ide.editor', 'VS Code'),
 ('ide.editor', 'Vim'),
 ('isolate.environments', 'Conda'),
 ('isolate.environments', 'Docker'),
 ('isolate.environments', 'None'),
 ('isolate.environments', 'Other'),
 ('isolate.environments', 'Pipenv'),
 ('isolate.environments', 'Poetry'),
 ('isolate.environments', 'Vagrant  / virtual machines'),
 ('isolate.environments', 'Virtualenv'),
 ('job', 'team'),
 ('job.role', 'Architect'),
 ('job.role', 'Business analyst'),
 ('job.role', 'CIO / CEO / CTO'),
 ('job.role', 'DBA'),
 ('job.role', 'Data analyst'),
 ('job.role', 'Developer / Programmer'),
 ('job.role', 'Other'),
 ('job.role', 'Product manager'),
 ('job.role', 'QA engineer'),
 ('job.role', 'Systems analyst'),
 ('job.role', 'Team lead'),
 ('job.role', 'Technical support'),
 ('job.role', 'Technical writer'),
 ('main', 'purposes'),
 ('missing.features.main', 'ide'),
 ('nps.main', 'ide'),
 ('orm', 'Dejavu'),
 ('orm', 'Django ORM'),
 ('orm', 'No database development'),
 ('orm', 'Other'),
 ('orm', 'Peewee'),
 ('orm', 'PonyORM'),
 ('orm', 'Raw SQL'),
 ('orm', 'SQLAlchemy'),
 ('orm', 'SQLObject'),
 ('orm', 'Tortoise ORM'),
 ('other.frameworks', 'Asyncio'),
 ('other.frameworks', 'Kivy'),
 ('other.frameworks', 'None'),
 ('other.frameworks', 'Other'),
 ('other.frameworks', 'Pillow'),
 ('other.frameworks', 'PyGTK'),
 ('other.frameworks', 'PyQT'),
 ('other.frameworks', 'Pygame'),
 ('other.frameworks', 'Requests'),
 ('other.frameworks', 'Scrapy'),
 ('other.frameworks', 'Six'),
 ('other.frameworks', 'Tkinter'),
 ('other.frameworks', 'Twisted'),
 ('other.frameworks', 'aiohttp'),
 ('other.frameworks', 'wxPython'),
 ('other.lang', 'Bash / Shell'),
 ('other.lang', 'C#'),
 ('other.lang', 'C/C++'),
 ('other.lang', 'Clojure'),
 ('other.lang', 'CoffeeScript'),
 ('other.lang', 'Go'),
 ('other.lang', 'Groovy'),
 ('other.lang', 'HTML/CSS'),
 ('other.lang', 'Java'),
 ('other.lang', 'JavaScript'),
 ('other.lang', 'Kotlin'),
 ('other.lang', 'None'),
 ('other.lang', 'Objective-C'),
 ('other.lang', 'Other'),
 ('other.lang', 'PHP'),
 ('other.lang', 'Perl'),
 ('other.lang', 'R'),
 ('other.lang', 'Ruby'),
 ('other.lang', 'Rust'),
 ('other.lang', 'SQL'),
 ('other.lang', 'Scala'),
 ('other.lang', 'Swift'),
 ('other.lang', 'TypeScript'),
 ('other.lang', 'Visual Basic'),
 ('other.purposes', 'Computer graphics'),
 ('other.purposes', 'Data analysis'),
 ('other.purposes', 'Desktop development'),
 ('other.purposes',
  'DevOps / System administration / Writing automation scripts'),
 ('other.purposes', 'Educational purposes'),
 ('other.purposes', 'Embedded development'),
 ('other.purposes', 'Game development'),
 ('other.purposes', 'Machine learning'),
 ('other.purposes', 'Mobile development'),
 ('other.purposes', 'Multimedia applications development'),
 ('other.purposes', 'Network programming'),
 ('other.purposes', 'Other'),
 ('other.purposes', 'Programming of web parsers / scrapers / crawlers'),
 ('other.purposes', 'Software prototyping'),
 ('other.purposes', 'Software testing / Writing automated tests'),
 ('other.purposes', 'Web development'),
 ('python.version.upgrade', 'ActivePython'),
 ('python.version.upgrade', 'Anaconda'),
 ('python.version.upgrade', 'Automatic upgrade via cloud provider'),
 ('python.version.upgrade', 'Build from source'),
 ('python.version.upgrade', 'I don’t update'),
 ('python.version.upgrade', 'I use Docker containers'),
 ('python.version.upgrade', 'Intel Distribution for Python'),
 ('python.version.upgrade',
  'OS-provided Python (via apt-get, yum, homebrew, etc_)'),
 ('python.version.upgrade', 'Other'),
 ('python.version.upgrade', 'Python_org'),
 ('python.version.upgrade', 'Somebody else manages Python updates for me'),
 ('python.version.upgrade', 'pyenv'),
 ('python.version.upgrade', 'pythonz'),
 ('run.in.cloud', 'In virtual machines'),
 ('run.in.cloud', 'None of the following'),
 ('run.in.cloud',
  'On a Platform-as-a-Service (such as Heroku or Google App Engine)'),
 ('run.in.cloud', 'Other'),
 ('run.in.cloud', 'Serverless (such as AWS Lambda or Cloud Functions)'),
 ('run.in.cloud', 'Within containers'),
 ('unittesting', 'Hypothesis'),
 ('unittesting', 'None'),
 ('unittesting', 'Other'),
 ('unittesting', 'Tox'),
 ('unittesting', 'doctest'),
 ('unittesting', 'mock'),
 ('unittesting', 'nose'),
 ('unittesting', 'pytest'),
 ('unittesting', 'unittest'),
 ('web.frameworks', 'Bottle'),
 ('web.frameworks', 'CherryPy'),
 ('web.frameworks', 'Django'),
 ('web.frameworks', 'Falcon'),
 ('web.frameworks', 'FastAPI'),
 ('web.frameworks', 'Flask'),
 ('web.frameworks', 'Hug'),
 ('web.frameworks', 'None'),
 ('web.frameworks', 'Other'),
 ('web.frameworks', 'Pyramid'),
 ('web.frameworks', 'Tornado'),
 ('web.frameworks', 'web2py')]

In [315]:
py_df = py_df[sorted(py_df.columns)]
py_df.head(5)

       bigdata                                                                \
   Apache Beam Apache Flink Apache Hadoop/MapReduce Apache Hive Apache Kafka
0  Apache Beam          NaN                     NaN         NaN          NaN
1          NaN          NaN                     NaN         NaN          NaN
2          NaN          NaN                     NaN         NaN          NaN
3          NaN          NaN                     NaN         NaN          NaN
4          NaN          NaN                     NaN         NaN          NaN

                                                        ... web.frameworks  \
  Apache Samza Apache Spark Apache Tez ClickHouse Dask  ...         Django
0          NaN          NaN        NaN        NaN  NaN  ...            NaN
1          NaN          NaN        NaN        NaN  NaN  ...            NaN
2          NaN          NaN        NaN        NaN  NaN  ...            NaN
3          NaN          NaN        NaN        NaN  NaN  ...         Django
4          NaN          NaN        NaN        NaN  NaN  ...            NaN


  Falcon FastAPI  Flask  Hug None Other Pyramid  Tornado web2py
0    NaN     NaN    NaN  NaN  NaN   NaN     NaN      NaN    NaN
1    NaN     NaN    NaN  NaN  NaN   NaN     NaN  Tornado    NaN
2    NaN     NaN  Flask  NaN  NaN   NaN     NaN      NaN    NaN
3    NaN     NaN    NaN  NaN  NaN   NaN     NaN      NaN    NaN
4    NaN     NaN  Flask  NaN  NaN   NaN     NaN      NaN    NaN

[5 rows x 264 columns]

### What are the 10 most popular Python IDEs?

In [316]:
py_df.columns.levels

FrozenList([['bigdata', 'ci', 'cloud.platform', 'configuration.management', 'data.frameworks', 'database', 'develop.for.cloud', 'devenv.os', 'general', 'how.involved', 'ide', 'ide.editor', 'isolate.environments', 'job', 'job.role', 'main', 'missing.features.main', 'nps.main', 'orm', 'other.frameworks', 'other.lang', 'other.purposes', 'python.version.upgrade', 'run.in.cloud', 'unittesting', 'web.frameworks'], ['AWS', 'ActivePython', 'Amazon Redshift', 'Anaconda', 'Ansible', 'Apache Beam', 'Apache Flink', 'Apache Hadoop/MapReduce', 'Apache Hive', 'Apache Kafka', 'Apache Samza', 'Apache Spark', 'Apache Tez', 'AppVeyor', 'Architect', 'Asyncio', 'Atom', 'Automatic upgrade via cloud provider', 'BSD', 'Bamboo', 'Bash / Shell', 'Bottle', 'Build from source', 'Business analyst', 'C#', 'C/C++', 'CIO / CEO / CTO', 'Cassandra', 'Chef', 'CherryPy', 'CircleCI', 'ClickHouse', 'Clojure', 'CoffeeScript', 'Computer graphics', 'Conda', 'Couchbase', 'CruiseControl', 'Custom solution', 'DB2', 'DBA', 'Dask', 'Data analysis', 'Data analyst', 'Dejavu', 'Desktop development', 'DevOps / System administration / Writing automation scripts', 'Developer / Programmer', 'DigitalOcean', 'Directly in the production environment', 'Django', 'Django ORM', 'Docker', 'Eclipse + Pydev', 'Educational purposes', 'Emacs', 'Embedded development', 'Falcon', 'FastAPI', 'Flask', 'Game development', 'Gensim', 'Gitlab CI', 'Go', 'Google Cloud Platform', 'Groovy', 'HBase', 'HTML/CSS', 'Heroku', 'Hug', 'Hypothesis', 'I don’t update', 'I use Docker containers', 'IDLE', 'In Docker containers', 'In remote development environments', 'In virtual machines', 'Intel Distribution for Python', 'IntelliJ IDEA', 'Java', 'JavaScript', 'Jenkins / Hudson', 'Jupyter Notebook', 'JupyterLab', 'Keras', 'Kivy', 'Kotlin', 'Linode', 'Linux', 'Locally with virtualenv (or similar)', 'MS SQL Server', 'MXNet', 'Machine learning', 'Matplotlib', 'Microsoft Azure', 'Mobile development', 'MongoDB', 'Multimedia applications development', 'MySQL', 'NLTK', ...]])

In [317]:
py_df.columns.levels[0]

Index(['bigdata', 'ci', 'cloud.platform', 'configuration.management',
       'data.frameworks', 'database', 'develop.for.cloud', 'devenv.os',
       'general', 'how.involved', 'ide', 'ide.editor', 'isolate.environments',
       'job', 'job.role', 'main', 'missing.features.main', 'nps.main', 'orm',
       'other.frameworks', 'other.lang', 'other.purposes',
       'python.version.upgrade', 'run.in.cloud', 'unittesting',
       'web.frameworks'],
      dtype='object')

In [318]:
py_df['ide'].columns

Index(['main'], dtype='object')

In [319]:
py_df.loc[slice(None), ('ide', 'main')]

0           PyCharm Community Edition
1                             VS Code
2                                 Vim
3        PyCharm Professional Edition
4                             VS Code
                     ...
54457                             Vim
54458                             NaN
54459    PyCharm Professional Edition
54460                           Other
54461                         VS Code
Name: (ide, main), Length: 54462, dtype: object

In [320]:
py_df.loc[slice(None),('ide', 'main')].value_counts().head(10) # getting the top 10

(ide, main)
VS Code                         8010
PyCharm Professional Edition    5144
PyCharm Community Edition       3815
Vim                             2176
Sublime Text                    1201
Jupyter Notebook                1167
Atom                             784
Other                            711
Emacs                            636
Spyder                           580
Name: count, dtype: int64

### Which 10 other programming languages (other.lang) are most commonly used by Python developers?

In [321]:
py_df.columns.levels[0]

Index(['bigdata', 'ci', 'cloud.platform', 'configuration.management',
       'data.frameworks', 'database', 'develop.for.cloud', 'devenv.os',
       'general', 'how.involved', 'ide', 'ide.editor', 'isolate.environments',
       'job', 'job.role', 'main', 'missing.features.main', 'nps.main', 'orm',
       'other.frameworks', 'other.lang', 'other.purposes',
       'python.version.upgrade', 'run.in.cloud', 'unittesting',
       'web.frameworks'],
      dtype='object')

In [322]:
py_df['other.lang'].columns

Index(['Bash / Shell', 'C#', 'C/C++', 'Clojure', 'CoffeeScript', 'Go',
       'Groovy', 'HTML/CSS', 'Java', 'JavaScript', 'Kotlin', 'None',
       'Objective-C', 'Other', 'PHP', 'Perl', 'R', 'Ruby', 'Rust', 'SQL',
       'Scala', 'Swift', 'TypeScript', 'Visual Basic'],
      dtype='object')

In [323]:
py_df['other.lang']

,Bash / Shell,C#,C/C++,Clojure,CoffeeScript,Go,Groovy,HTML/CSS,Java,JavaScript,...,PHP,Perl,R,Ruby,Rust,SQL,Scala,Swift,TypeScript,Visual Basic
0,Bash / Shell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,C#,NaN,NaN,NaN,NaN,NaN,NaN,Java,JavaScript,...,NaN,NaN,R,NaN,NaN,SQL,NaN,NaN,TypeScript,NaN
2,Bash / Shell,NaN,C/C++,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bash / Shell,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS,NaN,JavaScript,...,NaN,NaN,NaN,NaN,NaN,SQL,NaN,NaN,NaN,NaN
4,Bash / Shell,NaN,C/C++,NaN,NaN,NaN,NaN,HTML/CSS,Java,JavaScript,...,NaN,NaN,NaN,NaN,NaN,SQL,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54457,Bash / Shell,NaN,C/C++,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54458,Bash / Shell,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS,NaN,JavaScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54459,Bash / Shell,NaN,NaN,NaN,NaN,Go,NaN,HTML/CSS,NaN,JavaScript,...,PHP,NaN,NaN,NaN,NaN,SQL,NaN,NaN,TypeScript,NaN
54460,Bash / Shell,NaN,C/C++,NaN,NaN,NaN,NaN,HTML/CSS,NaN,JavaScript,...,PHP,NaN,NaN,NaN,NaN,SQL,NaN,NaN,NaN,NaN
54461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS,NaN,JavaScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [324]:
py_df['other.lang'].shape

(54462, 24)

In [325]:
py_df[('other.lang', 'C#')].unique()

array([nan, 'C#'], dtype=object)

In [326]:
py_df[('other.lang', 'Go')].unique()

array([nan, 'Go'], dtype=object)

In [327]:
py_df['other.lang'].notna().sum().sort_values(ascending=False).head(10) # approach 1

JavaScript      16662
HTML/CSS        15469
Bash / Shell    13793
SQL             13391
C/C++           11623
Java             8109
C#               4460
PHP              4060
TypeScript       3717
Other            3592
dtype: int64

In [328]:
py_df['other.lang'].count().sort_values(ascending=False).head(10) # approach 2

JavaScript      16662
HTML/CSS        15469
Bash / Shell    13793
SQL             13391
C/C++           11623
Java             8109
C#               4460
PHP              4060
TypeScript       3717
Other            3592
dtype: int64

### What were the 10 most common countries from which survey participants came?

In [329]:
py_df.columns.levels[0]

Index(['bigdata', 'ci', 'cloud.platform', 'configuration.management',
       'data.frameworks', 'database', 'develop.for.cloud', 'devenv.os',
       'general', 'how.involved', 'ide', 'ide.editor', 'isolate.environments',
       'job', 'job.role', 'main', 'missing.features.main', 'nps.main', 'orm',
       'other.frameworks', 'other.lang', 'other.purposes',
       'python.version.upgrade', 'run.in.cloud', 'unittesting',
       'web.frameworks'],
      dtype='object')

In [330]:
py_df["general"].columns

Index(['age', 'are.you.datascientist', 'company.size', 'country.live',
       'employment.status', 'first.learn.about.main.ide',
       'how.often.use.main.ide', 'is.python.main', 'python.version.most',
       'python.years', 'python2.version.most', 'python3.version.most',
       'several.projects', 'team.size', 'use.python.most', 'years.of.coding'],
      dtype='object')

In [331]:
py_df.loc[:, ('general', 'country.live')].value_counts().head(10)

(general, country.live)
United States         3975
India                 2800
Germany               1807
China                 1155
United Kingdom        1110
France                1078
Russian Federation     935
Other country          880
Brazil                 812
Canada                 644
Name: count, dtype: int64

In [332]:
py_df[('general', 'country.live')].value_counts(normalize=True).head(10)

(general, country.live)
United States        0.16
India                0.11
Germany              0.07
China                0.05
United Kingdom       0.04
France               0.04
Russian Federation   0.04
Other country        0.04
Brazil               0.03
Canada               0.03
Name: proportion, dtype: float64

### According to the Python survey, what proportion of Python developers have each level of experience?

In [333]:
py_df.columns.levels[0]

Index(['bigdata', 'ci', 'cloud.platform', 'configuration.management',
       'data.frameworks', 'database', 'develop.for.cloud', 'devenv.os',
       'general', 'how.involved', 'ide', 'ide.editor', 'isolate.environments',
       'job', 'job.role', 'main', 'missing.features.main', 'nps.main', 'orm',
       'other.frameworks', 'other.lang', 'other.purposes',
       'python.version.upgrade', 'run.in.cloud', 'unittesting',
       'web.frameworks'],
      dtype='object')

In [334]:
py_df['general'].columns

Index(['age', 'are.you.datascientist', 'company.size', 'country.live',
       'employment.status', 'first.learn.about.main.ide',
       'how.often.use.main.ide', 'is.python.main', 'python.version.most',
       'python.years', 'python2.version.most', 'python3.version.most',
       'several.projects', 'team.size', 'use.python.most', 'years.of.coding'],
      dtype='object')

In [335]:
py_df.loc[slice(None), ('general', 'python.years')]

0         3–5 years
1         3–5 years
2         3–5 years
3         11+ years
4         1–2 years
            ...
54457    6–10 years
54458     3–5 years
54459     3–5 years
54460    6–10 years
54461     1–2 years
Name: (general, python.years), Length: 54462, dtype: object

In [336]:
py_df.loc[slice(None), ('general', 'python.years')].value_counts(normalize=True)

(general, python.years)
3–5 years          0.28
Less than 1 year   0.24
1–2 years          0.22
6–10 years         0.15
11+ years          0.10
Name: proportion, dtype: float64

## Which country has the greatest number of Python developers with 11+ years of experience?

In [337]:
py_df['general'].columns

Index(['age', 'are.you.datascientist', 'company.size', 'country.live',
       'employment.status', 'first.learn.about.main.ide',
       'how.often.use.main.ide', 'is.python.main', 'python.version.most',
       'python.years', 'python2.version.most', 'python3.version.most',
       'several.projects', 'team.size', 'use.python.most', 'years.of.coding'],
      dtype='object')

In [338]:
py_df['general', 'python.years'].unique()

array(['3–5 years', '11+ years', '1–2 years', 'Less than 1 year', nan,
       '6–10 years'], dtype=object)

In [339]:
more_than_11_years = py_df['general', 'python.years'] == '11+ years' # boolean mask

In [340]:
py_df.loc[more_than_11_years, ('general', 'country.live')].value_counts()

(general, country.live)
United States     691
Germany           308
United Kingdom    207
France            166
Canada             94
                 ...
Pakistan            1
Tunisia             1
Nigeria             1
Ghana               1
Egypt               1
Name: count, Length: 70, dtype: int64

In [341]:
(
    py_df['general'][
    py_df[('general', 'python.years')] == '11+ years'
    ].groupby('country.live')
    ['python.years']
    .count()
    .sort_values(ascending=False)
)

country.live
United States     691
Germany           308
United Kingdom    207
France            166
Australia          94
                 ...
Egypt               1
Nigeria             1
Pakistan            1
Tunisia             1
Viet Nam            1
Name: python.years, Length: 70, dtype: int64

## Which country has the greatest proportion of Python developers with 11+ years of experience?

The US, somewhat naturally, has the greatest number of experienced developers. A more interesting question is which country has the greatest proportion of Python developers with 11+ years of experience.
- We need to find out how many developers are in each country.

In [342]:
py_df['general'].columns

Index(['age', 'are.you.datascientist', 'company.size', 'country.live',
       'employment.status', 'first.learn.about.main.ide',
       'how.often.use.main.ide', 'is.python.main', 'python.version.most',
       'python.years', 'python2.version.most', 'python3.version.most',
       'several.projects', 'team.size', 'use.python.most', 'years.of.coding'],
      dtype='object')

In [343]:
py_df['general'][['country.live', 'python.years']]

             country.live python.years
0                     NaN    3–5 years
1                   India    3–5 years
2           United States    3–5 years
3                     NaN    11+ years
4                   Italy    1–2 years
...                   ...          ...
54457  Russian Federation   6–10 years
54458                 NaN    3–5 years
54459  Russian Federation    3–5 years
54460               Spain   6–10 years
54461             Algeria    1–2 years

[54462 rows x 2 columns]

In [344]:
country_experience = py_df['general'][['country.live', 'python.years']]

In [345]:
country_experience['country.live'].value_counts()

country.live
United States         3975
India                 2800
Germany               1807
China                 1155
United Kingdom        1110
                      ...
Kazakhstan              36
Dominican Republic      34
Uruguay                 33
Armenia                 31
Uzbekistan              31
Name: count, Length: 76, dtype: int64

In [346]:
py_dev_per_country = country_experience['country.live'].value_counts()

In [347]:
most_experience_py_dev_per_country = py_df.loc[more_than_11_years, ('general', 'country.live')].value_counts()
most_experience_py_dev_per_country

(general, country.live)
United States     691
Germany           308
United Kingdom    207
France            166
Canada             94
                 ...
Pakistan            1
Tunisia             1
Nigeria             1
Ghana               1
Egypt               1
Name: count, Length: 70, dtype: int64

In [348]:
type(most_experience_py_dev_per_country)

pandas.core.series.Series

In [349]:
py_dev_per_country.index

Index(['United States', 'India', 'Germany', 'China', 'United Kingdom',
       'France', 'Russian Federation', 'Other country', 'Brazil', 'Canada',
       'Poland', 'Netherlands', 'Spain', 'Italy', 'Australia', 'Ukraine',
       'Turkey', 'Japan', 'Israel', 'Czech Republic', 'Mexico', 'Sweden',
       'Switzerland', 'Belgium', 'Argentina', 'Colombia', 'Austria', 'Iran',
       'Nigeria', 'Norway', 'Indonesia', 'Pakistan', 'Greece', 'Denmark',
       'Finland', 'Portugal', 'South Africa', 'South Korea', 'Romania',
       'Bangladesh', 'Kenya', 'Chile', 'Ireland', 'Hungary', 'New Zealand',
       'Belarus', 'Algeria', 'Singapore', 'Taiwan', 'Viet Nam', 'Peru',
       'Nepal', 'Philippines', 'Bulgaria', 'Venezuela', 'Morocco', 'Lithuania',
       'Slovakia', 'Egypt', 'Thailand', 'Malaysia', 'Ghana', 'Slovenia',
       'Serbia', 'Tunisia', 'Saudi Arabia', 'Sri Lanka', 'Ecuador', 'Croatia',
       'Estonia', 'United Arab Emirates', 'Kazakhstan', 'Dominican Republic',
       'Uruguay', 'Armenia', 'Uzbekistan'],
      dtype='object', name='country.live')

In [350]:
py_dev_per_country['India']

np.int64(2800)

In [351]:
most_experience_py_dev_per_country.index

Index(['United States', 'Germany', 'United Kingdom', 'France', 'Canada',
       'Australia', 'Netherlands', 'Italy', 'Spain', 'Other country',
       'Russian Federation', 'Poland', 'Brazil', 'Sweden', 'Belgium',
       'Czech Republic', 'Switzerland', 'India', 'Norway', 'Austria', 'Israel',
       'Japan', 'Finland', 'China', 'Denmark', 'Ireland', 'Portugal',
       'New Zealand', 'Argentina', 'South Africa', 'Ukraine', 'Mexico',
       'Chile', 'Slovenia', 'Bulgaria', 'Greece', 'South Korea', 'Hungary',
       'Lithuania', 'Turkey', 'Romania', 'Estonia', 'Croatia', 'Algeria',
       'Belarus', 'Malaysia', 'Peru', 'Colombia', 'Slovakia', 'Indonesia',
       'Saudi Arabia', 'Iran', 'Thailand', 'Taiwan', 'Venezuela', 'Kenya',
       'Dominican Republic', 'Ecuador', 'Uruguay', 'Philippines', 'Morocco',
       'Serbia', 'Singapore', 'Bangladesh', 'Viet Nam', 'Pakistan', 'Tunisia',
       'Nigeria', 'Ghana', 'Egypt'],
      dtype='object', name=('general', 'country.live'))

In [352]:
most_experience_py_dev_per_country['India']

np.int64(44)

In [353]:
most_experience_py_dev_per_country['India'] / py_dev_per_country['India']

np.float64(0.015714285714285715)

We now have two series (most_experience_py_dev_per_country and py_dev_per_country) with matching indexes (country names). We can take advantage of the fact that `pandas will use the index when dividing one series by another:`

In [354]:
(most_experience_py_dev_per_country / py_dev_per_country).sort_values(ascending=False)

Norway                 0.27
Ireland                0.23
Australia              0.23
Belgium                0.23
Slovenia               0.22
                       ...
Kazakhstan              NaN
Nepal                   NaN
Sri Lanka               NaN
United Arab Emirates    NaN
Uzbekistan              NaN
Name: count, Length: 76, dtype: float64

In [355]:
(most_experience_py_dev_per_country / py_dev_per_country).sort_values(ascending=False).dropna()

Norway       0.27
Ireland      0.23
Australia    0.23
Belgium      0.23
Slovenia     0.22
             ...
India        0.02
Viet Nam     0.01
Bangladesh   0.01
Pakistan     0.01
Nigeria      0.01
Name: count, Length: 70, dtype: float64

In [356]:
(most_experience_py_dev_per_country / py_dev_per_country).sort_values(ascending=False).dropna().head(10)

Norway           0.27
Ireland          0.23
Australia        0.23
Belgium          0.23
Slovenia         0.22
New Zealand      0.20
Sweden           0.19
Finland          0.19
United Kingdom   0.19
Austria          0.19
Name: count, dtype: float64

In [357]:
(most_experience_py_dev_per_country / py_dev_per_country).sort_values(ascending=False)['India']

np.float64(0.015714285714285715)

Load the Stack Overflow data (so_2021_survey_results.csv) into a data frame. Let’s call that so_df.

In [358]:
path = '../pandas-workout-data/data/so_2021_survey_results.csv'
so_df = pd.read_csv(filepath_or_buffer=path, low_memory=False)
so_df.head(3)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,"62,268.00"
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN

### Show the average salary for different types of employment. Contractors and freelancers like to say that they earn more than full-time employees. What does the data here show you?

In [359]:
so_df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [360]:
so_df['Employment'].unique()

array(['Independent contractor, freelancer, or self-employed',
       'Student, full-time', 'Employed full-time', 'Student, part-time',
       'I prefer not to say', 'Employed part-time',
       'Not employed, but looking for work', 'Retired',
       'Not employed, and not looking for work', nan], dtype=object)

In [361]:
so_df['ConvertedCompYearly']

0        62,268.00
1              NaN
2              NaN
3              NaN
4              NaN
           ...
83434   160,500.00
83435     3,960.00
83436    90,000.00
83437   816,816.00
83438    21,168.00
Name: ConvertedCompYearly, Length: 83439, dtype: float64

In [362]:
(
    so_df.groupby('Employment')['ConvertedCompYearly']
        .mean()
        .sort_values(ascending=False)
        .dropna()
        .apply(lambda x: f'{x:,.2f}')
)

Employment
I prefer not to say                                     1,455,643.25
Employed full-time                                        121,369.67
Independent contractor, freelancer, or self-employed      107,433.97
Retired                                                    69,533.25
Employed part-time                                         41,136.12
Name: ConvertedCompYearly, dtype: object

### Create a pivot table in which the index contains countries, the columns are education levels, and the cells contain the average salary for each education level per country.

In [363]:
so_df.head(2)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,"62,268.00"
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN

In [364]:
so_df['Country']

0                                                 Slovakia
1                                              Netherlands
2                                       Russian Federation
3                                                  Austria
4        United Kingdom of Great Britain and Northern I...
                               ...
83434                             United States of America
83435                                                Benin
83436                             United States of America
83437                                               Canada
83438                                               Brazil
Name: Country, Length: 83439, dtype: object

In [365]:
so_df['EdLevel']

0        Secondary school (e.g. American high school, G...
1             Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2             Bachelor’s degree (B.A., B.S., B.Eng., etc.)
3          Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
4          Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
                               ...
83434         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83435         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83436    Secondary school (e.g. American high school, G...
83437         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83438                   Professional degree (JD, MD, etc.)
Name: EdLevel, Length: 83439, dtype: object

In [366]:
so_df['ConvertedCompYearly']

0        62,268.00
1              NaN
2              NaN
3              NaN
4              NaN
           ...
83434   160,500.00
83435     3,960.00
83436    90,000.00
83437   816,816.00
83438    21,168.00
Name: ConvertedCompYearly, Length: 83439, dtype: float64

In [367]:
so_df[['Country', 'EdLevel','ConvertedCompYearly']]

,Country,EdLevel,ConvertedCompYearly
0,Slovakia,"Secondary school (e.g. American high school, G...","62,268.00"
1,Netherlands,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",NaN
2,Russian Federation,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",NaN
3,Austria,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN
4,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN
...,...,...,...
83434,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","160,500.00"
83435,Benin,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","3,960.00"
83436,United States of America,"Secondary school (e.g. American high school, G...","90,000.00"
83437,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","816,816.00"
83438,Brazil,"Professional degree (JD, MD, etc.)","21,168.00"

In [368]:
pd.options.display.float_format = '{:,.2f}'.format
(
    pd.
    pivot_table(
        data=so_df, 
        index='Country', 
        columns='EdLevel', 
        values='ConvertedCompYearly', 
        aggfunc='mean'
        )
)

EdLevel,"Associate degree (A.A., A.S., etc.)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other doctoral degree (Ph.D., Ed.D., etc.)",Primary/elementary school,"Professional degree (JD, MD, etc.)","Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",Some college/university study without earning a degree,Something else
Country,,,,,,,,,
Afghanistan,NaN,"30,288.00","10,176,704.00",NaN,NaN,NaN,100.00,NaN,NaN
Albania,NaN,"19,152.86","80,127.62",NaN,NaN,"5,298.00","19,890.00","22,884.00","128,522.00"
Algeria,NaN,"21,770.67","15,052.57",NaN,NaN,"12,912.00",NaN,"6,288.00",NaN
Andorra,NaN,"94,045.50","22,056.00","146,981.00",NaN,NaN,NaN,NaN,NaN
Angola,NaN,"31,500.00",NaN,NaN,NaN,NaN,"18,678.00","6,904.00",NaN
...,...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic of...",NaN,"30,108.77","28,680.00",NaN,"7,200.00","14,833.29","10,200.00","17,720.57",NaN
Viet Nam,"7,827.00","18,463.11","50,599.80","2,592.00","10,479.00","30,000.00",NaN,"18,866.19",NaN
Yemen,NaN,"5,628.67",NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,NaN,"40,173.00","4,908.00",NaN,NaN,NaN,"4,482.00","12,105.33","8,184.00"
Zimbabwe,"36,000.00","8,399.27",NaN,NaN,NaN,NaN,NaN,"20,000.00",NaN

### Create this pivot table again, only including countries in the OECD subset. In which of these countries does someone with an associate’s degree earn the most? In which of them does someone with a doctoral degree earn the most?

In [369]:
path = '../pandas-workout-data/data/oecd_locations.csv'
oecd_countries = pd.read_csv(path, header=None, index_col=1, names=['abbrev', 'Country'])
oecd_countries

               abbrev
Country
Australia         AUS
Austria           AUT
Belgium           BEL
Canada            CAN
Denmark           DNK
Finland           FIN
France            FRA
Germany           DEU
Hungary           HUN
Italy             ITA
Japan             JPN
Korea             KOR
United Kingdom    GBR
United States     USA
Brazil            BRA
Israel            ISR

In [370]:
# let's join these df
oecd_countries.join(
    pd.pivot_table(
    data=so_df,
    index='Country',
    columns='EdLevel',
    values='ConvertedCompYearly',
    aggfunc='mean'))

,abbrev,"Associate degree (A.A., A.S., etc.)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other doctoral degree (Ph.D., Ed.D., etc.)",Primary/elementary school,"Professional degree (JD, MD, etc.)","Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",Some college/university study without earning a degree,Something else
Country,,,,,,,,,,
Australia,AUS,"117,049.64","180,794.16","106,794.32","150,234.96","153,327.50","108,725.00","158,931.28","127,063.53","231,987.17"
Austria,AUT,"43,623.38","66,096.13","77,645.66","74,783.17","86,877.00","38,915.33","47,438.83","53,906.05","45,772.53"
Belgium,BEL,"35,664.00","68,474.70","88,580.41","80,832.44","11,342,349.25","71,000.20","43,224.13","88,006.29","27,035.50"
Canada,CAN,"87,930.35","140,668.24","144,733.35","102,989.35","73,787.83","82,953.40","180,584.81","155,090.08","60,795.17"
Denmark,DNK,"80,217.33","80,430.94","115,751.85","102,785.19","91,056.57","114,144.89","90,411.74","85,131.35","95,479.86"
Finland,FIN,"282,353.67","69,381.34","74,360.98","61,508.25","77,832.00","83,016.00","59,424.32","89,255.56","35,024.00"
France,FRA,"54,394.89","65,062.38","94,585.73","140,402.86","34,181.00","78,342.27","53,981.81","55,119.45","42,884.04"
Germany,DEU,"98,530.52","102,751.23","110,611.98","108,718.46","74,943.67","97,330.14","82,865.84","95,737.77","109,333.99"
Hungary,HUN,"51,041.00","48,756.45","46,771.71","52,833.60","48,100.00","9,852.00","33,440.80","37,102.89","28,911.00"
Italy,ITA,"36,427.94","73,697.22","79,132.19","93,490.78","525,992.17","117,121.37","75,114.40","81,531.72","32,690.22"
Japan,JPN,"143,196.83","85,821.47","130,143.19","157,239.40","44,965.00",NaN,"57,916.40","91,163.04","194,514.00"
Korea,KOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Kingdom,GBR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United States,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil,BRA,"25,347.42","47,681.23","42,056.01","43,123.21","7,880.00","25,449.67","15,072.89","39,978.02","20,288.71"
Israel,ISR,"146,420.90","124,973.40","128,492.71","131,812.62","100,514.57","132,336.00","97,938.78","130,049.04","96,142.50"

### In which of these countries does someone with an associate’s degree earn the most?

In [371]:
(oecd_countries.join(
    pd.pivot_table(
    data=so_df,
    index='Country',
    columns='EdLevel',
    values='ConvertedCompYearly',
    aggfunc='mean'))['Associate degree (A.A., A.S., etc.)']
        .sort_values(ascending=False)
        .dropna()
        .apply(lambda x: f'{x:.2f}'))

Country
Finland      282353.67
Israel       146420.90
Japan        143196.83
Australia    117049.64
Germany       98530.52
Canada        87930.35
Denmark       80217.33
France        54394.89
Hungary       51041.00
Austria       43623.38
Italy         36427.94
Belgium       35664.00
Brazil        25347.42
Name: Associate degree (A.A., A.S., etc.), dtype: object

### In which of them does someone with a doctoral degree earn the most?

In [372]:
(
    oecd_countries.join(
        pd.pivot_table(
            data=so_df,
            index='Country',
            columns='EdLevel',
            values='ConvertedCompYearly',
            aggfunc='mean'
        )
    )['Other doctoral degree (Ph.D., Ed.D., etc.)']
    .dropna()
    .sort_values(ascending=False)
    .apply(lambda x: f'{x:.2f}')
)

Country
Japan        157239.40
Australia    150234.96
France       140402.86
Israel       131812.62
Germany      108718.46
Canada       102989.35
Denmark      102785.19
Italy         93490.78
Belgium       80832.44
Austria       74783.17
Finland       61508.25
Hungary       52833.60
Brazil        43123.21
Name: Other doctoral degree (Ph.D., Ed.D., etc.), dtype: object

### Remove rows from so_df in which LanguageHaveWorkedWith is NaN.

In [373]:
so_df['LanguageHaveWorkedWith'].isnull().sum()

np.int64(1082)

In [374]:
so_df['LanguageHaveWorkedWith'].dropna()

0        C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
1                                    JavaScript;Python
2                             Assembly;C;Python;R;Rust
3                                JavaScript;TypeScript
4                       Bash/Shell;HTML/CSS;Python;SQL
                             ...
83433    Java;JavaScript;Kotlin;Objective-C;TypeScript
83434                               Clojure;Kotlin;SQL
83436                               Groovy;Java;Python
83437             Bash/Shell;JavaScript;Node.js;Python
83438           Delphi;Elixir;HTML/CSS;Java;JavaScript
Name: LanguageHaveWorkedWith, Length: 82357, dtype: object

In [375]:
so_df.shape

(83439, 48)

In [376]:
so_df = so_df.dropna(subset='LanguageHaveWorkedWith')

In [377]:
so_df.shape

(82357, 48)

In [378]:
so_df['LanguageHaveWorkedWith'].isnull().sum()

np.int64(0)

### Remove rows from so_df in which Python isn’t included as a commonly used language (LanguageHaveWorkedWith). How many rows remain?

In [379]:
so_df['LanguageHaveWorkedWith']

0        C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
1                                    JavaScript;Python
2                             Assembly;C;Python;R;Rust
3                                JavaScript;TypeScript
4                       Bash/Shell;HTML/CSS;Python;SQL
                             ...
83433    Java;JavaScript;Kotlin;Objective-C;TypeScript
83434                               Clojure;Kotlin;SQL
83436                               Groovy;Java;Python
83437             Bash/Shell;JavaScript;Node.js;Python
83438           Delphi;Elixir;HTML/CSS;Java;JavaScript
Name: LanguageHaveWorkedWith, Length: 82357, dtype: object

In [380]:
so_df['LanguageHaveWorkedWith'].str.contains('Python')

0        False
1         True
2         True
3        False
4         True
         ...
83433    False
83434    False
83436     True
83437     True
83438    False
Name: LanguageHaveWorkedWith, Length: 82357, dtype: bool

In [381]:
use_python = so_df['LanguageHaveWorkedWith'].str.contains('Python')

In [382]:
so_df = so_df.loc[use_python]

### Remove rows from so_df in which YearsCode is NaN. How many rows remain?

In [383]:
so_df.shape # before NaN values in yearsCode column are delated

(39792, 48)

In [384]:
so_df.shape[0] - so_df['YearsCode'].count()

np.int64(795)

In [385]:
so_df = so_df.dropna(subset='YearsCode')
so_df.shape # atfer NaN values in yearsCode column are delated

(38997, 48)

### Replace the string value Less than 1 year in YearsCode with 0. Replace the string value More than 50 years with 51.

In [386]:
so_df['YearsCode'].unique()

array(['7', '17', '10', '40', '12', '9', '14', '39', '4', '19', '3',
       'Less than 1 year', '6', '5', '34', '2', '13', '18', '26', '20',
       '8', '1', '27', '15', '24', '30', '11', '22', '21', '44', '41',
       '16', '43', '38', '25', '35', '33', '28', '23', '45', '29', '42',
       '32', '31', '50', '49', '37', 'More than 50 years', '36', '46',
       '47', '48'], dtype=object)

In [387]:
# def is_less_or_more(value):
#     if value == 'More than 50 years':
#         return 51
#     elif value == 'Less than 1 year':
#         return 0
#     else:
#         return int(value)

In [388]:
so_df['YearsCode'].apply(lambda x: 51 if x == 'More than 50 years' else(0 if x == 'Less than 1 year' else x))

1         7
4        17
9         7
13       10
15        7
         ..
83429     6
83430    23
83431     9
83436    10
83437     5
Name: YearsCode, Length: 38997, dtype: object

In [389]:
so_df['YearsCode'] = so_df['YearsCode'].apply(lambda x: 51 if x == 'More than 50 years' else(0 if x == 'Less than 1 year' else int(x)))
so_df['YearsCode'].unique()

array([ 7, 17, 10, 40, 12,  9, 14, 39,  4, 19,  3,  0,  6,  5, 34,  2, 13,
       18, 26, 20,  8,  1, 27, 15, 24, 30, 11, 22, 21, 44, 41, 16, 43, 38,
       25, 35, 33, 28, 23, 45, 29, 42, 32, 31, 50, 49, 37, 51, 36, 46, 47,
       48])

### Create a new column in so_df, called experience, which will categorize the values in the YearsCode. Values can be
- Less than 1 year
- 1–2 years
- 3–5 years
- 6–10 years
- 11+ years

In [390]:
so_df['YearsCode']

1         7
4        17
9         7
13       10
15        7
         ..
83429     6
83430    23
83431     9
83436    10
83437     5
Name: YearsCode, Length: 38997, dtype: int64

In [395]:
bins = [0,1,3,6,11,100]
labels = ['Less than 1 year', '1-2 years', '3-5 years', '6-10 years', '11+ years']
pd.cut(x=so_df['YearsCode'], bins=bins, right=False, labels=labels)

1        6-10 years
4         11+ years
9        6-10 years
13       6-10 years
15       6-10 years
            ...
83429    6-10 years
83430     11+ years
83431    6-10 years
83436    6-10 years
83437     3-5 years
Name: YearsCode, Length: 38997, dtype: category
Categories (5, object): ['Less than 1 year' < '1-2 years' < '3-5 years' < '6-10 years' < '11+ years']

In [396]:
pd.cut(x=so_df['YearsCode'], bins=bins, right=False, labels=labels).value_counts()

YearsCode
11+ years           14561
6-10 years          12424
3-5 years            8678
1-2 years            2733
Less than 1 year      601
Name: count, dtype: int64

In [397]:
so_df['Experience'] = pd.cut(x=so_df['YearsCode'], bins=bins, right=False, labels=labels)
so_df['Experience'].value_counts()

Experience
11+ years           14561
6-10 years          12424
3-5 years            8678
1-2 years            2733
Less than 1 year      601
Name: count, dtype: int64

### According to the Stack Overflow survey, what proportion of Python developers have each level of experience?

In [398]:
so_df['Experience'].value_counts(normalize=True)

Experience
11+ years          0.37
6-10 years         0.32
3-5 years          0.22
1-2 years          0.07
Less than 1 year   0.02
Name: proportion, dtype: float64