In [1]:
import pandas as pd
import numpy as np

In [2]:
path_file = '../../pandas-workout-data/data/nyc-parking-violations-2020.csv'
columns = ['Date First Observed',
            'Registration State', 'Plate ID',
            'Issue Date', 'Vehicle Make',
            'Street Name', 'Vehicle Color']

In [3]:
df = pd.read_csv(filepath_or_buffer=path_file, usecols=columns)

In [4]:
df.index

RangeIndex(start=0, stop=12495734, step=1)

### Set the data frame’s index to the Issue Date column.

In [5]:
df = df.set_index('Issue Date') # Notice that set_index returns a new data frame based on the original one, which we assign back to df.

In [6]:
df.index

Index(['05/08/1972 12:00:00 AM', '08/29/1977 12:00:00 AM',
       '10/03/1988 12:00:00 AM', '01/03/1990 12:00:00 AM',
       '02/14/1990 12:00:00 AM', '07/21/1990 12:00:00 AM',
       '09/19/1990 12:00:00 AM', '10/14/1990 12:00:00 AM',
       '07/25/1991 12:00:00 AM', '01/01/2000 12:00:00 AM',
       ...
       '10/01/2030 12:00:00 AM', '10/29/2030 12:00:00 AM',
       '03/03/2031 12:00:00 AM', '12/30/2031 12:00:00 AM',
       '06/25/2033 12:00:00 AM', '01/03/2040 12:00:00 AM',
       '04/19/2045 12:00:00 AM', '01/17/2049 12:00:00 AM',
       '12/19/2063 12:00:00 AM', '06/04/2064 12:00:00 AM'],
      dtype='object', name='Issue Date', length=12495734)

### Determine what vehicle makes were most frequently ticketed on January 2, 2020.

In [7]:
df.loc['01/02/2020 12:00:00 AM', 'Vehicle Make']

Issue Date
01/02/2020 12:00:00 AM    MAZDA
01/02/2020 12:00:00 AM    TOYOT
01/02/2020 12:00:00 AM    NISSA
01/02/2020 12:00:00 AM     FORD
01/02/2020 12:00:00 AM      HIN
                          ...
01/02/2020 12:00:00 AM    JAGUA
01/02/2020 12:00:00 AM    HONDA
01/02/2020 12:00:00 AM    BUICK
01/02/2020 12:00:00 AM    ME/BE
01/02/2020 12:00:00 AM    FRUEH
Name: Vehicle Make, Length: 31520, dtype: object

In [8]:
df.loc['01/02/2020 12:00:00 AM', 'Vehicle Make'].value_counts().head(3)

Vehicle Make
TOYOT    3829
HONDA    3593
FORD     3164
Name: count, dtype: int64

### Determine the five streets on which cars got the most tickets on June 1, 2020.

In [9]:
df.loc['01/02/2020 12:00:00 AM', 'Street Name'].value_counts().head(5)

Street Name
EB HORACE HARDING EX    345
WB BRUCKNER BLVD @ B    193
WB ATLANTIC AVE @ CL    175
EB E 233RD ST @ KATO    173
SB MAIN ST @ 82ND DR    171
Name: count, dtype: int64

### Set the index to Vehicle Color.

In [10]:
df

,Plate ID,Registration State,Vehicle Make,Street Name,Date First Observed,Vehicle Color
Issue Date,,,,,,
05/08/1972 12:00:00 AM,J58JKX,NJ,HONDA,43 ST,0,BK
08/29/1977 12:00:00 AM,KRE6058,PA,ME/BE,UNION ST,0,BLK
10/03/1988 12:00:00 AM,444326R,NJ,LEXUS,CLERMONT AVENUE,0,BLACK
01/03/1990 12:00:00 AM,F728330,OH,CHEVR,DIVISION AVE,0,NaN
02/14/1990 12:00:00 AM,FMY9090,NY,JEEP,GRAND ST,0,GREY
...,...,...,...,...,...,...
01/03/2040 12:00:00 AM,62161MM,NY,FORD,3RD AVE,0,BR
04/19/2045 12:00:00 AM,GYE7330,NY,HONDA,PELHAM PARK DR,0,BLK
01/17/2049 12:00:00 AM,HNY4802,NY,FORD,LYDIG AVE,0,GY
12/19/2063 12:00:00 AM,T687081C,NY,TOYOT,E 68 STREET,0,BLK
06/04/2064 12:00:00 AM,3497ZN,WA,UTILI,W/S/O 182 STREET,0,WHITE

In [11]:
#df['Issue Date'] = df.index
#df = df.set_index('Vehicle Color')

In [12]:
df = df.reset_index() 
df = df.set_index('Vehicle Color')

In [13]:
df

,Issue Date,Plate ID,Registration State,Vehicle Make,Street Name,Date First Observed
Vehicle Color,,,,,,
BK,05/08/1972 12:00:00 AM,J58JKX,NJ,HONDA,43 ST,0
BLK,08/29/1977 12:00:00 AM,KRE6058,PA,ME/BE,UNION ST,0
BLACK,10/03/1988 12:00:00 AM,444326R,NJ,LEXUS,CLERMONT AVENUE,0
NaN,01/03/1990 12:00:00 AM,F728330,OH,CHEVR,DIVISION AVE,0
GREY,02/14/1990 12:00:00 AM,FMY9090,NY,JEEP,GRAND ST,0
...,...,...,...,...,...,...
BR,01/03/2040 12:00:00 AM,62161MM,NY,FORD,3RD AVE,0
BLK,04/19/2045 12:00:00 AM,GYE7330,NY,HONDA,PELHAM PARK DR,0
GY,01/17/2049 12:00:00 AM,HNY4802,NY,FORD,LYDIG AVE,0
BLK,12/19/2063 12:00:00 AM,T687081C,NY,TOYOT,E 68 STREET,0
WHITE,06/04/2064 12:00:00 AM,3497ZN,WA,UTILI,W/S/O 182 STREET,0

In [14]:
df

,Issue Date,Plate ID,Registration State,Vehicle Make,Street Name,Date First Observed
Vehicle Color,,,,,,
BK,05/08/1972 12:00:00 AM,J58JKX,NJ,HONDA,43 ST,0
BLK,08/29/1977 12:00:00 AM,KRE6058,PA,ME/BE,UNION ST,0
BLACK,10/03/1988 12:00:00 AM,444326R,NJ,LEXUS,CLERMONT AVENUE,0
NaN,01/03/1990 12:00:00 AM,F728330,OH,CHEVR,DIVISION AVE,0
GREY,02/14/1990 12:00:00 AM,FMY9090,NY,JEEP,GRAND ST,0
...,...,...,...,...,...,...
BR,01/03/2040 12:00:00 AM,62161MM,NY,FORD,3RD AVE,0
BLK,04/19/2045 12:00:00 AM,GYE7330,NY,HONDA,PELHAM PARK DR,0
GY,01/17/2049 12:00:00 AM,HNY4802,NY,FORD,LYDIG AVE,0
BLK,12/19/2063 12:00:00 AM,T687081C,NY,TOYOT,E 68 STREET,0
WHITE,06/04/2064 12:00:00 AM,3497ZN,WA,UTILI,W/S/O 182 STREET,0

### Determine the most common make of vehicles that were either red or blue.

In [15]:
with pd.option_context('display.max_rows', 2000):
    print(df.index.value_counts())

Vehicle Color
WH       2344858
GY       2307704
BK       2066374
WHITE    1061234
BL        775124
RD        483298
BLACK     465110
GREY      306787
BROWN     292348
SILVE     191477
GR        182929
BLUE      178298
RED       161693
TN        120576
BR        102204
YW         98700
BLK        91539
OTHER      60245
GREEN      58765
GL         54851
GRY        46527
MR         42812
GRAY       40854
WHT        35433
YELLO      32792
WHI        29760
OR         28100
BK.        27830
WT         25583
WT.        24593
GY.        22460
GOLD       21687
TAN        21091
SIL        20116
BLU        15240
SL.        13145
LTGY       13055
ORANG      11506
SL         10343
LTG        10093
BL.         9649
LT/         8976
PR          7518
DK/         7498
W           7367
RD.         7128
DKGY        6004
GYGY        5039
BLK.        4853
GRN         4829
B           4145
WH.         3811
BRO         3802
DKG         3702
PURPL       3635
BRN         3582
BKGY        3504
WHBL        3489
DKBL        2912
GN          2883
WHT.        2796
BN          2787
BLUE.       2638
WHGY        2381
UNKNO       2205
RED.        2141
BRW         2081
G           2064
GRAY.       2022
DKB         1976
GRY.        1958
WH/         1908
BLGY        1901
SILV        1790
GN.         1705
GLD         1480
BLW         1456
GY/         1380
YELL        1370
DKRD        1318
LTBL        1251
GREY.       1231
YEL         1219
MAR         1163
GYBL        1155
MAROO       1129
BW           979
BKBL         964
LTB          961
GYGR         956
BG.          942
TN.          918
RDW          905
RDGY         844
DKR          840
NOCL         838
DKGR         820
LAVEN        817
BR.          776
WHB          760
SIL.         739
SILVR        717
LTGR         700
BGE          683
GD           652
BEIGE        642
BG           600
UNK          599
RD/          587
BLG          585
BKGR         571
SLV          550
NOC          544
BK/          541
BN.          515
GD.          500
WHG          467
TAN.         466
DBL          463
NO           461
BURG         451
GYBK         448
YL           441
BLGR         435
ORG          432
BL/          427
OTH          422
GRGY         420
WHRD         409
ONG          401
BLBL         394
WHGR         394
MN.          378
GRN.         377
GR.          366
GYRD         364
LTTN         362
SLVR         356
GOLD.        349
R            343
YW.          338
OR.          330
BKRD         329
BLU.         326
BLWH         318
MN           310
SLV.         302
GRW          286
SILV.        280
BKTN         269
RDBL         268
GYB          268
WHIT         261
GYTN         255
TNGY         246
PK           237
SLVR.        237
WHTE         234
LTBR         234
LBL          233
BLCK         218
BRZ          217
LTT          216
WHO          215
BWN          215
BKWH         204
BRWN         201
RDBK         196
RDGR         195
BLA          194
GYBR         190
WHBK         189
BRGY         185
RDWH         172
GR/          169
DARK         166
WHTN         161
BRN.         158
BURGU        153
RDRD         153
GRE          152
BLBK         140
DKBR         136
DGR          135
Y            135
BLRD         129
BROW         129
GLGY         128
WHE          126
BKBR         120
BUR          118
PLE          116
GRGR         115
S            113
BKG          112
XXX          112
OG           111
LTGL         110
BU           109
LTBK         108
GRBL         108
RDTN         107
SLR          106
GL.          105
BKW          103
GLD.          97
BLB           95
WHBR          95
BLAK          93
White         93
DKMR          91
YLW           91
OG.           90
GRA           90
RDT           87
ORWH          87
RDG           86
BLAC          86
CRM           86
BKBK          86
GYWH          86
BLTN          85
SV            82
GYGL          81
ALUMI         80
PINK          80
BALCK         79
MRGY          79
WHGL          76
MUL           75
DKPR          72
DKTN          71
BLBR          71
BLUE,         71
PUR           68
BURG.         66
BLE           65
DKM           64
BLCK.         63
TNGR          63
PL.           62
WTE           59
GRBK          58
Gray          58
SIV           57
GRG           57
BKGL          56
WHOR          55
BRONZ         54
ORA           54
TEAL          54
AQ            54
PURP          54
BKT           53
DKP           53
ORAN          52
WHWH          52
GYG           52
BIEGE         51
MR.           50
YE            50
LIGHT         49
DKOR          49
SI            49
GRTN          49
PL            49
YLL           48
LGR           47
BRBL          47
GYPR          47
MRN           45
BRON          45
SLVER         45
CPR           44
GREN          43
ORGY          43
GYMR          42
ORBK          42
BGE.          41
CL.           40
CREAM         40
Black         40
BLGL          40
RDBR          39
.             38
CL            38
TNBL          36
AQ.           36
BUG           36
TNRD          36
BKMR          35
MULTI         35
BUS           35
LGT           35
WHTIE         34
GLGR          34
M             34
TAUPE         34
BKOR          33
GLBL          33
YWBK          32
BK+           32
SLIVE         32
GYOR          31
MRN.          31
WHYW          31
GRWH          31
WHPR          30
TEA           30
GYT           30
CHROM         29
MRBL          29
BKPR          29
TN/           28
WJ            27
TNTN          27
A             27
WTH           26
DKGL          26
GL/SL         26
WG            26
CM.           25
GRRD          25
ORNAG         24
Blue          24
BRRD          24
COPPE         24
NAVY          24
ORG.          24
GREE          23
GLTN          23
PRWH          23
BKYW          23
BRGR          22
BRG           22
RUST          22
ORN           22
YELLW         22
BO            21
MRGR          21
MAR.          21
MC            21
YLLW          21
TNGL          21
GRB           21
MARON         21
BY            20
BE            20
BRGDY         19
GAY           19
O             19
YLW.          19
W.            19
SV.           19
ME            18
DK GY         18
GLWH          18
G Y.          18
PEWTE         18
BLV           18
BURGD         18
BURGA         18
WHMR          18
GLRD          18
BIU           18
Silve         18
BRTN          18
YWBL          18
N             17
MRG           17
CHAMP         17
BUR.          17
ORNG          17
YW5           17
BLMR          16
LTPR          16
WHTE.         16
MRRD          16
GEY           16
+             16
BUE           16
YEL.          16
GO            16
WI            15
BK HA         15
Red           15
TK            15
RDGL          15
GRT           15
PEARL         15
GB            15
RE            15
ORBL          15
MA            15
COM           15
PK.           14
ORGE          14
HUGV          14
WHIE          14
GR/Y          14
C             14
DKBK          14
AMETH         14
SIVER         13
MRBR          13
WH1           13
SIVLE         13
RD BK         13
GY I          13
BK/TN         13
SIVR          13
GRGL          13
YWGY          13
GY`           13
RS            13
GV            12
LT-GY         12
GY1           12
BRD           12
PRW           12
GRBR          12
MARO          12
1             12
BURGN         12
DRK           12
LT BL         11
BRBK          11
TQ            11
GREEM         11
SILIV         11
PU            11
TRQ           11
GW            11
DK BL         11
BRBR          11
BZ.           11
BCK           11
WY            11
WA            11
SAND.         11
TNPR          11
PRGY          11
ORNGE         11
WHI.          11
CM            10
WHY           10
TA            10
BLACL         10
CAM           10
BKC           10
GU            10
TRL           10
BK1           10
BLC           10
YWBR          10
DKRED         10
RDYGM         10
TEAL.         10
BURUN         10
BGDY.         10
GRAT          10
RDMR          10
GLBR          10
ORAGE         10
TNBR          10
BEIG          10
H             10
TNG           10
MULT          10
BLT           10
WHN           10
BLAC.          9
AQUA           9
BUL            9
WHIT.          9
BURGE          9
BIA            9
BLYW           9
WHIET          9
YWWH           9
BU.            9
BKL            9
GT             9
WHM            9
OLIVE          9
MRTN           9
BRU            9
WH+            9
BRY            8
GRNTE          8
WHOTE          8
LTMR           8
BJ             8
WN             8
Q              8
SLI            8
BERGE          8
B L            8
RS.            8
BRWON          8
BUN            8
GK             8
SUBAR          8
SLVE           8
PURLE          8
MARRO          8
..             8
WHZ            8
WHH            8
BURY           8
BM             8
MARRN          8
BBLK           8
T              8
YEW            8
TPE            8
NH             8
BLAKC          8
PKWH           7
BK GN          7
DKWH           7
BLR            7
OT             7
SY             7
BLPR           7
SILER          7
GRAU           7
SI.            7
BRM            7
SL GY          7
BK.0           7
B K            7
WK             7
BIK            7
BRIGE          7
LGBL           7
WINE           7
TURQU          7
PUR.           7
BUICK          7
BLAKE          7
YELL.          7
LT GY          7
YN             7
YELOW          7
GY7            7
GLBK           7
WT BK          6
ON             6
B LUE          6
V              6
SR             6
BEGE           6
MARN.          6
AME            6
P              6
WHI/           6
WHITR          6
BRK            6
BEG            6
BK,            6
GREU           6
BK2QS          6
BX             6
ORAG           6
WH+-           6
BKY            6
YELW           6
MAGNE          6
SK             6
TL.            6
SC             6
TW             6
GY/SL          6
BEI            6
LT/BL          6
GRA.           6
TRAC           6
WH]            6
BKX            6
WH-GY          6
CHARC          6
WE             6
BLN            6
GRYA           6
GARY           6
GRPR           6
Green          6
BRWN.          6
GRE Y          6
BLVD           6
GTY            6
DKPK           6
GMC            6
BRGL           6
TNR            6
ORNG.          6
GRL            6
GEN            6
TAM            6
GYYA           5
BD             5
X              5
GUY            5
WHI-T          5
GM             5
WH/SL          5
GYL            5
BL WH          5
HINO           5
MUILT          5
GYN            5
CRM.           5
LTRD           5
BRAY.          5
PETER          5
BK1`           5
GOL            5
DR             5
RDOR           5
RO             5
BKN            5
WHI-W          5
GOD            5
BRO.           5
GERY           5
WH-BL          5
DKW            5
GLB            5
BRNZ           5
BZ             5
BK`            5
LTWH           5
REFG           5
BNW            5
Brown          5
NLU.           5
G.             5
BRT            5
UP             5
TRK            5
BT             5
Y.             5
TNBK           5
TN+            5
0              5
WH`            5
SVR            5
BAIGE          5
PLUMB          5
LAV            5
GR1            5
DIL.           4
ISUZU          4
PLUM           4
ACURA          4
MROON          4
TQ.            4
GRD            4
W/H            4
PRBK           4
MER            4
OK             4
BRW.           4
GYPK           4
PR.            4
99AYZ          4
B K.           4
WH GN          4
MARO.          4
SAND           4
GLOR           4
GR WH          4
NK             4
LTYW           4
BL GY          4
RN             4
CHRCL          4
WH GR          4
BGNDY          4
FY.            4
GRAAY          4
BEIDG          4
WH/BL          4
GYBE           4
WH7            4
SRN            4
RDNL           4
L.             4
FD             4
WH-            4
GRET           4
BWN.           4
BLUR           4
BK WH          4
BROWM          4
NLK            4
-              4
WH BL          4
WHEI9          4
YWYW           4
TEN            4
Unkno          4
WINE.          4
BRG.           4
WT. D          4
BER            4
BLJ            4
JAVA.          4
GY3            4
GOL.           4
BRNW           4
BKJ            4
BLO            4
TN`            4
BOWN           4
LTM            4
GYD            4
BR0            4
TIT.           4
WHTI           4
NAVY.          4
RDYW           4
GRU            4
TG             4
NA.            4
BURGY          4
WT GY          4
LTOR           4
SLIV           4
PWTR.          4
DKGY.          4
TAC            4
RD`            4
WH?            4
SUB.           4
INDGO          4
GYBNG          4
M.BLU          4
BLAQC          4
U              3
PUPLE          3
RDBG           3
QGY            3
TEN.           3
TNWH           3
FREIG          3
NL             3
BUNG           3
GLUE           3
DUMP           3
GN-WH          3
YEK            3
LTPK           3
BREY           3
BEIG.          3
WJT            3
BL GN          3
WH33           3
WIT            3
WORK           3
F              3
SLK            3
SPRUC          3
HAZEL          3
PON            3
QQ             3
RED/B          3
K              3
BLACC          3
BLAAC          3
GLOD           3
MRWH           3
ROWN           3
DK             3
ED             3
GA             3
WITE           3
K.             3
BLAVK          3
GY0            3
Gold           3
ORY            3
BERG           3
BKSL           3
BRUG           3
BRUN           3
Other          3
BIL            3
BKH            3
MRGL           3
TIT            3
WL             3
RDPR           3
LTBLU          3
WHIE.          3
YWV            3
WH```          3
TL             3
VL             3
BRWH           3
B LK           3
WT.;           3
GYO            3
BIGE           3
QBLUE          3
CHRYS          3
BLKWT          3
ORTN           3
BLACJ          3
BLIE           3
BK,WH          3
REDQ           3
BK7[           3
PKGL           3
VW             3
BBLAC          3
RW             3
PRUPL          3
KHAKI          3
RD-GY          3
RADIU          3
SLU            3
MK             3
GYXV           3
BLL            3
BKGHJ          3
YELO           3
LTGY0          3
BR69           3
WHT1           3
BKDS           3
ORBR           3
BULE           3
GY/WH          3
WTBLK          3
EHT            3
LT-BL          3
BL  =          3
ALMON          3
`              3
YWGR           3
YWPR           3
REDWH          3
BTN            3
BK WT          3
MAUVE          3
YW'BL          3
YL.            3
OGANG          3
PWTR           3
BK/GY          3
SLATE          3
SIL-S          3
BL`            3
Z              3
BL'WH          3
WHS            3
COPPR          3
BLAQ           3
LTGY1          2
WH,            2
LTBR0          2
VOLVO          2
GY NO          2
GAN            2
BRAY           2
YH             2
SUB            2
G Y            2
REDE           2
WHKMK          2
GYX            2
GYC            2
MUR            2
GYSW           2
GY**+          2
BKNO           2
WHITY          2
RD3SZ          2
GY74           2
GREEY          2
WHITG          2
YLO            2
DK-GY          2
FL             2
. .            2
BL.'/          2
BL-WH          2
BKM            2
GYH H          2
+++++          2
T N.           2
TRUCK          2
GYZ            2
BK NO          2
BKM,           2
SMART          2
PUROL          2
SILR           2
BTOWN          2
PD             2
..M            2
TELL           2
QBLK           2
RDHI           2
WH___          2
BRU76          2
BK..3          2
WH4LO          2
QGRAY          2
BL0            2
BKA            2
GY3M           2
O*             2
WHJ            2
GY+            2
OTHE           2
BRNZE          2
BON            2
YLLO           2
GYA            2
BKL,           2
GYKK           2
++             2
QBK            2
BRE            2
YLN            2
NR             2
BH             2
TW.            2
BLGY0          2
BUC            2
BRP            2
PRBL           2
VVH            2
GLGL           2
GROR           2
BRI            2
NN             2
GY231          2
YWGL           2
BL8            2
.K             2
B R            2
HRAY           2
BEUGE          2
TED            2
ORRD           2
HREY           2
BLKI           2
B]             2
GYII           2
DKGY?          2
BUGR           2
WH RD          2
WH78           2
BLK,           2
GREER          2
QBLAC          2
STEEL          2
GNMTL          2
REN            2
GB.            2
SIVE           2
CHRY           2
BBK            2
MCY            2
BL[P           2
PKGR           2
BNZ.           2
BKK.           2
WH BK          2
VLUE           2
CR             2
WT RD          2
HR             2
GYR            2
Bronz          2
RES            2
MN SL          2
EHITE          2
JEEP           2
FRY            2
D              2
TNJJJ          2
WEH            2
HA.            2
GR0            2
BLKCK          2
SUV            2
GRREN          2
GRU.           2
RD WH          2
ORA.           2
MOT            2
OAG            2
BK-OG          2
YWL.           2
LEXUS          2
RUST.          2
RD TN          2
.M             2
ORE            2
BR/GY          2
INFIN          2
GR/BK          2
TOWN           2
SULVE          2
BEIGO          2
BLCAK          2
MH             2
BK/RD          2
WTE.           2
RED/W          2
WOODL          2
GH             2
BRGD           2
GDN            2
BEGR           2
GREAY          2
SAGE.          2
BE.            2
YLLW.          2
BKQ            2
.N             2
GY TN          2
B/W            2
BK/WH          2
BLKAC          2
D.GRE          2
WT BL          2
I              2
DKYW           2
KENWO          2
OHT            2
NOCLR          2
GE             2
BK/BL          2
SILEV          2
GRI            2
CADI           2
WHL            2
SSLV           2
D G            2
LTGY.          2
RL             2
BL'GY          2
QRED           2
WHI/U          2
MUTLI          2
BRPR           2
ORAN.          2
MVE            2
BACK           2
MUIT           2
SILVW          2
MI             2
WGUTE          2
BWG            2
WB             2
BKACJ          2
PICK           2
BRGY.          2
BRB            2
BRZ.           2
WE.            2
SUKVE          2
BKACK          2
TNMR           2
GLY            2
WHQ            2
WHITH          2
BEN            2
GREEE          2
RR             2
SLIVR          2
BLLK           2
ORGR           2
IW             2
HRY            2
BLD            2
PPL.           2
PEWTR          2
WEST           2
CHAM.          2
NOCLB          2
GRO            2
WHW            2
BGD            2
WJITE          2
RB             2
SYL            2
SL-BL          2
REDD           2
NLU            2
FY             2
DBLUE          2
VOLKS          2
WGT            2
HU             2
YWOR           2
YL-WH          2
RDHKB          2
PLC            2
PRZ            2
DARKG          2
WHY.           2
GRQWW          2
WHZZ           2
YWTN           1
GY G           1
SO VE          1
CREME          1
DARKB          1
HRU            1
...            1
BRISE          1
BURDU          1
BROWW          1
AUDI           1
THEN           1
LB             1
BLF            1
BLACI          1
N-A            1
OA             1
Y/W            1
TAD            1
LUMIN          1
ME/BE          1
CAR            1
WT TN          1
SIU            1
DGN            1
FRAY           1
SILBR          1
CH             1
BK;            1
GLKPP          1
';             1
WHGY8          1
ORYW           1
GY2            1
ORAE           1
..-            1
ORGEN          1
MGY.           1
TA/Y           1
BWNE           1
VK.            1
TWH.           1
PURPE          1
WJY            1
DLIVE          1
BNZ            1
WHTW           1
PRUP           1
PEUTC          1
YELOO          1
GRV            1
SRV            1
C V            1
R/P            1
VK             1
BIEG           1
YELL/          1
BBROW          1
TOW            1
.....          1
BLABK          1
BNN            1
KBK            1
YLOW           1
OLD            1

In [16]:
df.index.isin(['BLUE', 'RED']) # Mask

array([False, False, False, ..., False, False, False], shape=(12495734,))

In [17]:
df.loc[df.index.isin(['BLUE', 'RED']), 'Vehicle Make']

Vehicle Color
RED     CMCKU
BLUE    CADIL
RED     DODGE
RED      JEEP
BLUE      MCI
        ...
BLUE      BMW
BLUE    CHRYS
RED     MITSU
RED       NaN
BLUE    TINDO
Name: Vehicle Make, Length: 339991, dtype: object

In [18]:
df.loc[df.index.isin(['BLUE']), 'Vehicle Make'].value_counts().head(1)

Vehicle Make
HONDA    22627
Name: count, dtype: int64

In [19]:
df.loc[df.index.isin(['RED']), 'Vehicle Make'].value_counts().head(1)

Vehicle Make
HONDA    16726
Name: count, dtype: int64

The correct answer is the below one, because the question says: Determine the most common make of vehicles that were ``either red or blue.``

In [20]:
df.loc[['RED', 'BLUE'], 'Vehicle Make'].value_counts().head(1)

Vehicle Make
HONDA    39353
Name: count, dtype: int64

### Beyond the exercise

What three car makes were most often ticketed from January 2 through January 10?

In [21]:
df

,Issue Date,Plate ID,Registration State,Vehicle Make,Street Name,Date First Observed
Vehicle Color,,,,,,
BK,05/08/1972 12:00:00 AM,J58JKX,NJ,HONDA,43 ST,0
BLK,08/29/1977 12:00:00 AM,KRE6058,PA,ME/BE,UNION ST,0
BLACK,10/03/1988 12:00:00 AM,444326R,NJ,LEXUS,CLERMONT AVENUE,0
NaN,01/03/1990 12:00:00 AM,F728330,OH,CHEVR,DIVISION AVE,0
GREY,02/14/1990 12:00:00 AM,FMY9090,NY,JEEP,GRAND ST,0
...,...,...,...,...,...,...
BR,01/03/2040 12:00:00 AM,62161MM,NY,FORD,3RD AVE,0
BLK,04/19/2045 12:00:00 AM,GYE7330,NY,HONDA,PELHAM PARK DR,0
GY,01/17/2049 12:00:00 AM,HNY4802,NY,FORD,LYDIG AVE,0
BLK,12/19/2063 12:00:00 AM,T687081C,NY,TOYOT,E 68 STREET,0
WHITE,06/04/2064 12:00:00 AM,3497ZN,WA,UTILI,W/S/O 182 STREET,0

In [22]:
df = df.reset_index()
df

,Vehicle Color,Issue Date,Plate ID,Registration State,Vehicle Make,Street Name,Date First Observed
0,BK,05/08/1972 12:00:00 AM,J58JKX,NJ,HONDA,43 ST,0
1,BLK,08/29/1977 12:00:00 AM,KRE6058,PA,ME/BE,UNION ST,0
2,BLACK,10/03/1988 12:00:00 AM,444326R,NJ,LEXUS,CLERMONT AVENUE,0
3,NaN,01/03/1990 12:00:00 AM,F728330,OH,CHEVR,DIVISION AVE,0
4,GREY,02/14/1990 12:00:00 AM,FMY9090,NY,JEEP,GRAND ST,0
...,...,...,...,...,...,...,...
12495729,BR,01/03/2040 12:00:00 AM,62161MM,NY,FORD,3RD AVE,0
12495730,BLK,04/19/2045 12:00:00 AM,GYE7330,NY,HONDA,PELHAM PARK DR,0
12495731,GY,01/17/2049 12:00:00 AM,HNY4802,NY,FORD,LYDIG AVE,0
12495732,BLK,12/19/2063 12:00:00 AM,T687081C,NY,TOYOT,E 68 STREET,0
12495733,WHITE,06/04/2064 12:00:00 AM,3497ZN,WA,UTILI,W/S/O 182 STREET,0

In [23]:
df = df.set_index('Issue Date')

In [24]:
df.index

Index(['05/08/1972 12:00:00 AM', '08/29/1977 12:00:00 AM',
       '10/03/1988 12:00:00 AM', '01/03/1990 12:00:00 AM',
       '02/14/1990 12:00:00 AM', '07/21/1990 12:00:00 AM',
       '09/19/1990 12:00:00 AM', '10/14/1990 12:00:00 AM',
       '07/25/1991 12:00:00 AM', '01/01/2000 12:00:00 AM',
       ...
       '10/01/2030 12:00:00 AM', '10/29/2030 12:00:00 AM',
       '03/03/2031 12:00:00 AM', '12/30/2031 12:00:00 AM',
       '06/25/2033 12:00:00 AM', '01/03/2040 12:00:00 AM',
       '04/19/2045 12:00:00 AM', '01/17/2049 12:00:00 AM',
       '12/19/2063 12:00:00 AM', '06/04/2064 12:00:00 AM'],
      dtype='object', name='Issue Date', length=12495734)

In [25]:
df = df.sort_index()
df

,Vehicle Color,Plate ID,Registration State,Vehicle Make,Street Name,Date First Observed
Issue Date,,,,,,
01/01/2000 12:00:00 AM,RED,6542FR,99,CMCKU,E 54 ST,0
01/01/2019 12:00:00 AM,BLK,T753575C,NY,TOYOT,101 AVDE,0
01/01/2019 12:00:00 AM,GOLD,JMJ4156,99,HONDA,BELMUNT,0
01/01/2019 12:00:00 AM,GY,JMU9251,NY,HONDA,175 ST,0
01/01/2019 12:00:00 AM,WHT,AV32960,CT,MITSU,W/O 106 ST,0
...,...,...,...,...,...,...
12/31/2020 12:00:00 AM,BLUE,GKM2944,NY,HONDA,ATLANTIC AVE,0
12/31/2020 12:00:00 AM,NaN,M54FDG,NJ,JEEP,8TH ST,0
12/31/2020 12:00:00 AM,GL,DDH3509,NY,LEXUS,E/S/O 129TH STREET,0
12/31/2020 12:00:00 AM,YELLO,Y100808C,NY,NISSA,E 171,0
12/31/2020 12:00:00 AM,BK,T764428C,NY,HONDA,BWAY,0

In [26]:
df.loc['01/02/2020 12:00:00 AM']

,Vehicle Color,Plate ID,Registration State,Vehicle Make,Street Name,Date First Observed
Issue Date,,,,,,
01/02/2020 12:00:00 AM,WH,HSU1133,NY,VOLKS,NB OCEAN PKWY @ BEVE,0
01/02/2020 12:00:00 AM,BL,JCC7346,NY,AUDI,EB 73RD AVE @ 153RD,0
01/02/2020 12:00:00 AM,BR,HLG6754,NY,BUICK,SB CROSS BAY BLVD @,0
01/02/2020 12:00:00 AM,GY,JAA5010,NY,HYUND,WB UNION TPKE @ WOOD,0
01/02/2020 12:00:00 AM,BK,JKB4113,NY,BMW,NB BAYCHESTER AVE @,0
...,...,...,...,...,...,...
01/02/2020 12:00:00 AM,WH,HRK9026,NY,HONDA,EB W 14TH STREET @ 5,0
01/02/2020 12:00:00 AM,GY,JKZ7470,NY,BMW,NB ROGERS AVE @ ERAS,0
01/02/2020 12:00:00 AM,GY,GKB5891,NY,JEEP,SB FRESH POND RD @ W,0
01/02/2020 12:00:00 AM,GY,HTC9218,NY,AUDI,WB W 14TH STREET @ 6,0
01/02/2020 12:00:00 AM,GY,HXS5079,NY,MAZDA,EB W 14TH STREET @ 7,0

In [27]:
df.loc['01/02/2020 12:00:00 AM':'01/10/2020 23:59:59', 'Vehicle Make'].value_counts().head(3)

Vehicle Make
FORD     38958
TOYOT    37096
HONDA    35962
Name: count, dtype: int64

How many tickets did the second-most-ticketed car get in 2020? (And why am I not interested in the most-ticketed plate?) What state was that car from, and was it always ticketed in the same location?

In [30]:
df = df.reset_index()

In [33]:
df

,Issue Date,Vehicle Color,Plate ID,Registration State,Vehicle Make,Street Name,Date First Observed
0,01/01/2000 12:00:00 AM,RED,6542FR,99,CMCKU,E 54 ST,0
1,01/01/2019 12:00:00 AM,BLK,T753575C,NY,TOYOT,101 AVDE,0
2,01/01/2019 12:00:00 AM,GOLD,JMJ4156,99,HONDA,BELMUNT,0
3,01/01/2019 12:00:00 AM,GY,JMU9251,NY,HONDA,175 ST,0
4,01/01/2019 12:00:00 AM,WHT,AV32960,CT,MITSU,W/O 106 ST,0
...,...,...,...,...,...,...,...
12495729,12/31/2020 12:00:00 AM,BLUE,GKM2944,NY,HONDA,ATLANTIC AVE,0
12495730,12/31/2020 12:00:00 AM,NaN,M54FDG,NJ,JEEP,8TH ST,0
12495731,12/31/2020 12:00:00 AM,GL,DDH3509,NY,LEXUS,E/S/O 129TH STREET,0
12495732,12/31/2020 12:00:00 AM,YELLO,Y100808C,NY,NISSA,E 171,0
12495733,12/31/2020 12:00:00 AM,BK,T764428C,NY,HONDA,BWAY,0

In [34]:
df['Plate ID'].value_counts().head(2)

Plate ID
BLANKPLATE    8882
2704819       1535
Name: count, dtype: int64

In [35]:
df = df.set_index('Plate ID')
df

,Issue Date,Vehicle Color,Registration State,Vehicle Make,Street Name,Date First Observed
Plate ID,,,,,,
6542FR,01/01/2000 12:00:00 AM,RED,99,CMCKU,E 54 ST,0
T753575C,01/01/2019 12:00:00 AM,BLK,NY,TOYOT,101 AVDE,0
JMJ4156,01/01/2019 12:00:00 AM,GOLD,99,HONDA,BELMUNT,0
JMU9251,01/01/2019 12:00:00 AM,GY,NY,HONDA,175 ST,0
AV32960,01/01/2019 12:00:00 AM,WHT,CT,MITSU,W/O 106 ST,0
...,...,...,...,...,...,...
GKM2944,12/31/2020 12:00:00 AM,BLUE,NY,HONDA,ATLANTIC AVE,0
M54FDG,12/31/2020 12:00:00 AM,NaN,NJ,JEEP,8TH ST,0
DDH3509,12/31/2020 12:00:00 AM,GL,NY,LEXUS,E/S/O 129TH STREET,0
Y100808C,12/31/2020 12:00:00 AM,YELLO,NY,NISSA,E 171,0
T764428C,12/31/2020 12:00:00 AM,BK,NY,HONDA,BWAY,0

In [ ]:
df.loc['2704819', 'Registration State'] # It's from Indiana

Plate ID
2704819    IN
2704819    IN
2704819    IN
2704819    IN
2704819    IN
           ..
2704819    IN
2704819    IN
2704819    IN
2704819    IN
2704819    IN
Name: Registration State, Length: 1535, dtype: object

In [37]:
# was it always ticketed in the same place?  No, but there were a lot in the same area...
df.loc['2704819', 'Street Name'].value_counts()

Street Name
8th Ave        395
Penn Plz       230
7th Ave         92
9th Ave         63
Broadway        57
              ...
Fashion Ave      1
W 47 STREET      1
10TH AVE         1
N/S 34 ST        1
W 43 ST          1
Name: count, Length: 113, dtype: int64

Would it be useful to set the index to "Date First Observed"? Why or why not?

In [39]:

# Not very useful -- the value is set to 0 for 99% of the values!

df = df.reset_index()
df['Date First Observed'].value_counts()

Date First Observed
0           12371344
20200311         887
20200205         795
20200212         793
20200310         770
              ...
20190204           1
20200920           1
20181129           1
20201209           1
20201230           1
Name: count, Length: 465, dtype: int64