In [1]:
import pandas as pd
from pandas import IndexSlice as idx

In [2]:
file_path ='../../pandas-workout-data/data/olympic_athlete_events.csv'
columns = ['Age', 'Height', 'Team', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal']

In [3]:
df = pd.read_csv(
    filepath_or_buffer=file_path, 
    usecols=columns, 
    index_col=['Year', 'Season', 'Sport', 'Event'])
df

                                                                     Age  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball               24.0
2012 Summer Judo          Judo Men's Extra-Lightweight              23.0
1920 Summer Football      Football Men's Football                   24.0
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               34.0
1988 Winter Speed Skating Speed Skating Women's 500 metres          21.0
...                                                                  ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                29.0
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual  27.0
                          Ski Jumping Men's Large Hill, Team        27.0
1998 Winter Bobsleigh     Bobsleigh Men's Four                      30.0
2002 Winter Bobsleigh     Bobsleigh Men's Four                      34.0

                                                                    Height  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                180.0
2012 Summer Judo          Judo Men's Extra-Lightweight               170.0
1920 Summer Football      Football Men's Football                      NaN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                  NaN
1988 Winter Speed Skating Speed Skating Women's 500 metres           185.0
...                                                                    ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                 179.0
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual   176.0
                          Ski Jumping Men's Large Hill, Team         176.0
1998 Winter Bobsleigh     Bobsleigh Men's Four                       185.0
2002 Winter Bobsleigh     Bobsleigh Men's Four                       185.0

                                                                              Team  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                        China
2012 Summer Judo          Judo Men's Extra-Lightweight                       China
1920 Summer Football      Football Men's Football                          Denmark
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               Denmark/Sweden
1988 Winter Speed Skating Speed Skating Women's 500 metres             Netherlands
...                                                                            ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                      Poland-1
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual          Poland
                          Ski Jumping Men's Large Hill, Team                Poland
1998 Winter Bobsleigh     Bobsleigh Men's Four                              Poland
2002 Winter Bobsleigh     Bobsleigh Men's Four                              Poland

                                                                              City  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                    Barcelona
2012 Summer Judo          Judo Men's Extra-Lightweight                      London
1920 Summer Football      Football Men's Football                        Antwerpen
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                        Paris
1988 Winter Speed Skating Speed Skating Women's 500 metres                 Calgary
...                                                                            ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                     Innsbruck
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual           Sochi
                          Ski Jumping Men's Large Hill, Team                 Sochi
1998 Winter Bobsleigh     Bobsleigh Men's Four                              Nagano
2002 Winter Bobsleigh     Bobsleigh Men's Four                      Salt Lake City

                                                                   Medal
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                NaN
2012 Summer Judo          Judo Men's Extra-Lightweight               NaN
1920 Summer Football      Football Men's Football                    NaN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               Gold
1988 Winter Speed Skating Speed Skating Women's 500 metres           NaN
...                                                                  ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                 NaN
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual   NaN
                          Ski Jumping Men's Large Hill, Team         NaN
1998 Winter Bobsleigh     Bobsleigh Men's Four                       NaN
2002 Winter Bobsleigh     Bobsleigh Men's Four                       NaN

[271116 rows x 5 columns]

In [4]:
df = df.sort_index()

In [5]:
df

                                                                  Age  Height  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               24.0     NaN
                      Athletics Men's 1,500 metres                NaN     NaN
                      Athletics Men's 1,500 metres               22.0     NaN
                      Athletics Men's 1,500 metres               23.0   154.0
                      Athletics Men's 1,500 metres               21.0     NaN
...                                                               ...     ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle  33.0   161.0
                      Wrestling Women's Middleweight, Freestyle  26.0   170.0
                      Wrestling Women's Middleweight, Freestyle  25.0   170.0
                      Wrestling Women's Middleweight, Freestyle  21.0   170.0
                      Wrestling Women's Middleweight, Freestyle  25.0   163.0

                                                                          Team  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               United States
                      Athletics Men's 1,500 metres                      Greece
                      Athletics Men's 1,500 metres                   Australia
                      Athletics Men's 1,500 metres                     Germany
                      Athletics Men's 1,500 metres                      Greece
...                                                                        ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle        Hungary
                      Wrestling Women's Middleweight, Freestyle       Mongolia
                      Wrestling Women's Middleweight, Freestyle         Russia
                      Wrestling Women's Middleweight, Freestyle          China
                      Wrestling Women's Middleweight, Freestyle       Bulgaria

                                                                           City  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
...                                                                         ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro

                                                                  Medal
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               Silver
                      Athletics Men's 1,500 metres                  NaN
                      Athletics Men's 1,500 metres                 Gold
                      Athletics Men's 1,500 metres                  NaN
                      Athletics Men's 1,500 metres                  NaN
...                                                                 ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle     NaN
                      Wrestling Women's Middleweight, Freestyle     NaN
                      Wrestling Women's Middleweight, Freestyle     NaN
                      Wrestling Women's Middleweight, Freestyle     NaN
                      Wrestling Women's Middleweight, Freestyle     NaN

[271116 rows x 5 columns]

### What is the average age of winning athletes in summer games held between 1936 and 2000?

In [8]:
df.loc[(slice(1936,2000), 'Summer'), 'Age']

Year  Season  Sport             Event
1936  Summer  Aeronautics       Aeronautics Mixed Aeronautics                                 26.0
              Alpinism          Alpinism Mixed Alpinism                                       49.0
                                Alpinism Mixed Alpinism                                       43.0
              Art Competitions  Art Competitions Mixed Architecture, Architectural Designs    47.0
                                Art Competitions Mixed Architecture, Architectural Designs    47.0
                                                                                              ...
2000  Summer  Wrestling         Wrestling Men's Welterweight, Greco-Roman                     28.0
                                Wrestling Men's Welterweight, Greco-Roman                     27.0
                                Wrestling Men's Welterweight, Greco-Roman                     31.0
                                Wrestling Men's Welterweight, Greco-Roman                     32.0
                                Wrestling Men's Welterweight, Greco-Roman                     20.0
Name: Age, Length: 138922, dtype: float64

In [7]:
df.loc[(slice(1936,2000), ['Summer']), 'Age'].mean()

np.float64(25.026883940421765)

### What team has won the most medals in all archery events?

- We’re interested in all years, so we specify slice(None) for the first index level.
- Archery is only a summer sport, so we can either indicate Summer for the second level or use slice(None).
- In the third level, we explicitly specify Archery so we only get rows for archery events.
- We ignore the fourth level, effectively making it a wildcard.

In [8]:
df.loc[(slice(None), slice(None),'Archery')]

                                                   Age  Height  \
Year Season Event
1900 Summer Archery Men's Au Chapelet, 33 metres  43.0     NaN
            Archery Men's Au Chapelet, 33 metres  33.0     NaN
            Archery Men's Au Chapelet, 33 metres  34.0     NaN
            Archery Men's Au Chapelet, 50 metres  26.0     NaN
            Archery Men's Au Chapelet, 50 metres   NaN     NaN
...                                                ...     ...
2016 Summer Archery Women's Team                  23.0   183.0
            Archery Women's Team                  26.0   176.0
            Archery Women's Team                  22.0   158.0
            Archery Women's Team                  21.0   175.0
            Archery Women's Team                  19.0   164.0

                                                            Team  \
Year Season Event
1900 Summer Archery Men's Au Chapelet, 33 metres          France
            Archery Men's Au Chapelet, 33 metres          France
            Archery Men's Au Chapelet, 33 metres         Belgium
            Archery Men's Au Chapelet, 50 metres          France
            Archery Men's Au Chapelet, 50 metres          France
...                                                          ...
2016 Summer Archery Women's Team                         Ukraine
            Archery Women's Team                          Russia
            Archery Women's Team                  Chinese Taipei
            Archery Women's Team                          Mexico
            Archery Women's Team                           China

                                                            City   Medal
Year Season Event
1900 Summer Archery Men's Au Chapelet, 33 metres           Paris  Bronze
            Archery Men's Au Chapelet, 33 metres           Paris  Silver
            Archery Men's Au Chapelet, 33 metres           Paris    Gold
            Archery Men's Au Chapelet, 50 metres           Paris  Silver
            Archery Men's Au Chapelet, 50 metres           Paris  Bronze
...                                                          ...     ...
2016 Summer Archery Women's Team                  Rio de Janeiro     NaN
            Archery Women's Team                  Rio de Janeiro  Silver
            Archery Women's Team                  Rio de Janeiro  Bronze
            Archery Women's Team                  Rio de Janeiro     NaN
            Archery Women's Team                  Rio de Janeiro     NaN

[2334 rows x 5 columns]

In [9]:
df.loc[(slice(None), 'Summer', 'Archery')]

                                            Age  Height            Team  \
Year Event
1900 Archery Men's Au Chapelet, 33 metres  43.0     NaN          France
     Archery Men's Au Chapelet, 33 metres  33.0     NaN          France
     Archery Men's Au Chapelet, 33 metres  34.0     NaN         Belgium
     Archery Men's Au Chapelet, 50 metres  26.0     NaN          France
     Archery Men's Au Chapelet, 50 metres   NaN     NaN          France
...                                         ...     ...             ...
2016 Archery Women's Team                  23.0   183.0         Ukraine
     Archery Women's Team                  26.0   176.0          Russia
     Archery Women's Team                  22.0   158.0  Chinese Taipei
     Archery Women's Team                  21.0   175.0          Mexico
     Archery Women's Team                  19.0   164.0           China

                                                     City   Medal
Year Event
1900 Archery Men's Au Chapelet, 33 metres           Paris  Bronze
     Archery Men's Au Chapelet, 33 metres           Paris  Silver
     Archery Men's Au Chapelet, 33 metres           Paris    Gold
     Archery Men's Au Chapelet, 50 metres           Paris  Silver
     Archery Men's Au Chapelet, 50 metres           Paris  Bronze
...                                                   ...     ...
2016 Archery Women's Team                  Rio de Janeiro     NaN
     Archery Women's Team                  Rio de Janeiro  Silver
     Archery Women's Team                  Rio de Janeiro  Bronze
     Archery Women's Team                  Rio de Janeiro     NaN
     Archery Women's Team                  Rio de Janeiro     NaN

[2334 rows x 5 columns]

In [10]:
df.dropna() # This remove every row whichs contains a NaN value

                                                                  Age  Height  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 100 metres                 21.0   183.0
                      Athletics Men's 100 metres                 24.0   167.0
                      Athletics Men's 100 metres                 21.0   170.0
                      Athletics Men's 110 metres Hurdles         23.0   176.0
                      Athletics Men's 400 metres                 21.0   183.0
...                                                               ...     ...
2016 Summer Wrestling Wrestling Women's Lightweight, Freestyle   23.0   164.0
                      Wrestling Women's Middleweight, Freestyle  21.0   160.0
                      Wrestling Women's Middleweight, Freestyle  22.0   158.0
                      Wrestling Women's Middleweight, Freestyle  23.0   163.0
                      Wrestling Women's Middleweight, Freestyle  36.0   167.0

                                                                          Team  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 100 metres                 United States
                      Athletics Men's 100 metres                       Germany
                      Athletics Men's 100 metres                 United States
                      Athletics Men's 110 metres Hurdles         United States
                      Athletics Men's 400 metres                 United States
...                                                                        ...
2016 Summer Wrestling Wrestling Women's Lightweight, Freestyle          Russia
                      Wrestling Women's Middleweight, Freestyle          Japan
                      Wrestling Women's Middleweight, Freestyle     Kazakhstan
                      Wrestling Women's Middleweight, Freestyle        Belarus
                      Wrestling Women's Middleweight, Freestyle         Poland

                                                                           City  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 100 metres                         Athina
                      Athletics Men's 100 metres                         Athina
                      Athletics Men's 100 metres                         Athina
                      Athletics Men's 110 metres Hurdles                 Athina
                      Athletics Men's 400 metres                         Athina
...                                                                         ...
2016 Summer Wrestling Wrestling Women's Lightweight, Freestyle   Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro

                                                                  Medal
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 100 metres                   Gold
                      Athletics Men's 100 metres                 Silver
                      Athletics Men's 100 metres                 Bronze
                      Athletics Men's 110 metres Hurdles           Gold
                      Athletics Men's 400 metres                   Gold
...                                                                 ...
2016 Summer Wrestling Wrestling Women's Lightweight, Freestyle   Silver
                      Wrestling Women's Middleweight, Freestyle    Gold
                      Wrestling Women's Middleweight, Freestyle  Bronze
                      Wrestling Women's Middleweight, Freestyle  Silver
                      Wrestling Women's Middleweight, Freestyle  Bronze

[31049 rows x 5 columns]

In [11]:
df.dropna(subset='Medal') # This way we specifie a list of column names to consider when dropping rows

                                                                  Age  Height  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               24.0     NaN
                      Athletics Men's 1,500 metres               22.0     NaN
                      Athletics Men's 1,500 metres               21.0     NaN
                      Athletics Men's 100 metres                 21.0   183.0
                      Athletics Men's 100 metres                 24.0   167.0
...                                                               ...     ...
2016 Summer Wrestling Wrestling Women's Lightweight, Freestyle   23.0   164.0
                      Wrestling Women's Middleweight, Freestyle  21.0   160.0
                      Wrestling Women's Middleweight, Freestyle  22.0   158.0
                      Wrestling Women's Middleweight, Freestyle  23.0   163.0
                      Wrestling Women's Middleweight, Freestyle  36.0   167.0

                                                                          Team  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               United States
                      Athletics Men's 1,500 metres                   Australia
                      Athletics Men's 1,500 metres                      France
                      Athletics Men's 100 metres                 United States
                      Athletics Men's 100 metres                       Germany
...                                                                        ...
2016 Summer Wrestling Wrestling Women's Lightweight, Freestyle          Russia
                      Wrestling Women's Middleweight, Freestyle          Japan
                      Wrestling Women's Middleweight, Freestyle     Kazakhstan
                      Wrestling Women's Middleweight, Freestyle        Belarus
                      Wrestling Women's Middleweight, Freestyle         Poland

                                                                           City  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 100 metres                         Athina
                      Athletics Men's 100 metres                         Athina
...                                                                         ...
2016 Summer Wrestling Wrestling Women's Lightweight, Freestyle   Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro

                                                                  Medal
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               Silver
                      Athletics Men's 1,500 metres                 Gold
                      Athletics Men's 1,500 metres               Bronze
                      Athletics Men's 100 metres                   Gold
                      Athletics Men's 100 metres                 Silver
...                                                                 ...
2016 Summer Wrestling Wrestling Women's Lightweight, Freestyle   Silver
                      Wrestling Women's Middleweight, Freestyle    Gold
                      Wrestling Women's Middleweight, Freestyle  Bronze
                      Wrestling Women's Middleweight, Freestyle  Silver
                      Wrestling Women's Middleweight, Freestyle  Bronze

[39783 rows x 5 columns]

When subset is used, dropna() only considers missing values within these specified columns for dropping rows. Missing values in other columns are ignored.

In [12]:
(
    df
    .dropna(subset=['Medal'])
    .loc[(slice(None), slice(None), 'Archery')])

                                                   Age  Height  \
Year Season Event
1900 Summer Archery Men's Au Chapelet, 33 metres  43.0     NaN
            Archery Men's Au Chapelet, 33 metres  33.0     NaN
            Archery Men's Au Chapelet, 33 metres  34.0     NaN
            Archery Men's Au Chapelet, 50 metres  26.0     NaN
            Archery Men's Au Chapelet, 50 metres   NaN     NaN
...                                                ...     ...
2016 Summer Archery Women's Team                  26.0   165.0
            Archery Women's Team                  23.0   160.0
            Archery Women's Team                  27.0   169.0
            Archery Women's Team                  26.0   176.0
            Archery Women's Team                  22.0   158.0

                                                            Team  \
Year Season Event
1900 Summer Archery Men's Au Chapelet, 33 metres          France
            Archery Men's Au Chapelet, 33 metres          France
            Archery Men's Au Chapelet, 33 metres         Belgium
            Archery Men's Au Chapelet, 50 metres          France
            Archery Men's Au Chapelet, 50 metres          France
...                                                          ...
2016 Summer Archery Women's Team                  Chinese Taipei
            Archery Women's Team                  Chinese Taipei
            Archery Women's Team                          Russia
            Archery Women's Team                          Russia
            Archery Women's Team                  Chinese Taipei

                                                            City   Medal
Year Season Event
1900 Summer Archery Men's Au Chapelet, 33 metres           Paris  Bronze
            Archery Men's Au Chapelet, 33 metres           Paris  Silver
            Archery Men's Au Chapelet, 33 metres           Paris    Gold
            Archery Men's Au Chapelet, 50 metres           Paris  Silver
            Archery Men's Au Chapelet, 50 metres           Paris  Bronze
...                                                          ...     ...
2016 Summer Archery Women's Team                  Rio de Janeiro  Bronze
            Archery Women's Team                  Rio de Janeiro  Bronze
            Archery Women's Team                  Rio de Janeiro  Silver
            Archery Women's Team                  Rio de Janeiro  Silver
            Archery Women's Team                  Rio de Janeiro  Bronze

[353 rows x 5 columns]

In [13]:
(
    df
    .dropna(subset=['Medal'])
    .loc[(slice(None), slice(None), 'Archery')]
    .value_counts()
)

Age   Height  Team             City       Medal
17.0  165.0   South Korea      Seoul      Gold      2
      167.0   South Korea      Sydney     Gold      2
22.0  168.0   Unified Team     Barcelona  Bronze    2
18.0  180.0   Great Britain    Barcelona  Bronze    2
21.0  170.0   South Korea      Athina     Gold      2
                                                   ..
42.0  174.0   Boston Archers   St. Louis  Bronze    1
      175.0   Italy            Beijing    Silver    1
44.0  168.0   Poland           Munich     Silver    1
45.0  191.0   United States    Sydney     Bronze    1
63.0  165.0   Potomac Archers  St. Louis  Gold      1
Name: count, Length: 200, dtype: int64

In [14]:
# Final answer
(
    df
    .dropna(subset=['Medal']) # get a new df
    .loc[(slice(None), slice(None), 'Archery'), 'Team']
    .value_counts()
)

Team
South Korea           69
Belgium               52
France                48
United States         41
China                 19
Italy                 15
Great Britain         13
Chinese Taipei         9
Netherlands            9
Ukraine                8
Cincinnati Archers     8
Japan                  7
Germany                7
Soviet Union           7
Finland                6
Australia              5
Boston Archers         4
Unified Team           4
Potomac Archers        4
Russia                 4
Poland                 4
Spain                  3
Indonesia              3
Sweden                 2
Mexico                 2
Name: count, dtype: int64

### Starting in 1980, what is the average height of the event known as "Table Tennis Women's Team"?

In [15]:
df.loc[(slice(180,None), slice(None), slice(None), "Table Tennis Women's Team"), 'Height']

Year  Season  Sport         Event
2008  Summer  Table Tennis  Table Tennis Women's Team    181.0
                            Table Tennis Women's Team    164.0
                            Table Tennis Women's Team    171.0
                            Table Tennis Women's Team    158.0
                            Table Tennis Women's Team    169.0
                                                         ...
2016  Summer  Table Tennis  Table Tennis Women's Team    166.0
                            Table Tennis Women's Team    166.0
                            Table Tennis Women's Team    162.0
                            Table Tennis Women's Team    165.0
                            Table Tennis Women's Team    168.0
Name: Height, Length: 145, dtype: float64

In [16]:
df.loc[(slice(180,None), slice(None), slice(None), "Table Tennis Women's Team"), 'Height'].mean()

np.float64(165.04827586206898)

### Starting in 1980, what is the average height of either "Table Tennis Women's Team" or "Table Tennis Men's Team"?

In [17]:
df.loc[(slice(1980,None), slice(None), slice(None), ["Table Tennis Women's Team", "Table Tennis Men's Team"]), 'Height']

Year  Season  Sport         Event
2008  Summer  Table Tennis  Table Tennis Men's Team      181.0
                            Table Tennis Men's Team      178.0
                            Table Tennis Men's Team      175.0
                            Table Tennis Men's Team      173.0
                            Table Tennis Men's Team      165.0
                                                         ...
2016  Summer  Table Tennis  Table Tennis Women's Team    166.0
                            Table Tennis Women's Team    166.0
                            Table Tennis Women's Team    162.0
                            Table Tennis Women's Team    165.0
                            Table Tennis Women's Team    168.0
Name: Height, Length: 289, dtype: float64

In [18]:
df.loc[(slice(1980,None), slice(None), slice(None), ["Table Tennis Women's Team", "Table Tennis Men's Team"]), 'Height'].mean()

np.float64(171.26643598615917)

### How tall was the tallest-ever tennis player in Olympic games from 1980 until 2016?

In [19]:
df.loc[(slice(1980,2016), slice(None), 'Tennis'), 'Height']

Year  Season  Sport   Event
1988  Summer  Tennis  Tennis Men's Doubles      179.0
                      Tennis Men's Doubles      185.0
                      Tennis Men's Doubles      193.0
                      Tennis Men's Doubles      188.0
                      Tennis Men's Doubles      180.0
                                                ...
2016  Summer  Tennis  Tennis Women's Singles    175.0
                      Tennis Women's Singles    185.0
                      Tennis Women's Singles    179.0
                      Tennis Women's Singles    177.0
                      Tennis Women's Singles    170.0
Name: Height, Length: 2024, dtype: float64

In [20]:
df.loc[(slice(1980,2016), slice(None), 'Tennis'), 'Height'].max()

208.0

In [21]:
(
    df.loc[(slice(1980,2016), slice(None), 'Tennis'), 'Height']
    [df.loc[(slice(1980,2016), slice(None), 'Tennis'), 'Height'] == df.loc[(slice(1980,2016), slice(None), 'Tennis'), 'Height'].max()]

)

Year  Season  Sport   Event
2004  Summer  Tennis  Tennis Men's Singles    208.0
Name: Height, dtype: float64

In [22]:
df.loc[(slice(1980,2016), slice(None), 'Tennis'), 'Height'].idxmax()

(np.int64(2004), 'Summer', 'Tennis', "Tennis Men's Singles")

### Going deep

As we have already seen, **loc** makes retrieving data from multi-indexed data frames pretty straightforward. However, sometimes we may want to use a multi-index differently. ``Pandas provides two other methods: xs and IndexSlice.``

Let’s start with **xs**, which lets us accomplish what we did in exercise 23: find matches for certain levels within a multi-index. For example, one question in the previous exercise asked you to find the mean height of participants in the “Table Tennis Women’s Team” event from all Olympics years. ``Using loc, we had to tell pandas to accept all values for Year, all values for Season, and all values for Sport—in other words, we only checked the fourth level of the multi-index``: the event. Our query looked like this:

In [23]:
df.loc[(slice(None),
       'Summer',
       slice(None),
       "Table Tennis Women's Team"),
       'Height'
       ].mean()

np.float64(165.04827586206898)

Using **xs**, we can shorten that query to

In [24]:
df.xs("Table Tennis Women's Team",
      level='Event'
      ).loc[:, 'Height']

Year  Season  Sport
2008  Summer  Table Tennis    181.0
              Table Tennis    164.0
              Table Tennis    171.0
              Table Tennis    158.0
              Table Tennis    169.0
                              ...
2016  Summer  Table Tennis    166.0
              Table Tennis    166.0
              Table Tennis    162.0
              Table Tennis    165.0
              Table Tennis    168.0
Name: Height, Length: 145, dtype: float64

In [25]:
df.xs("Table Tennis Women's Team",
      level='Event'
      ).loc[:, 'Height'].mean()

np.float64(165.04827586206898)

In [26]:
df.xs(
    ('Summer', "Table Tennis Women's Team"),
    level=['Season', 'Event']
)

                    Age  Height           Team            City   Medal
Year Sport
2008 Table Tennis  26.0   181.0        Croatia         Beijing     NaN
     Table Tennis  21.0   164.0        Germany         Beijing     NaN
     Table Tennis  36.0   171.0        Croatia         Beijing     NaN
     Table Tennis  27.0   158.0    South Korea         Beijing  Bronze
     Table Tennis  20.0   169.0          Spain         Beijing     NaN
...                 ...     ...            ...             ...     ...
2016 Table Tennis  26.0   166.0      Singapore  Rio de Janeiro     NaN
     Table Tennis  20.0   166.0  United States  Rio de Janeiro     NaN
     Table Tennis  25.0   162.0      Australia  Rio de Janeiro     NaN
     Table Tennis  28.0   165.0  United States  Rio de Janeiro     NaN
     Table Tennis  22.0   168.0      Singapore  Rio de Janeiro     NaN

[145 rows x 5 columns]

In [27]:
df.xs(('Summer', "Table Tennis Women's Team"),
    level=['Season', 'Event']
).loc[:, 'Height']

Year  Sport
2008  Table Tennis    181.0
      Table Tennis    164.0
      Table Tennis    171.0
      Table Tennis    158.0
      Table Tennis    169.0
                      ...
2016  Table Tennis    166.0
      Table Tennis    166.0
      Table Tennis    162.0
      Table Tennis    165.0
      Table Tennis    168.0
Name: Height, Length: 145, dtype: float64

In [28]:
df.xs(('Summer', "Table Tennis Women's Team"),
    level=['Season', 'Event']
).loc[:, 'Height'].mean()

np.float64(165.04827586206898)

Notice that ``xs is a method`` and is thus invoked with round parentheses. By contrast, ``loc is an accessor attribute`` and is invoked with square brackets

A more general way to retrieve from a multi-index is **IndexSlice**. Remember when I mentioned earlier that we cannot use : inside round parentheses and thus need to say slice(None)? Well, ``IndexSlice solves that problem: it uses square brackets and can use slice syntax for any set of values. For example, we can say``

In [29]:
df.loc[idx[1980:2016, :, 'Swimming':'Table tennis'], :]

                                                                 Age  Height  \
Year Season Sport        Event
1980 Summer Swimming     Swimming Men's 1,500 metres Freestyle  19.0   185.0
                         Swimming Men's 1,500 metres Freestyle  18.0   181.0
                         Swimming Men's 1,500 metres Freestyle  19.0   178.0
                         Swimming Men's 1,500 metres Freestyle  21.0   184.0
                         Swimming Men's 1,500 metres Freestyle  16.0   174.0
...                                                              ...     ...
2016 Summer Table Tennis Table Tennis Women's Team              26.0   166.0
                         Table Tennis Women's Team              20.0   166.0
                         Table Tennis Women's Team              25.0   162.0
                         Table Tennis Women's Team              28.0   165.0
                         Table Tennis Women's Team              22.0   168.0

                                                                         Team  \
Year Season Sport        Event
1980 Summer Swimming     Swimming Men's 1,500 metres Freestyle  Great Britain
                         Swimming Men's 1,500 metres Freestyle   Soviet Union
                         Swimming Men's 1,500 metres Freestyle          Spain
                         Swimming Men's 1,500 metres Freestyle  Great Britain
                         Swimming Men's 1,500 metres Freestyle         Brazil
...                                                                       ...
2016 Summer Table Tennis Table Tennis Women's Team                  Singapore
                         Table Tennis Women's Team              United States
                         Table Tennis Women's Team                  Australia
                         Table Tennis Women's Team              United States
                         Table Tennis Women's Team                  Singapore

                                                                          City  \
Year Season Sport        Event
1980 Summer Swimming     Swimming Men's 1,500 metres Freestyle          Moskva
                         Swimming Men's 1,500 metres Freestyle          Moskva
                         Swimming Men's 1,500 metres Freestyle          Moskva
                         Swimming Men's 1,500 metres Freestyle          Moskva
                         Swimming Men's 1,500 metres Freestyle          Moskva
...                                                                        ...
2016 Summer Table Tennis Table Tennis Women's Team              Rio de Janeiro
                         Table Tennis Women's Team              Rio de Janeiro
                         Table Tennis Women's Team              Rio de Janeiro
                         Table Tennis Women's Team              Rio de Janeiro
                         Table Tennis Women's Team              Rio de Janeiro

                                                                 Medal
Year Season Sport        Event
1980 Summer Swimming     Swimming Men's 1,500 metres Freestyle     NaN
                         Swimming Men's 1,500 metres Freestyle  Silver
                         Swimming Men's 1,500 metres Freestyle     NaN
                         Swimming Men's 1,500 metres Freestyle     NaN
                         Swimming Men's 1,500 metres Freestyle     NaN
...                                                                ...
2016 Summer Table Tennis Table Tennis Women's Team                 NaN
                         Table Tennis Women's Team                 NaN
                         Table Tennis Women's Team                 NaN
                         Table Tennis Women's Team                 NaN
                         Table Tennis Women's Team                 NaN

[17935 rows x 5 columns]

 IndexSlice is syntactic sugar,

## Beyond the exercise

Events occur in either summer or winter Olympic games, but not both. As a result, the "Season" level in our multi-index is often unnecessary. Remove the "Season" level, and then find (again) the height of the **tallest tennis** player between 1980 and 2020.

In [30]:
df

                                                                  Age  Height  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               24.0     NaN
                      Athletics Men's 1,500 metres                NaN     NaN
                      Athletics Men's 1,500 metres               22.0     NaN
                      Athletics Men's 1,500 metres               23.0   154.0
                      Athletics Men's 1,500 metres               21.0     NaN
...                                                               ...     ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle  33.0   161.0
                      Wrestling Women's Middleweight, Freestyle  26.0   170.0
                      Wrestling Women's Middleweight, Freestyle  25.0   170.0
                      Wrestling Women's Middleweight, Freestyle  21.0   170.0
                      Wrestling Women's Middleweight, Freestyle  25.0   163.0

                                                                          Team  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               United States
                      Athletics Men's 1,500 metres                      Greece
                      Athletics Men's 1,500 metres                   Australia
                      Athletics Men's 1,500 metres                     Germany
                      Athletics Men's 1,500 metres                      Greece
...                                                                        ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle        Hungary
                      Wrestling Women's Middleweight, Freestyle       Mongolia
                      Wrestling Women's Middleweight, Freestyle         Russia
                      Wrestling Women's Middleweight, Freestyle          China
                      Wrestling Women's Middleweight, Freestyle       Bulgaria

                                                                           City  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
...                                                                         ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro

                                                                  Medal
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               Silver
                      Athletics Men's 1,500 metres                  NaN
                      Athletics Men's 1,500 metres                 Gold
                      Athletics Men's 1,500 metres                  NaN
                      Athletics Men's 1,500 metres                  NaN
...                                                                 ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle     NaN
                      Wrestling Women's Middleweight, Freestyle     NaN
                      Wrestling Women's Middleweight, Freestyle     NaN
                      Wrestling Women's Middleweight, Freestyle     NaN
                      Wrestling Women's Middleweight, Freestyle     NaN

[271116 rows x 5 columns]

In [31]:
df = df.reset_index('Season')
df

                                                          Season   Age  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres               Summer  24.0
               Athletics Men's 1,500 metres               Summer   NaN
               Athletics Men's 1,500 metres               Summer  22.0
               Athletics Men's 1,500 metres               Summer  23.0
               Athletics Men's 1,500 metres               Summer  21.0
...                                                          ...   ...
2016 Wrestling Wrestling Women's Middleweight, Freestyle  Summer  33.0
               Wrestling Women's Middleweight, Freestyle  Summer  26.0
               Wrestling Women's Middleweight, Freestyle  Summer  25.0
               Wrestling Women's Middleweight, Freestyle  Summer  21.0
               Wrestling Women's Middleweight, Freestyle  Summer  25.0

                                                          Height  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres                  NaN
               Athletics Men's 1,500 metres                  NaN
               Athletics Men's 1,500 metres                  NaN
               Athletics Men's 1,500 metres                154.0
               Athletics Men's 1,500 metres                  NaN
...                                                          ...
2016 Wrestling Wrestling Women's Middleweight, Freestyle   161.0
               Wrestling Women's Middleweight, Freestyle   170.0
               Wrestling Women's Middleweight, Freestyle   170.0
               Wrestling Women's Middleweight, Freestyle   170.0
               Wrestling Women's Middleweight, Freestyle   163.0

                                                                   Team  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres               United States
               Athletics Men's 1,500 metres                      Greece
               Athletics Men's 1,500 metres                   Australia
               Athletics Men's 1,500 metres                     Germany
               Athletics Men's 1,500 metres                      Greece
...                                                                 ...
2016 Wrestling Wrestling Women's Middleweight, Freestyle        Hungary
               Wrestling Women's Middleweight, Freestyle       Mongolia
               Wrestling Women's Middleweight, Freestyle         Russia
               Wrestling Women's Middleweight, Freestyle          China
               Wrestling Women's Middleweight, Freestyle       Bulgaria

                                                                    City  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres                       Athina
               Athletics Men's 1,500 metres                       Athina
               Athletics Men's 1,500 metres                       Athina
               Athletics Men's 1,500 metres                       Athina
               Athletics Men's 1,500 metres                       Athina
...                                                                  ...
2016 Wrestling Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle  Rio de Janeiro

                                                           Medal
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres               Silver
               Athletics Men's 1,500 metres                  NaN
               Athletics Men's 1,500 metres                 Gold
               Athletics Men's 1,500 metres                  NaN
               Athletics Men's 1,500 metres                  NaN
...                                                          ...
2016 Wrestling Wrestling Women's Middleweight, Freestyle     NaN
               Wrestling Women's Middleweight, Freestyle     NaN
               Wrestling Women's Middleweight, Freestyle     NaN
               Wrestling Women's Middleweight, Freestyle     NaN
               Wrestling Women's Middleweight, Freestyle     NaN

[271116 rows x 6 columns]

In [32]:
df.loc[(slice(1980,2020), 'Tennis'), 'Height']

Year  Sport   Event
1988  Tennis  Tennis Men's Doubles      179.0
              Tennis Men's Doubles      185.0
              Tennis Men's Doubles      193.0
              Tennis Men's Doubles      188.0
              Tennis Men's Doubles      180.0
                                        ...
2016  Tennis  Tennis Women's Singles    175.0
              Tennis Women's Singles    185.0
              Tennis Women's Singles    179.0
              Tennis Women's Singles    177.0
              Tennis Women's Singles    170.0
Name: Height, Length: 2024, dtype: float64

In [33]:
df.loc[(slice(1980,2020), 'Tennis'), 'Height'].max()

208.0

In which city were the most gold medals awarded from 1980 onward?

In [34]:
(df
 .dropna(subset=['Medal'])
 .loc[(slice(1980,None)), ['City', 'Medal']])

                                                                    City  \
Year Sport     Event
1980 Archery   Archery Men's Individual                           Moskva
               Archery Men's Individual                           Moskva
               Archery Men's Individual                           Moskva
               Archery Women's Individual                         Moskva
               Archery Women's Individual                         Moskva
...                                                                  ...
2016 Wrestling Wrestling Women's Lightweight, Freestyle   Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle  Rio de Janeiro

                                                           Medal
Year Sport     Event
1980 Archery   Archery Men's Individual                   Bronze
               Archery Men's Individual                   Silver
               Archery Men's Individual                     Gold
               Archery Women's Individual                 Silver
               Archery Women's Individual                   Gold
...                                                          ...
2016 Wrestling Wrestling Women's Lightweight, Freestyle   Silver
               Wrestling Women's Middleweight, Freestyle    Gold
               Wrestling Women's Middleweight, Freestyle  Bronze
               Wrestling Women's Middleweight, Freestyle  Silver
               Wrestling Women's Middleweight, Freestyle  Bronze

[21926 rows x 2 columns]

In [35]:
df.loc[df['Medal'] == 'Gold']

                                                               Season   Age  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres                    Summer  22.0
               Athletics Men's 100 metres                      Summer  21.0
               Athletics Men's 110 metres Hurdles              Summer  23.0
               Athletics Men's 400 metres                      Summer  21.0
               Athletics Men's 800 metres                      Summer  22.0
...                                                               ...   ...
2016 Wrestling Wrestling Women's Flyweight, Freestyle          Summer  22.0
               Wrestling Women's Heavyweight, Freestyle        Summer  27.0
               Wrestling Women's Light-Heavyweight, Freestyle  Summer  21.0
               Wrestling Women's Lightweight, Freestyle        Summer  32.0
               Wrestling Women's Middleweight, Freestyle       Summer  21.0

                                                               Height  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres                       NaN
               Athletics Men's 100 metres                       183.0
               Athletics Men's 110 metres Hurdles               176.0
               Athletics Men's 400 metres                       183.0
               Athletics Men's 800 metres                         NaN
...                                                               ...
2016 Wrestling Wrestling Women's Flyweight, Freestyle           152.0
               Wrestling Women's Heavyweight, Freestyle         175.0
               Wrestling Women's Light-Heavyweight, Freestyle   159.0
               Wrestling Women's Lightweight, Freestyle         166.0
               Wrestling Women's Middleweight, Freestyle        160.0

                                                                        Team  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres                        Australia
               Athletics Men's 100 metres                      United States
               Athletics Men's 110 metres Hurdles              United States
               Athletics Men's 400 metres                      United States
               Athletics Men's 800 metres                          Australia
...                                                                      ...
2016 Wrestling Wrestling Women's Flyweight, Freestyle                  Japan
               Wrestling Women's Heavyweight, Freestyle               Canada
               Wrestling Women's Light-Heavyweight, Freestyle          Japan
               Wrestling Women's Lightweight, Freestyle                Japan
               Wrestling Women's Middleweight, Freestyle               Japan

                                                                         City  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres                            Athina
               Athletics Men's 100 metres                              Athina
               Athletics Men's 110 metres Hurdles                      Athina
               Athletics Men's 400 metres                              Athina
               Athletics Men's 800 metres                              Athina
...                                                                       ...
2016 Wrestling Wrestling Women's Flyweight, Freestyle          Rio de Janeiro
               Wrestling Women's Heavyweight, Freestyle        Rio de Janeiro
               Wrestling Women's Light-Heavyweight, Freestyle  Rio de Janeiro
               Wrestling Women's Lightweight, Freestyle        Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle       Rio de Janeiro

                                                              Medal
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres                    Gold
               Athletics Men's 100 metres                      Gold
               Athletics Men's 110 metres Hurdles              Gold
               Athletics Men's 400 metres                      Gold
               Athletics Men's 800 metres                      Gold
...                                                             ...
2016 Wrestling Wrestling Women's Flyweight, Freestyle          Gold
               Wrestling Women's Heavyweight, Freestyle        Gold
               Wrestling Women's Light-Heavyweight, Freestyle  Gold
               Wrestling Women's Lightweight, Freestyle        Gold
               Wrestling Women's Middleweight, Freestyle       Gold

[13372 rows x 6 columns]

In [36]:
(
    df.loc[df['Medal'] == 'Gold']
    .loc[(slice(1980,None)), 'City']
    .value_counts()
    .head(10)
)

City
Beijing           671
Rio de Janeiro    665
Athina            664
Sydney            663
London            632
Atlanta           608
Barcelona         559
Seoul             520
Los Angeles       497
Moskva            457
Name: count, dtype: int64

In [37]:
df.loc[1980:].loc[lambda df_: df_['Medal'] == 'Gold', 'City'].value_counts() # Author's solution (How lambda expression works (?))

City
Beijing           671
Rio de Janeiro    665
Athina            664
Sydney            663
London            632
Atlanta           608
Barcelona         559
Seoul             520
Los Angeles       497
Moskva            457
Sochi             202
Torino            176
Vancouver         174
Salt Lake City    162
Nagano            145
Lillehammer       110
Albertville       104
Calgary            87
Sarajevo           74
Lake Placid        72
Name: count, dtype: int64

How many gold medals were received by the United States since 1980? (Use the index to select the values.)

In [38]:
df

                                                          Season   Age  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres               Summer  24.0
               Athletics Men's 1,500 metres               Summer   NaN
               Athletics Men's 1,500 metres               Summer  22.0
               Athletics Men's 1,500 metres               Summer  23.0
               Athletics Men's 1,500 metres               Summer  21.0
...                                                          ...   ...
2016 Wrestling Wrestling Women's Middleweight, Freestyle  Summer  33.0
               Wrestling Women's Middleweight, Freestyle  Summer  26.0
               Wrestling Women's Middleweight, Freestyle  Summer  25.0
               Wrestling Women's Middleweight, Freestyle  Summer  21.0
               Wrestling Women's Middleweight, Freestyle  Summer  25.0

                                                          Height  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres                  NaN
               Athletics Men's 1,500 metres                  NaN
               Athletics Men's 1,500 metres                  NaN
               Athletics Men's 1,500 metres                154.0
               Athletics Men's 1,500 metres                  NaN
...                                                          ...
2016 Wrestling Wrestling Women's Middleweight, Freestyle   161.0
               Wrestling Women's Middleweight, Freestyle   170.0
               Wrestling Women's Middleweight, Freestyle   170.0
               Wrestling Women's Middleweight, Freestyle   170.0
               Wrestling Women's Middleweight, Freestyle   163.0

                                                                   Team  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres               United States
               Athletics Men's 1,500 metres                      Greece
               Athletics Men's 1,500 metres                   Australia
               Athletics Men's 1,500 metres                     Germany
               Athletics Men's 1,500 metres                      Greece
...                                                                 ...
2016 Wrestling Wrestling Women's Middleweight, Freestyle        Hungary
               Wrestling Women's Middleweight, Freestyle       Mongolia
               Wrestling Women's Middleweight, Freestyle         Russia
               Wrestling Women's Middleweight, Freestyle          China
               Wrestling Women's Middleweight, Freestyle       Bulgaria

                                                                    City  \
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres                       Athina
               Athletics Men's 1,500 metres                       Athina
               Athletics Men's 1,500 metres                       Athina
               Athletics Men's 1,500 metres                       Athina
               Athletics Men's 1,500 metres                       Athina
...                                                                  ...
2016 Wrestling Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
               Wrestling Women's Middleweight, Freestyle  Rio de Janeiro

                                                           Medal
Year Sport     Event
1896 Athletics Athletics Men's 1,500 metres               Silver
               Athletics Men's 1,500 metres                  NaN
               Athletics Men's 1,500 metres                 Gold
               Athletics Men's 1,500 metres                  NaN
               Athletics Men's 1,500 metres                  NaN
...                                                          ...
2016 Wrestling Wrestling Women's Middleweight, Freestyle     NaN
               Wrestling Women's Middleweight, Freestyle     NaN
               Wrestling Women's Middleweight, Freestyle     NaN
               Wrestling Women's Middleweight, Freestyle     NaN
               Wrestling Women's Middleweight, Freestyle     NaN

[271116 rows x 6 columns]

In [39]:
df = df.reset_index()
df

,Year,Sport,Event,Season,Age,Height,Team,City,Medal
0,1896,Athletics,"Athletics Men's 1,500 metres",Summer,24.0,NaN,United States,Athina,Silver
1,1896,Athletics,"Athletics Men's 1,500 metres",Summer,NaN,NaN,Greece,Athina,NaN
2,1896,Athletics,"Athletics Men's 1,500 metres",Summer,22.0,NaN,Australia,Athina,Gold
3,1896,Athletics,"Athletics Men's 1,500 metres",Summer,23.0,154.0,Germany,Athina,NaN
4,1896,Athletics,"Athletics Men's 1,500 metres",Summer,21.0,NaN,Greece,Athina,NaN
...,...,...,...,...,...,...,...,...,...
271111,2016,Wrestling,"Wrestling Women's Middleweight, Freestyle",Summer,33.0,161.0,Hungary,Rio de Janeiro,NaN
271112,2016,Wrestling,"Wrestling Women's Middleweight, Freestyle",Summer,26.0,170.0,Mongolia,Rio de Janeiro,NaN
271113,2016,Wrestling,"Wrestling Women's Middleweight, Freestyle",Summer,25.0,170.0,Russia,Rio de Janeiro,NaN
271114,2016,Wrestling,"Wrestling Women's Middleweight, Freestyle",Summer,21.0,170.0,China,Rio de Janeiro,NaN
271115,2016,Wrestling,"Wrestling Women's Middleweight, Freestyle",Summer,25.0,163.0,Bulgaria,Rio de Janeiro,NaN

In [40]:
df = df.set_index(['Year', 'Team'])
df

                        Sport                                      Event  \
Year Team
1896 United States  Athletics               Athletics Men's 1,500 metres
     Greece         Athletics               Athletics Men's 1,500 metres
     Australia      Athletics               Athletics Men's 1,500 metres
     Germany        Athletics               Athletics Men's 1,500 metres
     Greece         Athletics               Athletics Men's 1,500 metres
...                       ...                                        ...
2016 Hungary        Wrestling  Wrestling Women's Middleweight, Freestyle
     Mongolia       Wrestling  Wrestling Women's Middleweight, Freestyle
     Russia         Wrestling  Wrestling Women's Middleweight, Freestyle
     China          Wrestling  Wrestling Women's Middleweight, Freestyle
     Bulgaria       Wrestling  Wrestling Women's Middleweight, Freestyle

                    Season   Age  Height            City   Medal
Year Team
1896 United States  Summer  24.0     NaN          Athina  Silver
     Greece         Summer   NaN     NaN          Athina     NaN
     Australia      Summer  22.0     NaN          Athina    Gold
     Germany        Summer  23.0   154.0          Athina     NaN
     Greece         Summer  21.0     NaN          Athina     NaN
...                    ...   ...     ...             ...     ...
2016 Hungary        Summer  33.0   161.0  Rio de Janeiro     NaN
     Mongolia       Summer  26.0   170.0  Rio de Janeiro     NaN
     Russia         Summer  25.0   170.0  Rio de Janeiro     NaN
     China          Summer  21.0   170.0  Rio de Janeiro     NaN
     Bulgaria       Summer  25.0   163.0  Rio de Janeiro     NaN

[271116 rows x 7 columns]

In [41]:
df.loc[(slice(1980,None), 'United States'), 'Medal']

Year  Team
1980  United States     NaN
      United States     NaN
      United States     NaN
      United States     NaN
      United States     NaN
                       ...
2016  United States     NaN
      United States    Gold
      United States     NaN
      United States     NaN
      United States     NaN
Name: Medal, Length: 8858, dtype: object

In [42]:
(
    df.loc[(slice(1980,None), 'United States'), 'Medal']
    [df.loc[(slice(1980,None), 'United States'),'Medal'] == 'Gold'] # Boolean mask
)

Year  Team
1980  United States    Gold
      United States    Gold
      United States    Gold
      United States    Gold
      United States    Gold
                       ...
2016  United States    Gold
      United States    Gold
      United States    Gold
      United States    Gold
      United States    Gold
Name: Medal, Length: 1257, dtype: object

In [43]:
(
    df.loc[(slice(1980,None), 'United States'), 'Medal']
    [df.loc[(slice(1980,None), 'United States'),'Medal'] == 'Gold'] # Boolean mask
    .value_counts()
)

Medal
Gold    1257
Name: count, dtype: int64

In [44]:
(
    df[df['Medal'] == 'Gold'] # Boolean mask
    .loc[(slice(1980,None), 'United States'), 'Medal']
)

Year  Team
1980  United States    Gold
      United States    Gold
      United States    Gold
      United States    Gold
      United States    Gold
                       ...
2016  United States    Gold
      United States    Gold
      United States    Gold
      United States    Gold
      United States    Gold
Name: Medal, Length: 1257, dtype: object

In [45]:
(
    df[df['Medal'] == 'Gold']
    .loc[(slice(1980,None), 'United States'), 'Medal']
    .value_counts()
)

Medal
Gold    1257
Name: count, dtype: int64