In [1]:
import pandas as pd
import numpy as np

In [4]:
path = '../../pandas-workout-data/data/olympic_athlete_events.csv'
columns = ['Age', 'Height', 'Team', 'Year', 'Season', 'Sport', 'Medal']

In [5]:
df = pd.read_csv(filepath_or_buffer=path, usecols=columns)
df

         Age  Height            Team  Year  Season          Sport Medal
0       24.0   180.0           China  1992  Summer     Basketball   NaN
1       23.0   170.0           China  2012  Summer           Judo   NaN
2       24.0     NaN         Denmark  1920  Summer       Football   NaN
3       34.0     NaN  Denmark/Sweden  1900  Summer     Tug-Of-War  Gold
4       21.0   185.0     Netherlands  1988  Winter  Speed Skating   NaN
...      ...     ...             ...   ...     ...            ...   ...
271111  29.0   179.0        Poland-1  1976  Winter           Luge   NaN
271112  27.0   176.0          Poland  2014  Winter    Ski Jumping   NaN
271113  27.0   176.0          Poland  2014  Winter    Ski Jumping   NaN
271114  30.0   185.0          Poland  1998  Winter      Bobsleigh   NaN
271115  34.0   185.0          Poland  2002  Winter      Bobsleigh   NaN

[271116 rows x 7 columns]

Notice that we don’t set the index. That’s because we ignore the index in this exercise, focusing instead on pivot tables. Because the pivot tables are constructed based on actual columns and not the index, we’ll stick with the default numeric index that pandas assigns to every data frame.

Only include data from these countries: Great Britain, France, United States, Switzerland, China, and India.

In [6]:
countries = ['Great Britain', 'France', 'United States', 'Switzerland', 'China', 'India']

In [10]:
df = df[df['Team'].isin(countries)]
df

         Age  Height           Team  Year  Season                 Sport Medal
0       24.0   180.0          China  1992  Summer            Basketball   NaN
1       23.0   170.0          China  2012  Summer                  Judo   NaN
10      31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
11      31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
12      31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
...      ...     ...            ...   ...     ...                   ...   ...
271041  24.0   182.0    Switzerland  1968  Summer                Rowing   NaN
271042  29.0     NaN    Switzerland  1956  Winter  Cross Country Skiing   NaN
271043  29.0     NaN    Switzerland  1956  Winter  Cross Country Skiing   NaN
271044  25.0   175.0  United States  1964  Summer             Athletics   NaN
271107  21.0   175.0  United States  1972  Summer              Football   NaN

[53458 rows x 7 columns]

Only include games from 1980 to the present.

In [12]:
df = df[df['Year'] >= 1980]
df

         Age  Height           Team  Year  Season                 Sport Medal
0       24.0   180.0          China  1992  Summer            Basketball   NaN
1       23.0   170.0          China  2012  Summer                  Judo   NaN
10      31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
11      31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
12      31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
...      ...     ...            ...   ...     ...                   ...   ...
270996  24.0   186.0    Switzerland  2002  Winter              Biathlon   NaN
270997  24.0   186.0    Switzerland  2002  Winter              Biathlon   NaN
271021  26.0   175.0    Switzerland  1984  Summer               Sailing   NaN
271036  22.0   183.0         France  1998  Winter            Ice Hockey   NaN
271037  26.0   183.0         France  2002  Winter            Ice Hockey   NaN

[27893 rows x 7 columns]

With our data frame in place, we can create pivot tables to examine our data from a new perspective.

What was the average age of Olympic athletes? In which country do players appear to consistently be the youngest?

In [24]:
df.pivot_table(index='Year',
               columns='Team',
               values='Age')

Team,China,France,Great Britain,India,Switzerland,United States
Year,,,,,,
1980,21.868421,23.524590,22.882507,25.506667,24.557823,22.770992
1984,22.076336,24.369830,24.445423,24.905660,23.589744,24.437118
1988,22.358447,24.520076,25.439560,24.000000,26.218868,24.904977
1992,21.955752,25.140187,25.584055,24.184615,25.413194,25.474866
1994,20.627907,24.601307,25.282051,NaN,25.500000,24.976744
1996,22.021531,25.296629,26.746032,24.629630,27.122093,26.273277
1998,21.784091,25.462069,27.243902,16.000000,25.641509,25.146154
2000,22.515306,25.982833,26.406948,25.400000,27.376812,26.576203
2002,23.127451,25.737805,26.833333,20.000000,26.238710,25.726316
2004,23.006122,26.139073,26.303977,24.728395,27.343284,26.439093
2006,23.457143,26.303226,26.851852,25.200000,26.284848,25.637288
2008,23.903955,26.285714,25.200969,25.402985,27.312500,26.225806
2010,23.239669,25.911458,26.147059,25.666667,26.548387,25.841584
2012,23.894168,26.606635,25.922619,25.637363,27.172131,26.461883
2014,23.400000,25.708995,25.628571,25.000000,25.855814,26.189189
2016,23.873706,27.095238,26.653191,26.100000,25.891892,26.217454

In [26]:
df.pivot_table(index='Year',
               columns='Sport',
               values='Age')

Sport,Alpine Skiing,Archery,Athletics,Badminton,Baseball,Basketball,Beach Volleyball,Biathlon,Bobsleigh,Boxing,...,Synchronized Swimming,Table Tennis,Taekwondo,Tennis,Trampolining,Triathlon,Volleyball,Water Polo,Weightlifting,Wrestling
Year,,,,,,,,,,,,,,,,,,,,,
1980,21.607595,29.250000,24.206667,NaN,NaN,27.083333,NaN,26.744186,NaN,21.083333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.187500,23.625000
1984,22.130952,26.043478,24.794721,NaN,NaN,23.000000,NaN,25.214286,30.333333,21.600000,...,20.950000,NaN,NaN,NaN,NaN,NaN,24.478261,26.600000,23.972973,24.274510
1988,22.972414,26.160714,25.452323,NaN,NaN,23.673913,NaN,25.083333,NaN,22.107143,...,21.040000,24.640000,NaN,25.194444,NaN,NaN,24.978723,26.923077,24.277778,24.859649
1992,23.503311,23.925926,26.379121,24.484848,20.600000,26.000000,NaN,25.108434,NaN,22.166667,...,21.920000,24.969697,NaN,23.234043,NaN,NaN,25.458333,27.269231,24.800000,26.020833
1994,24.565217,NaN,NaN,NaN,NaN,NaN,NaN,26.656250,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,24.625000,27.166197,24.718750,20.700000,26.416667,30.666667,NaN,NaN,22.333333,...,22.000000,27.407407,NaN,24.153846,NaN,NaN,26.093750,26.538462,24.392857,26.838710
1998,24.899083,NaN,NaN,NaN,NaN,NaN,NaN,25.660714,28.875000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,26.742857,26.685393,24.700000,25.333333,27.423729,32.000000,NaN,NaN,23.172414,...,23.058824,26.950000,21.636364,24.255814,21.200000,28.538462,25.111111,26.153846,23.260870,27.586207
2002,25.268519,NaN,NaN,NaN,NaN,NaN,NaN,26.914894,31.750000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,25.666667,26.186047,25.714286,NaN,24.812500,29.500000,NaN,NaN,22.269231,...,23.560000,27.562500,23.166667,25.846154,22.000000,28.782609,27.000000,24.640000,26.720000,25.190476
2006,25.444444,NaN,NaN,NaN,NaN,NaN,NaN,27.255102,30.642857,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,NaN,27.437500,25.689459,25.363636,26.000000,25.854167,25.250000,NaN,NaN,22.461538,...,22.214286,29.920000,23.142857,24.725000,21.875000,27.560000,26.958333,24.215686,24.761905,25.977778
2010,25.718750,NaN,NaN,NaN,NaN,NaN,NaN,27.111111,34.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,NaN,26.385965,26.586111,26.318182,NaN,26.781250,28.000000,NaN,NaN,23.795455,...,22.607143,22.793103,25.307692,26.142857,23.750000,28.043478,27.150000,25.578125,24.625000,26.351351
2014,26.905172,NaN,NaN,NaN,NaN,NaN,NaN,25.927419,28.500000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,NaN,24.323529,26.123393,26.100000,NaN,26.805556,25.500000,NaN,NaN,23.909091,...,23.315789,24.628571,26.125000,27.388889,25.727273,27.000000,26.195652,24.960784,25.608696,25.277778

In [ ]:
df.pivot_table(
    index='Age',
    columns='Team',
    values='Height'
)

Team,China,France,Great Britain,India,Switzerland,United States
Age,,,,,,
13.0,163.500000,149.000000,162.500000,NaN,NaN,NaN
14.0,156.411765,149.636364,171.750000,NaN,NaN,149.722222
15.0,156.695122,154.388060,160.083333,165.000000,162.634146,155.805970
16.0,158.153153,160.778761,164.215686,171.545455,168.941176,159.945652
17.0,165.338542,166.743243,165.475728,164.142857,170.320000,167.931818
18.0,168.027397,174.361446,169.267241,170.555556,168.551020,170.727723
19.0,171.917563,172.587912,171.796813,169.620690,175.016129,173.422619
20.0,171.564433,174.787234,173.580071,166.756098,173.440000,175.969945
21.0,173.100446,174.552561,177.855305,170.916667,174.023392,176.815835
22.0,174.813793,177.530093,177.069705,167.840000,174.775330,177.362170
23.0,174.102620,176.371739,177.789709,168.879310,176.016529,176.980106
24.0,174.184713,176.377551,177.842640,170.016949,175.872180,177.325645
25.0,174.677922,176.656319,177.804627,173.508197,176.711382,177.832308
26.0,175.076220,177.992268,177.026946,170.981818,176.061135,177.702857
27.0,174.609319,178.398477,178.058201,173.116279,177.048780,177.594814
28.0,175.873016,177.192308,178.636029,171.321429,177.716667,178.627240
29.0,175.276316,178.010381,177.015564,173.375000,173.661871,177.175732
30.0,177.013514,176.782609,177.630542,174.095238,177.351562,178.390313
31.0,175.264151,178.318182,176.928571,174.238095,176.666667,177.512987
32.0,173.404762,179.178344,178.716418,166.300000,177.666667,178.231707
33.0,177.181818,178.283019,177.105263,176.363636,175.510204,177.647668
34.0,174.333333,175.558140,174.661765,179.785714,179.214286,177.785714
35.0,173.846154,176.985714,179.814815,174.600000,177.031250,177.424242
36.0,178.666667,176.527273,175.553571,172.750000,177.222222,180.539474
37.0,171.000000,173.666667,177.724138,179.000000,173.040000,177.343284
38.0,176.250000,174.857143,175.173913,174.111111,177.785714,176.446809
39.0,175.500000,174.666667,174.608696,185.000000,170.833333,177.189189
40.0,171.666667,175.750000,172.925926,178.000000,175.000000,176.974359
41.0,167.000000,170.909091,173.266667,NaN,171.400000,176.107143
42.0,NaN,168.833333,170.750000,173.000000,169.000000,167.769231
43.0,174.000000,173.000000,177.583333,174.500000,171.400000,179.400000
44.0,NaN,176.636364,169.333333,NaN,178.500000,176.555556
45.0,174.000000,170.100000,174.750000,170.000000,172.400000,180.500000
46.0,NaN,167.000000,173.500000,176.000000,163.000000,173.857143
47.0,NaN,180.500000,172.454545,NaN,172.444444,172.666667
48.0,NaN,180.000000,170.714286,NaN,183.000000,174.166667
49.0,NaN,166.285714,179.666667,NaN,171.250000,166.888889
50.0,NaN,169.750000,175.000000,NaN,175.000000,172.222222
51.0,NaN,166.400000,178.000000,NaN,NaN,173.000000
52.0,NaN,NaN,175.000000,NaN,166.333333,173.857143
53.0,NaN,167.500000,169.000000,NaN,166.000000,170.666667
54.0,NaN,NaN,175.000000,NaN,NaN,179.000000
55.0,NaN,NaN,165.000000,NaN,170.000000,NaN
56.0,NaN,NaN,172.333333,174.000000,NaN,157.000000
58.0,NaN,NaN,175.000000,NaN,NaN,191.000000
60.0,NaN,NaN,171.000000,NaN,NaN,NaN

How many medals did each country get in each year?

In [31]:
df.pivot_table(
    index='Year',
    columns='Team',
    values='Medal',
    aggfunc='count'
)

Team  China  France  Great Britain  India  Switzerland  United States
Year
1980    0.0    30.0           48.0   16.0          5.0           30.0
1984   74.0    70.0           71.0    0.0         17.0          359.0
1988   50.0    31.0           54.0    0.0         24.0          212.0
1992   73.0    65.0           50.0    0.0          2.0          236.0
1994    3.0    11.0            3.0    NaN          8.0           19.0
1996   94.0    49.0           26.0    1.0         11.0          255.0
1998   14.0    13.0            4.0    0.0         10.0           30.0
2000   65.0    64.0           52.0    1.0         14.0          240.0
2002   14.0    13.0            6.0    0.0         20.0           70.0
2004   82.0    53.0           55.0    1.0          5.0          259.0
2006    9.0    15.0            1.0    0.0         15.0           48.0
2008  170.0    77.0           81.0    3.0         11.0          309.0
2010   15.0    14.0            1.0    0.0         12.0           89.0
2012  117.0    78.0          122.0    6.0          4.0          238.0
2014   12.0    18.0           10.0    0.0         28.0           52.0
2016  109.0    96.0          145.0    2.0         11.0          256.0

In [33]:
df.pivot_table(
    index='Year',
    columns='Team',
    values='Medal',
    aggfunc='size'
)

Team  China  France  Great Britain  India  Switzerland  United States
Year
1980   38.0   244.0          384.0   78.0        147.0          131.0
1984  393.0   411.0          569.0   53.0        312.0          821.0
1988  438.0   524.0          547.0   58.0        265.0          886.0
1992  452.0   642.0          578.0   65.0        288.0          936.0
1994   43.0   153.0           39.0    NaN         94.0          215.0
1996  418.0   445.0          379.0   54.0        172.0          827.0
1998   88.0   145.0           41.0    1.0        106.0          260.0
2000  392.0   466.0          403.0   70.0        138.0          748.0
2002  102.0   164.0           54.0    1.0        155.0          285.0
2004  490.0   453.0          352.0   81.0        134.0          706.0
2006  140.0   155.0           54.0    5.0        165.0          295.0
2008  708.0   441.0          413.0   67.0        112.0          744.0
2010  121.0   192.0           68.0    3.0        186.0          303.0
2012  463.0   422.0          672.0   91.0        122.0          669.0
2014  105.0   189.0           70.0    2.0        215.0          333.0
2016  483.0   504.0          470.0  130.0        148.0          699.0

**Be aware**: ``size includes all values, including NaN, and count ignores them.``
You can get the same result doing:

In [37]:
(
    df
    .dropna(subset='Medal')
    .pivot_table(
        index='Year',
        columns='Team',
        values='Medal',
        aggfunc='size'
    )
)

Team  China  France  Great Britain  India  Switzerland  United States
Year
1980    NaN    30.0           48.0   16.0          5.0           30.0
1984   74.0    70.0           71.0    NaN         17.0          359.0
1988   50.0    31.0           54.0    NaN         24.0          212.0
1992   73.0    65.0           50.0    NaN          2.0          236.0
1994    3.0    11.0            3.0    NaN          8.0           19.0
1996   94.0    49.0           26.0    1.0         11.0          255.0
1998   14.0    13.0            4.0    NaN         10.0           30.0
2000   65.0    64.0           52.0    1.0         14.0          240.0
2002   14.0    13.0            6.0    NaN         20.0           70.0
2004   82.0    53.0           55.0    1.0          5.0          259.0
2006    9.0    15.0            1.0    NaN         15.0           48.0
2008  170.0    77.0           81.0    3.0         11.0          309.0
2010   15.0    14.0            1.0    NaN         12.0           89.0
2012  117.0    78.0          122.0    6.0          4.0          238.0
2014   12.0    18.0           10.0    NaN         28.0           52.0
2016  109.0    96.0          145.0    2.0         11.0          256.0

Find the tallest players in each sport from each year

In [29]:
df.pivot_table(
    index='Year',
    columns='Sport',
    values='Height',
    aggfunc='max'
)

Sport,Alpine Skiing,Archery,Athletics,Badminton,Baseball,Basketball,Beach Volleyball,Biathlon,Bobsleigh,Boxing,...,Synchronized Swimming,Table Tennis,Taekwondo,Tennis,Trampolining,Triathlon,Volleyball,Water Polo,Weightlifting,Wrestling
Year,,,,,,,,,,,,,,,,,,,,,
1980,184.0,185.0,197.0,NaN,NaN,196.0,NaN,190.0,NaN,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.0,205.0
1984,184.0,188.0,203.0,NaN,NaN,216.0,NaN,190.0,184.0,195.0,...,178.0,NaN,NaN,NaN,NaN,NaN,203.0,198.0,188.0,190.0
1988,185.0,188.0,203.0,NaN,NaN,216.0,NaN,188.0,NaN,196.0,...,180.0,185.0,NaN,193.0,NaN,NaN,203.0,205.0,190.0,193.0
1992,185.0,191.0,200.0,186.0,198.0,216.0,NaN,192.0,NaN,193.0,...,180.0,193.0,NaN,200.0,NaN,NaN,202.0,205.0,190.0,193.0
1994,188.0,NaN,NaN,NaN,NaN,NaN,NaN,192.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,191.0,198.0,189.0,195.0,216.0,193.0,NaN,NaN,191.0,...,181.0,193.0,NaN,200.0,NaN,NaN,203.0,200.0,195.0,194.0
1998,188.0,NaN,NaN,NaN,NaN,NaN,NaN,192.0,198.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,191.0,197.0,187.0,206.0,226.0,195.0,NaN,NaN,198.0,...,181.0,188.0,198.0,198.0,175.0,192.0,204.0,200.0,182.0,196.0
2002,189.0,NaN,NaN,NaN,NaN,NaN,NaN,192.0,190.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,193.0,203.0,190.0,NaN,226.0,192.0,NaN,NaN,190.0,...,177.0,193.0,198.0,188.0,172.0,191.0,209.0,203.0,180.0,195.0
2006,193.0,NaN,NaN,NaN,NaN,NaN,NaN,193.0,193.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,NaN,193.0,203.0,190.0,198.0,226.0,202.0,NaN,NaN,203.0,...,175.0,192.0,201.0,198.0,179.0,196.0,210.0,201.0,177.0,203.0
2010,193.0,NaN,NaN,NaN,NaN,NaN,NaN,193.0,191.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,NaN,193.0,208.0,191.0,NaN,221.0,202.0,NaN,NaN,201.0,...,178.0,188.0,201.0,206.0,179.0,191.0,206.0,203.0,189.0,203.0
2014,200.0,NaN,NaN,NaN,NaN,NaN,NaN,193.0,189.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,NaN,188.0,203.0,191.0,NaN,218.0,188.0,NaN,NaN,200.0,...,177.0,186.0,197.0,196.0,178.0,191.0,209.0,206.0,187.0,188.0

In [30]:
df.pivot_table(
    index='Sport',
    columns='Year',
    values='Height',
    aggfunc='max'
)

Year,1980,1984,1988,1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016
Sport,,,,,,,,,,,,,,,,
Alpine Skiing,184.0,184.0,185.0,185.0,188.0,NaN,188.0,NaN,189.0,NaN,193.0,NaN,193.0,NaN,200.0,NaN
Archery,185.0,188.0,188.0,191.0,NaN,191.0,NaN,191.0,NaN,193.0,NaN,193.0,NaN,193.0,NaN,188.0
Athletics,197.0,203.0,203.0,200.0,NaN,198.0,NaN,197.0,NaN,203.0,NaN,203.0,NaN,208.0,NaN,203.0
Badminton,NaN,NaN,NaN,186.0,NaN,189.0,NaN,187.0,NaN,190.0,NaN,190.0,NaN,191.0,NaN,191.0
Baseball,NaN,NaN,NaN,198.0,NaN,195.0,NaN,206.0,NaN,NaN,NaN,198.0,NaN,NaN,NaN,NaN
Basketball,196.0,216.0,216.0,216.0,NaN,216.0,NaN,226.0,NaN,226.0,NaN,226.0,NaN,221.0,NaN,218.0
Beach Volleyball,NaN,NaN,NaN,NaN,NaN,193.0,NaN,195.0,NaN,192.0,NaN,202.0,NaN,202.0,NaN,188.0
Biathlon,190.0,190.0,188.0,192.0,192.0,NaN,192.0,NaN,192.0,NaN,193.0,NaN,193.0,NaN,193.0,NaN
Bobsleigh,NaN,184.0,NaN,NaN,NaN,NaN,198.0,NaN,190.0,NaN,193.0,NaN,191.0,NaN,189.0,NaN
Boxing,190.0,195.0,196.0,193.0,NaN,191.0,NaN,198.0,NaN,190.0,NaN,203.0,NaN,201.0,NaN,200.0
Canoeing,203.0,203.0,203.0,203.0,NaN,205.0,NaN,203.0,NaN,190.0,NaN,200.0,NaN,194.0,NaN,191.0
Cross Country Skiing,185.0,189.0,186.0,190.0,190.0,NaN,185.0,NaN,188.0,NaN,188.0,NaN,193.0,NaN,193.0,NaN
Curling,NaN,NaN,NaN,NaN,NaN,NaN,188.0,NaN,193.0,NaN,183.0,NaN,189.0,NaN,192.0,NaN
Cycling,190.0,190.0,195.0,192.0,NaN,189.0,NaN,192.0,NaN,192.0,NaN,196.0,NaN,198.0,NaN,196.0
Diving,176.0,175.0,178.0,183.0,NaN,183.0,NaN,183.0,NaN,182.0,NaN,185.0,NaN,178.0,NaN,188.0
Equestrianism,179.0,187.0,187.0,184.0,NaN,196.0,NaN,187.0,NaN,196.0,NaN,196.0,NaN,196.0,NaN,196.0
Fencing,193.0,208.0,208.0,193.0,NaN,196.0,NaN,196.0,NaN,196.0,NaN,196.0,NaN,197.0,NaN,197.0
Figure Skating,183.0,182.0,180.0,182.0,182.0,NaN,182.0,NaN,183.0,NaN,188.0,NaN,188.0,NaN,193.0,NaN
Football,NaN,188.0,190.0,193.0,NaN,191.0,NaN,193.0,NaN,180.0,NaN,193.0,NaN,195.0,NaN,188.0
Freestyle Skiing,NaN,NaN,NaN,190.0,186.0,NaN,193.0,NaN,193.0,NaN,183.0,NaN,193.0,NaN,188.0,NaN
Golf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.0
Gymnastics,180.0,179.0,181.0,178.0,NaN,180.0,NaN,175.0,NaN,176.0,NaN,184.0,NaN,184.0,NaN,184.0
Handball,197.0,200.0,200.0,198.0,NaN,203.0,NaN,199.0,NaN,199.0,NaN,201.0,NaN,204.0,NaN,202.0
Hockey,179.0,190.0,189.0,193.0,NaN,196.0,NaN,196.0,NaN,196.0,NaN,189.0,NaN,189.0,NaN,193.0
Ice Hockey,193.0,193.0,195.0,194.0,195.0,NaN,195.0,NaN,190.0,NaN,195.0,NaN,196.0,NaN,198.0,NaN
Judo,196.0,204.0,204.0,196.0,NaN,205.0,NaN,202.0,NaN,202.0,NaN,203.0,NaN,203.0,NaN,203.0
Luge,188.0,188.0,183.0,188.0,188.0,NaN,188.0,NaN,185.0,NaN,188.0,NaN,188.0,NaN,188.0,NaN
Modern Pentathlon,185.0,188.0,190.0,190.0,NaN,185.0,NaN,186.0,NaN,191.0,NaN,188.0,NaN,188.0,NaN,194.0
Nordic Combined,193.0,183.0,193.0,183.0,180.0,NaN,181.0,NaN,183.0,NaN,183.0,NaN,190.0,NaN,190.0,NaN
Rhythmic Gymnastics,NaN,172.0,170.0,172.0,NaN,172.0,NaN,173.0,NaN,178.0,NaN,177.0,NaN,173.0,NaN,177.0
Rowing,198.0,205.0,205.0,205.0,NaN,205.0,NaN,204.0,NaN,207.0,NaN,207.0,NaN,206.0,NaN,207.0
Rugby Sevens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.0
Sailing,186.0,198.0,198.0,195.0,NaN,203.0,NaN,201.0,NaN,198.0,NaN,194.0,NaN,195.0,NaN,197.0
Shooting,183.0,189.0,190.0,190.0,NaN,195.0,NaN,188.0,NaN,192.0,NaN,192.0,NaN,198.0,NaN,200.0
Short Track Speed Skating,NaN,NaN,NaN,182.0,183.0,NaN,183.0,NaN,188.0,NaN,186.0,NaN,186.0,NaN,189.0,NaN
Skeleton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.0,NaN,185.0,NaN,185.0,NaN,190.0,NaN
Ski Jumping,185.0,180.0,185.0,190.0,185.0,NaN,185.0,NaN,185.0,NaN,190.0,NaN,190.0,NaN,190.0,NaN
Snowboarding,NaN,NaN,NaN,NaN,NaN,NaN,190.0,NaN,190.0,NaN,186.0,NaN,190.0,NaN,188.0,NaN
Softball,NaN,NaN,NaN,NaN,NaN,182.0,NaN,185.0,NaN,188.0,NaN,191.0,NaN,NaN,NaN,NaN
Speed Skating,185.0,190.0,193.0,193.0,186.0,NaN,186.0,NaN,193.0,NaN,188.0,NaN,203.0,NaN,193.0,NaN
Swimming,194.0,200.0,200.0,201.0,NaN,201.0,NaN,201.0,NaN,202.0,NaN,203.0,NaN,203.0,NaN,206.0
Synchronized Swimming,NaN,178.0,180.0,180.0,NaN,181.0,NaN,181.0,NaN,177.0,NaN,175.0,NaN,178.0,NaN,177.0
Table Tennis,NaN,NaN,185.0,193.0,NaN,193.0,NaN,188.0,NaN,193.0,NaN,192.0,NaN,188.0,NaN,186.0
Taekwondo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.0,NaN,198.0,NaN,201.0,NaN,201.0,NaN,197.0
Tennis,NaN,NaN,193.0,200.0,NaN,200.0,NaN,198.0,NaN,188.0,NaN,198.0,NaN,206.0,NaN,196.0
Trampolining,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175.0,NaN,172.0,NaN,179.0,NaN,179.0,NaN,178.0
Triathlon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.0,NaN,191.0,NaN,196.0,NaN,191.0,NaN,191.0
Volleyball,NaN,203.0,203.0,202.0,NaN,203.0,NaN,204.0,NaN,209.0,NaN,210.0,NaN,206.0,NaN,209.0
Water Polo,NaN,198.0,205.0,205.0,NaN,200.0,NaN,200.0,NaN,203.0,NaN,201.0,NaN,203.0,NaN,206.0
Weightlifting,180.0,188.0,190.0,190.0,NaN,195.0,NaN,182.0,NaN,180.0,NaN,177.0,NaN,189.0,NaN,187.0
Wrestling,205.0,190.0,193.0,193.0,NaN,194.0,NaN,196.0,NaN,195.0,NaN,203.0,NaN,203.0,NaN,188.0

### Beyond the exercise

Create a pivot table that shows the number of medals each team won per year, with the index including the year and the season in which the games took place.

In [39]:
df

         Age  Height           Team  Year  Season                 Sport Medal
0       24.0   180.0          China  1992  Summer            Basketball   NaN
1       23.0   170.0          China  2012  Summer                  Judo   NaN
10      31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
11      31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
12      31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
...      ...     ...            ...   ...     ...                   ...   ...
270996  24.0   186.0    Switzerland  2002  Winter              Biathlon   NaN
270997  24.0   186.0    Switzerland  2002  Winter              Biathlon   NaN
271021  26.0   175.0    Switzerland  1984  Summer               Sailing   NaN
271036  22.0   183.0         France  1998  Winter            Ice Hockey   NaN
271037  26.0   183.0         France  2002  Winter            Ice Hockey   NaN

[27893 rows x 7 columns]

In [42]:
(
    df
    .dropna(subset='Medal')
    .pivot_table(
        index=['Year', 'Season'],
        columns='Team',
        values='Medal',
        aggfunc='size')
)

Team         China  France  Great Britain  India  Switzerland  United States
Year Season
1980 Summer    NaN    29.0           47.0   16.0          2.0            NaN
     Winter    NaN     1.0            1.0    NaN          3.0           30.0
1984 Summer   74.0    67.0           71.0    NaN         13.0          352.0
     Winter    NaN     3.0            NaN    NaN          4.0            7.0
1988 Summer   50.0    29.0           54.0    NaN          8.0          207.0
     Winter    NaN     2.0            NaN    NaN         16.0            5.0
1992 Summer   70.0    55.0           50.0    NaN          1.0          222.0
     Winter    3.0    10.0            NaN    NaN          1.0           14.0
1994 Winter    3.0    11.0            3.0    NaN          8.0           19.0
1996 Summer   94.0    49.0           26.0    1.0         11.0          255.0
1998 Winter   14.0    13.0            4.0    NaN         10.0           30.0
2000 Summer   65.0    64.0           52.0    1.0         14.0          240.0
2002 Winter   14.0    13.0            6.0    NaN         20.0           70.0
2004 Summer   82.0    53.0           55.0    1.0          5.0          259.0
2006 Winter    9.0    15.0            1.0    NaN         15.0           48.0
2008 Summer  170.0    77.0           81.0    3.0         11.0          309.0
2010 Winter   15.0    14.0            1.0    NaN         12.0           89.0
2012 Summer  117.0    78.0          122.0    6.0          4.0          238.0
2014 Winter   12.0    18.0           10.0    NaN         28.0           52.0
2016 Summer  109.0    96.0          145.0    2.0         11.0          256.0

Create a pivot table that shows both the average age and the average height per year per team.

In [45]:
df.pivot_table(
    index='Year',
    columns='Team',
    values=['Height', 'Age'],
    aggfunc='mean'
)

            Age                                                                \
Team      China     France Great Britain      India Switzerland United States
Year
1980  21.868421  23.524590     22.882507  25.506667   24.557823     22.770992
1984  22.076336  24.369830     24.445423  24.905660   23.589744     24.437118
1988  22.358447  24.520076     25.439560  24.000000   26.218868     24.904977
1992  21.955752  25.140187     25.584055  24.184615   25.413194     25.474866
1994  20.627907  24.601307     25.282051        NaN   25.500000     24.976744
1996  22.021531  25.296629     26.746032  24.629630   27.122093     26.273277
1998  21.784091  25.462069     27.243902  16.000000   25.641509     25.146154
2000  22.515306  25.982833     26.406948  25.400000   27.376812     26.576203
2002  23.127451  25.737805     26.833333  20.000000   26.238710     25.726316
2004  23.006122  26.139073     26.303977  24.728395   27.343284     26.439093
2006  23.457143  26.303226     26.851852  25.200000   26.284848     25.637288
2008  23.903955  26.285714     25.200969  25.402985   27.312500     26.225806
2010  23.239669  25.911458     26.147059  25.666667   26.548387     25.841584
2012  23.894168  26.606635     25.922619  25.637363   27.172131     26.461883
2014  23.400000  25.708995     25.628571  25.000000   25.855814     26.189189
2016  23.873706  27.095238     26.653191  26.100000   25.891892     26.217454

          Height                                                    \
Team       China      France Great Britain       India Switzerland
Year
1980  162.636364  175.098765    175.443182  170.753247  177.007042
1984  171.612536  176.283920    174.407871  169.403846  173.421569
1988  171.298824  176.164659    176.079044  168.700000  176.614786
1992  171.000000  175.227769    176.148148  172.500000  175.333333
1994  169.233333  173.013072    172.918919         NaN  174.108696
1996  170.401442  174.487640    177.441489  171.785714  174.108434
1998  168.913580  174.827586    173.764706  183.000000  174.283019
2000  170.956633  176.231760    176.482587  173.333333  176.492754
2002  169.010000  175.774390    173.055556  183.000000  176.193548
2004  172.746939  176.114790    176.661932  169.913580  176.305970
2006  170.307143  174.038710    176.111111  167.800000  176.012121
2008  176.022760  176.963636    176.886199  173.119403  176.053571
2010  169.561983  174.765625    176.338235  176.000000  176.618280
2012  175.451404  177.335714    177.763040  173.567568  177.098361
2014  169.809524  173.772487    173.428571  170.000000  174.046512
2016  174.985507  177.748016    176.400000  169.967213  173.858108


Team United States
Year
1980    175.023622
1984    176.877451
1988    176.621993
1992    176.395676
1994    175.442857
1996    177.481333
1998    173.467181
2000    177.325269
2002    173.768421
2004    176.936080
2006    173.867797
2008    177.471774
2010    174.488449
2012    178.091181
2014    174.714715
2016    177.789398

In [50]:
df.pivot_table(
    index='Year',
    columns='Team',
    values=['Height', 'Age'],
    aggfunc='max'
)

       Age                                                      Height         \
Team China France Great Britain India Switzerland United States  China France
Year
1980  32.0   34.0          37.0  56.0        47.0          32.0  170.0  203.0
1984  30.0   50.0          47.0  45.0        52.0          49.0  216.0  214.0
1988  34.0   43.0          55.0  36.0        47.0          52.0  210.0  203.0
1992  35.0   47.0          48.0  38.0        53.0          54.0  215.0  203.0
1994  29.0   33.0          36.0   NaN        35.0          36.0  181.0  195.0
1996  39.0   53.0          48.0  46.0        49.0          50.0  215.0  201.0
1998  29.0   34.0          36.0  16.0        37.0          40.0  185.0  198.0
2000  39.0   46.0          52.0  38.0        53.0          46.0  226.0  218.0
2002  30.0   38.0          40.0  20.0        36.0          48.0  188.0  190.0
2004  43.0   50.0          48.0  43.0        55.0          52.0  226.0  202.0
2006  32.0   38.0          40.0  29.0        42.0          44.0  188.0  190.0
2008  45.0   51.0          53.0  42.0        45.0          58.0  226.0  203.0
2010  34.0   38.0          45.0  28.0        41.0          40.0  194.0  191.0
2012  41.0   49.0          56.0  39.0        49.0          54.0  221.0  208.0
2014  32.0   37.0          41.0  30.0        42.0          45.0  193.0  191.0
2016  38.0   53.0          60.0  43.0        50.0          52.0  218.0  215.0


Team Great Britain  India Switzerland United States
Year
1980         205.0  196.0       197.0         193.0
1984         203.0  188.0       204.0         213.0
1988         205.0  193.0       204.0         216.0
1992         205.0  188.0       200.0         216.0
1994         185.0    NaN       192.0         193.0
1996         205.0  191.0       200.0         216.0
1998         185.0  183.0       192.0         195.0
2000         204.0  195.0       197.0         207.0
2002         193.0  183.0       192.0         193.0
2004         207.0  195.0       197.0         213.0
2006         193.0  183.0       193.0         195.0
2008         207.0  192.0       197.0         211.0
2010         193.0  183.0       203.0         193.0
2012         211.0  196.0       198.0         216.0
2014         193.0  173.0       200.0         196.0
2016         207.0  200.0       194.0         211.0

Create a pivot table that shows the average age and the average height per year, per team, broken up by year and season.

In [48]:
df.pivot_table(
    index=['Year', 'Season'],
    columns='Team',
    values=['Height', 'Age'],
    aggfunc='mean'
)

                   Age                                                  \
Team             China     France Great Britain      India Switzerland
Year Season
1980 Summer        NaN  23.695000     22.764526  25.506667   25.325581
     Winter  21.868421  22.750000     23.571429        NaN   23.475410
1984 Summer  22.095975  24.302260     24.456693  24.905660   23.653061
     Winter  21.985714  24.789474     24.350000        NaN   23.358209
1988 Summer  22.456265  24.504854     25.781585  24.072727   27.602649
     Winter  19.600000  24.576577     23.417722  22.666667   24.385965
1992 Summer  21.960317  25.554622     25.859719  24.426230   26.333333
     Winter  21.932432  23.951807     23.820513  20.500000   24.068376
1994 Winter  20.627907  24.601307     25.282051        NaN   25.500000
1996 Summer  22.021531  25.296629     26.746032  24.629630   27.122093
1998 Winter  21.784091  25.462069     27.243902  16.000000   25.641509
2000 Summer  22.515306  25.982833     26.406948  25.400000   27.376812
2002 Winter  23.127451  25.737805     26.833333  20.000000   26.238710
2004 Summer  23.006122  26.139073     26.303977  24.728395   27.343284
2006 Winter  23.457143  26.303226     26.851852  25.200000   26.284848
2008 Summer  23.903955  26.285714     25.200969  25.402985   27.312500
2010 Winter  23.239669  25.911458     26.147059  25.666667   26.548387
2012 Summer  23.894168  26.606635     25.922619  25.637363   27.172131
2014 Winter  23.400000  25.708995     25.628571  25.000000   25.855814
2016 Summer  23.873706  27.095238     26.653191  26.100000   25.891892

                               Height                                        \
Team        United States       China      France Great Britain       India
Year Season
1980 Summer           NaN         NaN  175.890000    175.513761  170.753247
     Winter     22.770992  162.636364  171.418605    174.520000         NaN
1984 Summer     24.599132  172.074303  176.520115    174.437870  169.403846
     Winter     23.562500  166.285714  174.640000    174.115385         NaN
1988 Summer     25.213184  171.281324  176.186441    176.638710  168.700000
     Winter     23.619883  175.000000  176.058824    172.784810         NaN
1992 Summer     25.629986  170.948509  176.014706    176.562500  172.500000
     Winter     24.932692  171.791667  172.957576    173.253521         NaN
1994 Winter     24.976744  169.233333  173.013072    172.918919         NaN
1996 Summer     26.273277  170.401442  174.487640    177.441489  171.785714
1998 Winter     25.146154  168.913580  174.827586    173.764706  183.000000
2000 Summer     26.576203  170.956633  176.231760    176.482587  173.333333
2002 Winter     25.726316  169.010000  175.774390    173.055556  183.000000
2004 Summer     26.439093  172.746939  176.114790    176.661932  169.913580
2006 Winter     25.637288  170.307143  174.038710    176.111111  167.800000
2008 Summer     26.225806  176.022760  176.963636    176.886199  173.119403
2010 Winter     25.841584  169.561983  174.765625    176.338235  176.000000
2012 Summer     26.461883  175.451404  177.335714    177.763040  173.567568
2014 Winter     26.189189  169.809524  173.772487    173.428571  170.000000
2016 Summer     26.217454  174.985507  177.748016    176.400000  169.967213


Team        Switzerland United States
Year Season
1980 Summer  180.534884           NaN
     Winter  171.589286    175.023622
1984 Summer  173.930612    177.182609
     Winter  171.377049    175.206349
1988 Summer  176.834437    177.099859
     Winter  176.301887    174.524691
1992 Summer  175.578947    176.937673
     Winter  174.974359    174.467980
1994 Winter  174.108696    175.442857
1996 Summer  174.108434    177.481333
1998 Winter  174.283019    173.467181
2000 Summer  176.492754    177.325269
2002 Winter  176.193548    173.768421
2004 Summer  176.305970    176.936080
2006 Winter  176.012121    173.867797
2008 Summer  176.053571    177.471774
2010 Winter  176.618280    174.488449
2012 Summer  177.098361    178.091181
2014 Winter  174.046512    174.714715
2016 Summer  173.858108    177.789398