In [1]:
import pandas as pd
import numpy as np

In [37]:
passenger_count = pd.read_csv(filepath_or_buffer='C:/Users/Shelton/Desktop/Programming/Pandas/Pandas-Cookbook/pandas-workout-data/data/taxi-passenger-count.csv',
                         header=None ).squeeze()
passenger_count.head(5)

0    1
1    1
2    1
3    1
4    1
Name: 0, dtype: int64

In [38]:
trip_distances = pd.read_csv(filepath_or_buffer='C:/Users/Shelton/Desktop/Programming/Pandas/Pandas-Cookbook/pandas-workout-data/data/taxi-distance.csv',
                         header=None ).squeeze()
trip_distances.head(5)

0    1.63
1    0.46
2    0.87
3    2.13
4    1.40
Name: 0, dtype: float64

In [40]:
df = pd.DataFrame({
    'trip_distance': trip_distances,
    'passenger_count': passenger_count
})
df

      trip_distance  passenger_count
0              1.63                1
1              0.46                1
2              0.87                1
3              2.13                1
4              1.40                1
...             ...              ...
9994           2.70                1
9995           4.50                1
9996           5.59                1
9997           1.54                6
9998           5.80                1

[9999 rows x 2 columns]

In [51]:
# iqr = df['trip_distance'].quantile(0.75) - df['trip_distance'].quantile(0.25)
iqr = (
    df['trip_distance'].quantile(0.75) -
    df['trip_distance'].quantile(0.25)
)
iqr

np.float64(2.3)

In [52]:
# outlier distances -- below
df[
    df['trip_distance'] < df['trip_distance'].quantile(0.25) -
    1.5 * iqr
]

Empty DataFrame
Columns: [trip_distance, passenger_count]
Index: []

In [53]:
# outlier distances -- above
df[
    df['trip_distance'] > df['trip_distance'].quantile(0.75) +
    1.5 * iqr
]

      trip_distance  passenger_count
7             11.90                4
60             9.30                1
73            12.65                1
82            10.24                3
88            23.76                2
...             ...              ...
9975           7.60                1
9976          12.60                1
9979          11.30                1
9980           9.13                1
9982           9.30                1

[1219 rows x 2 columns]

In [54]:
# bc there's no outliers in the below
df['passenger_count'][
    df['trip_distance'] > df['trip_distance'].quantile(0.75) +
    1.5 * iqr
].mean()

np.float64(1.7301066447908122)

In [55]:
df['passenger_count'].mean()

np.float64(1.6594659465946595)