In [1]:
import pandas as pd
import numpy as np

In [2]:
data_frame = pd.read_csv(filepath_or_buffer='C:/Users/Shelton/Desktop/Programming/Pandas/Pandas-Cookbook/pandas-workout-data/data/taxi-passenger-count.csv',
                         header=None
                         )

Be careful, the read_csv() methos returns a data frame

In [3]:
data_frame

      0
0     1
1     1
2     1
3     1
4     1
...  ..
9994  1
9995  1
9996  1
9997  6
9998  1

[9999 rows x 1 columns]

Your task in this exercise is to show what percentage of taxi rides had only one passenger versus the (theoretical) maximum of six passengers.

In [4]:
serie =  data_frame.squeeze()
serie

0       1
1       1
2       1
3       1
4       1
       ..
9994    1
9995    1
9996    1
9997    6
9998    1
Name: 0, Length: 9999, dtype: int64

In [5]:
ride_one_person = serie[serie == 1]
ride_one_person

0       1
1       1
2       1
3       1
4       1
       ..
9993    1
9994    1
9995    1
9996    1
9998    1
Name: 0, Length: 7207, dtype: int64

In [6]:
frequency_1_ride = ride_one_person.count()
frequency_1_ride

np.int64(7207)

In [7]:
ride_six_people = serie[serie == 6]
ride_six_people

30      6
62      6
71      6
146     6
188     6
       ..
9953    6
9961    6
9963    6
9989    6
9997    6
Name: 0, Length: 369, dtype: int64

In [8]:
frequency_6_people = ride_six_people.count()
frequency_6_people

np.int64(369)

In [9]:
total_rides = serie.count()
total_rides

np.int64(9999)

In [10]:
percentage_1_person_ride = round((frequency_1_ride/total_rides) * 100, 2)
percentage_6_people_ride = round((frequency_6_people/total_rides) * 100, 2)
print(f'Percentages: \n1 person for ride {percentage_1_person_ride} %\n6 peopple for ride {percentage_6_people_ride} %')

Percentages:
1 person for ride 72.08 %
6 peopple for ride 3.69 %

There’s nothing inherently wrong with doing things this way, but there’s a far easier technique

In [11]:
serie.value_counts()

0
1    7207
2    1313
5     520
3     406
6     369
4     182
0       2
Name: count, dtype: int64

Because we get back a series from value_counts, we can use all our series tricks on it.

In [12]:
serie.value_counts().loc[[1,6]]

0
1    7207
6     369
Name: count, dtype: int64

But we’re interested in the percentages, not the raw values. Fortunately, **value_counts** `has an optional normalize parameter that returns the fraction if set to True`

In [13]:
serie.value_counts(normalize=True).loc[[1,6]]

0
1    0.720772
6    0.036904
Name: proportion, dtype: float64

In [14]:
serie.value_counts(normalize=True).loc[[1,6]] * 100

0
1    72.077208
6     3.690369
Name: proportion, dtype: float64

Beyond the exercise