In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(filepath_or_buffer='C:/Users/Shelton/Desktop/Programming/Pandas/Pandas-Cookbook/pandas-workout-data/data/taxi-distance.csv', header=None)
data # Remember the read_csv() method always returns a DataFrame

         0
0     1.63
1     0.46
2     0.87
3     2.13
4     1.40
...    ...
9994  2.70
9995  4.50
9996  5.59
9997  1.54
9998  5.80

[9999 rows x 1 columns]

In [9]:
serie = data.squeeze()
serie

0       1.63
1       0.46
2       0.87
3       2.13
4       1.40
        ...
9994    2.70
9995    4.50
9996    5.59
9997    1.54
9998    5.80
Name: 0, Length: 9999, dtype: float64

In [11]:
category_serie = serie.astype(str)
category_serie

0       1.63
1       0.46
2       0.87
3       2.13
4        1.4
        ...
9994     2.7
9995     4.5
9996    5.59
9997    1.54
9998     5.8
Name: 0, Length: 9999, dtype: object

In [14]:
category_serie.loc[serie <= 2] = 'Short'
category_serie.loc[(serie > 2) & (serie <= 10)] = 'Medium'
category_serie.loc[serie > 10] = 'Long'
category_serie

0        Short
1        Short
2        Short
3       Medium
4        Short
         ...
9994    Medium
9995    Medium
9996    Medium
9997     Short
9998    Medium
Name: 0, Length: 9999, dtype: object

In [15]:
category_serie.value_counts()

0
Short     5890
Medium    3402
Long       707
Name: count, dtype: int64

This certainly works, but as you probably guessed, there is a more efficient approach. The `pd.cut()` method allows us to set numeric boundaries.
Morover, ir can assign labels to each of the bins

In [16]:
pd.cut(serie, 
       bins=[0,2,10, serie.max()],
       include_lowest=True,
       labels=['Short', 'Medium', 'Long'])

0        Short
1        Short
2        Short
3       Medium
4        Short
         ...
9994    Medium
9995    Medium
9996    Medium
9997     Short
9998    Medium
Name: 0, Length: 9999, dtype: category
Categories (3, object): ['Short' < 'Medium' < 'Long']

In [17]:
pd.cut(serie,
       bins=[0,2,10,serie.max()],
       include_lowest=True,
       labels=['Short', 'Medium', 'Lonq']).value_counts()

0
Short     5890
Medium    3402
Lonq       707
Name: count, dtype: int64

Beyond the exercise

Compare the mean and median trip distances. What does that tell you about the distribution of the data?

In [18]:
serie.describe()

count    9999.000000
mean        3.158511
std         4.037516
min         0.000000
25%         1.000000
50%         1.700000
75%         3.300000
max        64.600000
Name: 0, dtype: float64

How many short, medium, and long trips were there for trips that had only one passenger? Note that the data for passenger count and trip length is from the same data set, meaning the indexes are the same.

In [20]:
data_passengers = pd.read_csv(filepath_or_buffer='C:/Users/Shelton/Desktop/Programming/Pandas/Pandas-Cookbook/pandas-workout-data/data/taxi-passenger-count.csv',
                         header=None
                         )
data_passengers

      0
0     1
1     1
2     1
3     1
4     1
...  ..
9994  1
9995  1
9996  1
9997  6
9998  1

[9999 rows x 1 columns]

In [22]:
serie_passengers = data_passengers.squeeze()
serie_passengers

0       1
1       1
2       1
3       1
4       1
       ..
9994    1
9995    1
9996    1
9997    6
9998    1
Name: 0, Length: 9999, dtype: int64

In [25]:
category_serie_one_passenger = category_serie[serie_passengers == 1]
category_serie_one_passenger

0        Short
1        Short
2        Short
3       Medium
4        Short
         ...
9993    Medium
9994    Medium
9995    Medium
9996    Medium
9998    Medium
Name: 0, Length: 7207, dtype: object

In [28]:
category_serie_one_passenger.value_counts()

0
Short     4333
Medium    2387
Long       487
Name: count, dtype: int64