In [1]:
import pandas as pd
import numpy as np

In [2]:
months = ['Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

In [3]:
notes = pd.Series(
    data = np.random.randint(40,60,10),
    index=months
    )

In [4]:
notes

Sep    41
Oct    54
Nov    41
Dec    44
Jan    44
Feb    44
Mar    52
Apr    49
May    58
Jun    59
dtype: int32

In [5]:
mean_notes = notes.mean()
mean_notes

np.float64(48.6)

In [6]:
notes + (80-mean_notes)

Sep    72.4
Oct    85.4
Nov    72.4
Dec    75.4
Jan    75.4
Feb    75.4
Mar    83.4
Apr    80.4
May    89.4
Jun    90.4
dtype: float64

# Exercise 3 Counting tens digits

In [7]:
random_serie = pd.Series(data = np.random.randint(0,101, 10))

In [8]:
random_serie

0     58
1    100
2     25
3      8
4     55
5     79
6     27
7     91
8     93
9     49
dtype: int32

In [9]:
random_serie = (random_serie / 10).astype(np.int8)

In [10]:
random_serie

0     5
1    10
2     2
3     0
4     5
5     7
6     2
7     9
8     9
9     4
dtype: int8

#### We could do better than above

In Python, floor division is performed using the // operator. This operator divides the first number by the second and rounds the result down to the nearest whole number (integer).

In [11]:
random_serie = pd.Series(np.random.randint(0,101,10))
random_serie

0    87
1     7
2    66
3     8
4    23
5    35
6    65
7    52
8    36
9     5
dtype: int32

In [12]:
random_serie = (random_serie // 10)
random_serie

0    8
1    0
2    6
3    0
4    2
5    3
6    6
7    5
8    3
9    0
dtype: int32

#### There is another way to do this, which involves more type conversions

 This time, we convert our series not into floats but rather into strings. Why? Because when we turn integers into strings, we can retrieve particular elements from them, such as the second-to-last digit.

In [13]:
random_serie = pd.Series(data=np.random.randint(0,101,10))
random_serie

0     39
1     73
2     53
3     42
4      3
5     17
6     86
7     72
8    100
9     97
dtype: int32

In [14]:
random_serie = random_serie.astype(str)
random_serie

0     39
1     73
2     53
3     42
4      3
5     17
6     86
7     72
8    100
9     97
dtype: object

In [15]:
random_serie = random_serie.str.get(-2).fillna('0')
random_serie

0    3
1    7
2    5
3    4
4    0
5    1
6    8
7    7
8    0
9    9
dtype: object

In [ ]:
random_serie = random_serie.astype(np.int8)
random_serie

0    3
1    7
2    5
3    4
4    0
5    1
6    8
7    7
8    0
9    9
dtype: int8

Create a new series with 10 floating-point values between 0 and 1,000. Find the numbers whose integer component (i.e., ignoring any fractional part) are even.

In [ ]:
random_serie = (pd.Series(data=np.random.randint(0,1001,10)) / 10)
random_serie

0    36.4
1    61.7
2    75.6
3     8.9
4    69.8
5    14.2
6    24.9
7    34.5
8    56.2
9    40.3
dtype: float64

In [ ]:
random_serie = (
    random_serie
    .astype(str)        # get a Series based on random_serie, with dtype str
    .str.split('.')     # turn into array of 2 strings
    .str.get(0)         # get the first element (means before the . point decimal)
    .astype(np.int8)    # turn the Series into dtype int8
)

In [ ]:
random_serie[random_serie % 2 == 0]

0    36
3     8
5    14
6    24
7    34
8    56
9    40
dtype: int8

By GPT: That works, but itâ€™s quite indirect and more expensive than needed. Pandas and NumPy already have vectorized tools to extract the integer component directly.

In [22]:
random_serie = pd.Series(data=np.random.uniform(0,1000,10)) # direct floats
random_serie

0    122.273090
1    253.718579
2    147.229877
3    723.272085
4    174.874952
5    619.826291
6    116.119471
7    523.093274
8    758.587333
9    182.800542
dtype: float64

In [26]:
int_part = random_serie.astype(int) # Keep integer part
int_part

0    122
1    253
2    147
3    723
4    174
5    619
6    116
7    523
8    758
9    182
dtype: int64

In [28]:
even_numbers = random_serie[int_part % 2 == 0]
even_numbers

0    122.273090
4    174.874952
6    116.119471
8    758.587333
9    182.800542
dtype: float64

In [33]:
even_numbers.loc[even_numbers > 220]

8    758.587333
dtype: float64

In [34]:
even_numbers

0    122.273090
4    174.874952
6    116.119471
8    758.587333
9    182.800542
dtype: float64

In [35]:
even_numbers > 220

0    False
4    False
6    False
8     True
9    False
dtype: bool

In [45]:
test = pd.Series(data=[250, 250, 250, 10, 100], index=[0,4,6,8,9])

In [46]:
test

0    250
4    250
6    250
8     10
9    100
dtype: int64

In [47]:
test[even_numbers > 220]

8    10
dtype: int64

We can use a mask index for assignment and retrieval, for example:

In [48]:
random_serie

0    122.273090
1    253.718579
2    147.229877
3    723.272085
4    174.874952
5    619.826291
6    116.119471
7    523.093274
8    758.587333
9    182.800542
dtype: float64

In [49]:
random_serie > 200

0    False
1     True
2    False
3     True
4    False
5     True
6    False
7     True
8     True
9    False
dtype: bool

In [50]:
random_serie[random_serie > 200] = 200

In [51]:
random_serie

0    122.273090
1    200.000000
2    147.229877
3    200.000000
4    174.874952
5    200.000000
6    116.119471
7    200.000000
8    200.000000
9    182.800542
dtype: float64

In [52]:
random_serie.loc[[0, 9]]

0    122.273090
9    182.800542
dtype: float64

In [53]:
random_serie.loc[[1,5,8]]

1    200.0
5    200.0
8    200.0
dtype: float64