In [1]:
import pandas as pd

In [2]:
path = "../pandas-workout-data/data/winemag-150k-reviews.csv"
columns = ['country', 'province', 'description', 'variety']
df = pd.read_csv(filepath_or_buffer=path, usecols=columns)
df

,country,description,province,variety
0,US,This tremendous 100% varietal wine hails from ...,California,Cabernet Sauvignon
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Northern Spain,Tinta de Toro
2,US,Mac Watson honors the memory of a wine once ma...,California,Sauvignon Blanc
3,US,"This spent 20 months in 30% new French oak, an...",Oregon,Pinot Noir
4,France,"This is the top wine from La Bégude, named aft...",Provence,Provence red blend
...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,Southern Italy,White Blend
150926,France,"Offers an intriguing nose with ginger, lime an...",Champagne,Champagne Blend
150927,Italy,This classic example comes from a cru vineyard...,Southern Italy,White Blend
150928,France,"A perfect salmon shade, with scents of peaches...",Champagne,Champagne Blend
150929,Italy,More Pinot Grigios should taste like this. A r...,Northeastern Italy,Pinot Grigio

# Answer these questions

### What are the 10 most common words containing five or more letters in the wine descriptions? Turn all words into lowercase and remove all punctuation and symbols at the start or end of each word for easier comparison. Also remove the words flavors, aromas, finish, palate, and drink.

In [3]:
symbols = ',$.?!$%'

In [4]:
df['description'].loc[0]

'This tremendous 100% varietal wine hails from Oakville and was aged over three years in oak. Juicy red-cherry fruit and a compelling hint of caramel greet the palate, framed by elegant, fine tannins and a subtle minty tone in the background. Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. Enjoy 2022–2030.'

In [5]:
def remove_punctuation(text):
    lower_case_arr = text.lower().split()  
    new_arr = []
    for word in lower_case_arr:
       new_arr.append(word.strip(symbols))
    return new_arr

In [6]:
def get_only_words_more_than_five(words):
    more_five_letters = []
    for word in words:
        if len(word) >= 5:
            more_five_letters.append(word)
    return more_five_letters

In [7]:
def remove_wine_related_words(words):
    wine_related_word = ['aromas', 'flavors', 'finish', 'palate', 'drink']
    no_wine_related_word = []
    for word in words:
        if word not in wine_related_word:
            no_wine_related_word.append(word)
    return no_wine_related_word

In [8]:
df['description_transformed'] = df['description'].apply(remove_punctuation).apply(get_only_words_more_than_five).apply(remove_wine_related_words)

In [9]:
df['description_transformed'].loc[0]

['tremendous',
 'varietal',
 'hails',
 'oakville',
 'three',
 'years',
 'juicy',
 'red-cherry',
 'fruit',
 'compelling',
 'caramel',
 'greet',
 'framed',
 'elegant',
 'tannins',
 'subtle',
 'minty',
 'background',
 'balanced',
 'rewarding',
 'start',
 'years',
 'ahead',
 'develop',
 'further',
 'nuance',
 'enjoy',
 '2022–2030']

In [10]:
df['description_transformed'].loc[1]

['blackberry',
 'cassis',
 'softened',
 'sweetened',
 'slathering',
 'chocolate',
 'vanilla',
 'layered',
 'intense',
 'cushioned',
 'chocolaty',
 'black',
 'fruits',
 'baking',
 'spices',
 'toasty',
 'everlasting',
 'heady',
 'ideally',
 'balanced',
 'through']

In [11]:
type(df['description_transformed'].loc[0])

list

In [12]:
def get_serie_all_words(words_series):
    all_words = []
    for words in words_series:
        all_words += words
    return pd.Series(all_words)

In [13]:
all_words = get_serie_all_words(df['description_transformed'])
all_words

0          tremendous
1            varietal
2               hails
3            oakville
4               three
              ...
2726835       viscous
2726836     mouthfeel
2726837      redolent
2726838         pears
2726839        citrus
Length: 2726840, dtype: object

In [14]:
all_words.value_counts().head(10)

fruit      56327
acidity    32536
tannins    32098
cherry     30639
black      24568
spice      22601
sweet      21243
notes      19581
fresh      17641
berry      17083
Name: count, dtype: int64

### The code above was my approach, let's see the author's approach

In [15]:
df = pd.read_csv(filepath_or_buffer=path, usecols=columns)
df

,country,description,province,variety
0,US,This tremendous 100% varietal wine hails from ...,California,Cabernet Sauvignon
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Northern Spain,Tinta de Toro
2,US,Mac Watson honors the memory of a wine once ma...,California,Sauvignon Blanc
3,US,"This spent 20 months in 30% new French oak, an...",Oregon,Pinot Noir
4,France,"This is the top wine from La Bégude, named aft...",Provence,Provence red blend
...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,Southern Italy,White Blend
150926,France,"Offers an intriguing nose with ginger, lime an...",Champagne,Champagne Blend
150927,Italy,This classic example comes from a cru vineyard...,Southern Italy,White Blend
150928,France,"A perfect salmon shade, with scents of peaches...",Champagne,Champagne Blend
150929,Italy,More Pinot Grigios should taste like this. A r...,Northeastern Italy,Pinot Grigio

In [16]:
def top_10_words(s):
    wine_related_word = ['aromas', 'flavors', 'finish', 'palate', 'drink']
    words = (
        s
        .str.lower()
        .str.split()
        .explode()
        .str.strip(symbols))
    
    return words.loc[(words.str.len() >= 5) & (~words.isin(wine_related_word))].value_counts().head(10)

In [17]:
s = top_10_words(df['description'])
s

description
fruit      56327
acidity    32536
tannins    32098
cherry     30639
black      24568
spice      22601
sweet      21243
notes      19581
fresh      17641
berry      17083
Name: count, dtype: int64

### What are the 10 most common words for non-California wines?

In [18]:
df

,country,description,province,variety
0,US,This tremendous 100% varietal wine hails from ...,California,Cabernet Sauvignon
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Northern Spain,Tinta de Toro
2,US,Mac Watson honors the memory of a wine once ma...,California,Sauvignon Blanc
3,US,"This spent 20 months in 30% new French oak, an...",Oregon,Pinot Noir
4,France,"This is the top wine from La Bégude, named aft...",Provence,Provence red blend
...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,Southern Italy,White Blend
150926,France,"Offers an intriguing nose with ginger, lime an...",Champagne,Champagne Blend
150927,Italy,This classic example comes from a cru vineyard...,Southern Italy,White Blend
150928,France,"A perfect salmon shade, with scents of peaches...",Champagne,Champagne Blend
150929,Italy,More Pinot Grigios should taste like this. A r...,Northeastern Italy,Pinot Grigio

In [19]:
df.loc[df['province'] != 'California', 'description']

1         Ripe aromas of fig, blackberry and cassis are ...
3         This spent 20 months in 30% new French oak, an...
4         This is the top wine from La Bégude, named aft...
5         Deep, dense and pure from the opening bell, th...
6         Slightly gritty black-fruit aromas include a s...
                                ...
150925    Many people feel Fiano represents southern Ita...
150926    Offers an intriguing nose with ginger, lime an...
150927    This classic example comes from a cru vineyard...
150928    A perfect salmon shade, with scents of peaches...
150929    More Pinot Grigios should taste like this. A r...
Name: description, Length: 106422, dtype: object

In [20]:
s = top_10_words(df.loc[df['province'] != 'California', 'description'])
s

description
fruit      46371
acidity    22270
tannins    21929
cherry     19440
spice      18522
black      17758
notes      16569
fresh      16200
berry      15478
sweet      12708
Name: count, dtype: int64

### What are the 10 most common words for French wines?

In [21]:
df['country'].unique()

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', nan,
       'India', 'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil',
       'Cyprus', 'Lithuania', 'Japan', 'China', 'South Korea', 'Ukraine',
       'England', 'Mexico', 'Georgia', 'Montenegro', 'Luxembourg',
       'Slovakia', 'Czech Republic', 'Egypt', 'Tunisia', 'US-France'],
      dtype=object)

In [22]:
df.loc[df['country'] == 'France', 'description']

4         This is the top wine from La Bégude, named aft...
13        This wine is in peak condition. The tannins an...
18        Coming from a seven-acre vineyard named after ...
33        Pale in color, this is nutty in character, wit...
36        Gingery spice notes accent fresh pear and melo...
                                ...
150921    Shows some older notes: a bouquet of toasted w...
150923    Rich and toasty, with tiny bubbles. The bouque...
150924    Really fine for a low-acid vintage, there's an...
150926    Offers an intriguing nose with ginger, lime an...
150928    A perfect salmon shade, with scents of peaches...
Name: description, Length: 21098, dtype: object

In [23]:
s = top_10_words(df.loc[df['country'] == 'France', 'description'])
s

description
fruit        8688
acidity      8632
tannins      6491
fruits       5449
fresh        4213
character    3494
black        3119
texture      3069
years        2880
crisp        2875
Name: count, dtype: int64

### What are the 10 most common words for white wines? For our purposes, look for Chardonnay, Sauvignon Blanc, and Riesling.

In [24]:
df

,country,description,province,variety
0,US,This tremendous 100% varietal wine hails from ...,California,Cabernet Sauvignon
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Northern Spain,Tinta de Toro
2,US,Mac Watson honors the memory of a wine once ma...,California,Sauvignon Blanc
3,US,"This spent 20 months in 30% new French oak, an...",Oregon,Pinot Noir
4,France,"This is the top wine from La Bégude, named aft...",Provence,Provence red blend
...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,Southern Italy,White Blend
150926,France,"Offers an intriguing nose with ginger, lime an...",Champagne,Champagne Blend
150927,Italy,This classic example comes from a cru vineyard...,Southern Italy,White Blend
150928,France,"A perfect salmon shade, with scents of peaches...",Champagne,Champagne Blend
150929,Italy,More Pinot Grigios should taste like this. A r...,Northeastern Italy,Pinot Grigio

In [25]:
df.loc[df['variety'].isin(['Chardonnay', 'Sauvignon Blanc', 'Riesling']), 'description']

2         Mac Watson honors the memory of a wine once ma...
15        First made in 2006, this succulent luscious Ch...
23        The apogee of this ambitious winery's white wi...
25        Yields were down in 2015, but intensity is up,...
31        Steely and perfumed, this wine sees only 20% n...
                                ...
150885    Orangey aromas wrapped in not very subtle oak ...
150887    The pineapple and lemon aromas and flavors in ...
150890    Wearing a heavy mantle of rather green, not-to...
150894    An attractive bouquet of pear, orange-lime and...
150902    This medium weight Chardonnay offered aromas o...
Name: description, Length: 26326, dtype: object

In [26]:
s = top_10_words(df.loc[df['variety'].isin(['Chardonnay', 'Sauvignon Blanc', 'Riesling']), 'description'])
s

description
fruit         9133
acidity       8346
apple         5879
citrus        5368
crisp         4903
chardonnay    4871
green         4177
notes         4021
sweet         3850
pineapple     3847
Name: count, dtype: int64

#

### What are the 10 most common words for red wines? For our purposes, look for Pinot Noir, Cabernet Sauvignon, Syrah, Merlot, and Zinfandel.

In [27]:
df.loc[df['variety'].isin(["Pinot Noir", "Cabernet Sauvignon", "Syrah", "Merlot", "Zinfandel"]), 'description']

0         This tremendous 100% varietal wine hails from ...
3         This spent 20 months in 30% new French oak, an...
8         This re-named vineyard was formerly bottled as...
9         The producer sources from two blocks of the vi...
11        From 18-year-old vines, this supple well-balan...
                                ...
150908    Another premier cru from Michel Gros, this one...
150909    This is a lovely, fragrant Burgundy, with a sm...
150910    Scents of graham cracker and malted milk choco...
150911    This needs a good bit of breathing time, then ...
150912    The nose is dominated by the attractive scents...
Name: description, Length: 41785, dtype: object

In [28]:
s = top_10_words(df.loc[df['variety'].isin(["Pinot Noir", "Cabernet Sauvignon", "Syrah", "Merlot", "Zinfandel"]), 'description'])
s

description
fruit         15011
cherry        14024
tannins       13138
black          9535
blackberry     6764
acidity        6338
pinot          6326
sweet          5982
cherries       5370
shows          5337
Name: count, dtype: int64

### What are the 10 most common words for rosé wines?

In [29]:
df

,country,description,province,variety
0,US,This tremendous 100% varietal wine hails from ...,California,Cabernet Sauvignon
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Northern Spain,Tinta de Toro
2,US,Mac Watson honors the memory of a wine once ma...,California,Sauvignon Blanc
3,US,"This spent 20 months in 30% new French oak, an...",Oregon,Pinot Noir
4,France,"This is the top wine from La Bégude, named aft...",Provence,Provence red blend
...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,Southern Italy,White Blend
150926,France,"Offers an intriguing nose with ginger, lime an...",Champagne,Champagne Blend
150927,Italy,This classic example comes from a cru vineyard...,Southern Italy,White Blend
150928,France,"A perfect salmon shade, with scents of peaches...",Champagne,Champagne Blend
150929,Italy,More Pinot Grigios should taste like this. A r...,Northeastern Italy,Pinot Grigio

In [37]:
'Rosé' in df['variety'].unique()

True

In [39]:
top_10_words(df.loc[df['variety'] == 'Rosé', 'description'])

description
acidity       1135
fruit          696
crisp          669
fresh          622
strawberry     534
light          514
raspberry      509
cherry         469
fruity         428
fruits         419
Name: count, dtype: int64

### Show the 10 most common words for the five most common wine varieties.

In [32]:
five_most_common_wine_varieties = df['variety'].value_counts().head(5).index
five_most_common_wine_varieties

Index(['Chardonnay', 'Pinot Noir', 'Cabernet Sauvignon', 'Red Blend',
       'Bordeaux-style Red Blend'],
      dtype='object', name='variety')

In [33]:
df['variety'].isin(five_most_common_wine_varieties)

0          True
1         False
2         False
3          True
4         False
          ...
150925    False
150926    False
150927    False
150928    False
150929    False
Name: variety, Length: 150930, dtype: bool

In [34]:
df.loc[df['variety'].isin(five_most_common_wine_varieties), 'description']

0         This tremendous 100% varietal wine hails from ...
3         This spent 20 months in 30% new French oak, an...
8         This re-named vineyard was formerly bottled as...
9         The producer sources from two blocks of the vi...
11        From 18-year-old vines, this supple well-balan...
                                ...
150908    Another premier cru from Michel Gros, this one...
150909    This is a lovely, fragrant Burgundy, with a sm...
150910    Scents of graham cracker and malted milk choco...
150911    This needs a good bit of breathing time, then ...
150912    The nose is dominated by the attractive scents...
Name: description, Length: 58982, dtype: object

In [35]:
s = top_10_words(df.loc[df['variety'].isin(five_most_common_wine_varieties), 'description'])
s

description
fruit       22784
tannins     15968
cherry      13974
acidity     12496
black       11219
cabernet     9433
spice        7890
sweet        7873
blend        7563
shows        7264
Name: count, dtype: int64

# Beyond the exercise

### Which country’s wines got the highest average score?

In [41]:
columns = ['country', 'province', 'points', 'description', 'variety']
df = pd.read_csv(filepath_or_buffer=path, usecols=columns)
df

,country,description,points,province,variety
0,US,This tremendous 100% varietal wine hails from ...,96,California,Cabernet Sauvignon
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",96,Northern Spain,Tinta de Toro
2,US,Mac Watson honors the memory of a wine once ma...,96,California,Sauvignon Blanc
3,US,"This spent 20 months in 30% new French oak, an...",96,Oregon,Pinot Noir
4,France,"This is the top wine from La Bégude, named aft...",95,Provence,Provence red blend
...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,91,Southern Italy,White Blend
150926,France,"Offers an intriguing nose with ginger, lime an...",91,Champagne,Champagne Blend
150927,Italy,This classic example comes from a cru vineyard...,91,Southern Italy,White Blend
150928,France,"A perfect salmon shade, with scents of peaches...",90,Champagne,Champagne Blend
150929,Italy,More Pinot Grigios should taste like this. A r...,90,Northeastern Italy,Pinot Grigio

In [62]:
df.groupby('country')['points'].mean().sort_values(ascending=False).head(10)

country
England     92.888889
Austria     89.276742
France      88.925870
Germany     88.626427
Italy       88.413664
Canada      88.239796
Slovenia    88.234043
Morocco     88.166667
Turkey      88.096154
Portugal    88.057685
Name: points, dtype: float64

### Create a pivot table in which the index contains countries, the columns contain varieties, and the cells contain mean scores. ``Include only the top 10 varieties``.

In [51]:
df

,country,description,points,province,variety
0,US,This tremendous 100% varietal wine hails from ...,96,California,Cabernet Sauvignon
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",96,Northern Spain,Tinta de Toro
2,US,Mac Watson honors the memory of a wine once ma...,96,California,Sauvignon Blanc
3,US,"This spent 20 months in 30% new French oak, an...",96,Oregon,Pinot Noir
4,France,"This is the top wine from La Bégude, named aft...",95,Provence,Provence red blend
...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,91,Southern Italy,White Blend
150926,France,"Offers an intriguing nose with ginger, lime an...",91,Champagne,Champagne Blend
150927,Italy,This classic example comes from a cru vineyard...,91,Southern Italy,White Blend
150928,France,"A perfect salmon shade, with scents of peaches...",90,Champagne,Champagne Blend
150929,Italy,More Pinot Grigios should taste like this. A r...,90,Northeastern Italy,Pinot Grigio

In [73]:
top_10_variety = df['variety'].value_counts().head(10).index  # top 10 variety wines
top_10_variety

Index(['Chardonnay', 'Pinot Noir', 'Cabernet Sauvignon', 'Red Blend',
       'Bordeaux-style Red Blend', 'Sauvignon Blanc', 'Syrah', 'Riesling',
       'Merlot', 'Zinfandel'],
      dtype='object', name='variety')

In [78]:
df.loc[df['variety'].isin(top_10_variety)].pivot_table(values='points', index='country', columns='variety')

variety,Bordeaux-style Red Blend,Cabernet Sauvignon,Chardonnay,Merlot,Pinot Noir,Red Blend,Riesling,Sauvignon Blanc,Syrah,Zinfandel
country,,,,,,,,,,
Argentina,89.575472,85.527745,84.177489,84.341969,85.058333,88.197059,85.000000,83.295302,85.232394,NaN
Australia,88.841463,88.115502,86.727952,85.258824,86.405263,87.816176,87.790210,86.624060,91.952381,88.200000
Austria,91.625000,87.750000,90.016393,89.000000,88.753846,88.890511,90.583955,88.694215,87.000000,NaN
Brazil,86.000000,81.000000,NaN,83.200000,NaN,84.000000,NaN,NaN,NaN,NaN
Bulgaria,NaN,84.812500,86.875000,84.363636,87.400000,89.000000,83.750000,84.400000,90.000000,NaN
Canada,89.000000,88.666667,88.653846,87.875000,89.111111,89.500000,87.564516,87.750000,89.666667,NaN
Chile,89.754717,86.561564,85.246011,84.939189,85.827273,88.683168,85.714286,85.895805,87.506739,85.000000
China,NaN,NaN,82.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Croatia,NaN,NaN,85.000000,NaN,84.000000,86.000000,NaN,82.000000,NaN,NaN
Cyprus,NaN,88.000000,NaN,NaN,NaN,85.714286,NaN,NaN,NaN,NaN
Czech Republic,NaN,86.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
England,NaN,NaN,94.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
France,89.557460,84.080000,89.315353,84.971698,89.430777,87.540984,89.063872,88.026882,89.772926,NaN
Germany,NaN,87.000000,89.166667,NaN,87.075472,87.285714,88.918816,83.000000,NaN,NaN
Greece,86.600000,85.837838,85.638889,86.142857,NaN,86.050847,NaN,86.526316,86.733333,NaN
Hungary,85.818182,86.666667,83.000000,88.200000,90.000000,84.454545,NaN,86.000000,NaN,NaN
India,NaN,82.000000,NaN,NaN,NaN,NaN,NaN,89.500000,NaN,NaN
Israel,88.615385,87.753521,86.746479,86.078125,85.615385,87.760563,90.000000,84.666667,87.481481,85.000000
Italy,88.600000,89.536680,88.367906,89.864952,86.000000,89.042238,87.500000,86.517241,89.246862,NaN
Lebanon,NaN,82.000000,NaN,NaN,NaN,85.529412,NaN,NaN,NaN,NaN
Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,86.000000,NaN,NaN,NaN
Macedonia,NaN,82.000000,NaN,NaN,84.000000,82.500000,NaN,NaN,NaN,NaN
Mexico,87.500000,83.666667,83.375000,82.000000,NaN,87.500000,NaN,84.400000,85.500000,NaN
Moldova,90.000000,84.545455,82.000000,85.000000,81.000000,85.400000,NaN,84.000000,NaN,NaN
Morocco,NaN,NaN,88.000000,NaN,NaN,89.000000,NaN,88.000000,90.000000,NaN
New Zealand,88.905405,86.944444,87.810573,86.737705,87.731626,89.800000,87.946667,87.287120,87.674419,90.000000
Portugal,89.875000,88.720000,87.642857,86.142857,88.928571,87.189189,NaN,85.727273,88.482143,NaN
Romania,NaN,85.578947,84.071429,85.263158,85.333333,84.600000,82.857143,85.714286,82.000000,NaN
Serbia,NaN,NaN,NaN,NaN,NaN,89.000000,87.500000,NaN,NaN,NaN
Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,83.666667,NaN,NaN,NaN
Slovenia,89.750000,88.500000,89.000000,89.000000,88.285714,88.833333,86.666667,86.750000,NaN,NaN
South Africa,89.766129,88.018433,87.091241,85.825397,88.166667,87.832536,86.400000,86.368421,88.057143,NaN
Spain,86.333333,85.689189,84.550725,84.666667,85.757576,87.483968,82.000000,83.568627,87.548387,NaN
Switzerland,NaN,NaN,NaN,84.500000,NaN,NaN,NaN,NaN,NaN,NaN
Turkey,86.666667,91.000000,89.000000,88.500000,NaN,87.700000,NaN,89.000000,89.000000,NaN
US,89.311681,88.555786,87.729543,86.630028,88.877273,87.326671,87.397094,86.784223,88.359850,86.664819
Uruguay,NaN,83.500000,82.000000,83.500000,82.000000,85.387097,NaN,NaN,NaN,NaN

# What is the correlation between the number of wines offered by a country and the mean score for that country? That is, does a country that submits more wines to competitions get, on average, a higher score than one that submits fewer wines to competitions?

In [81]:
(
    df
    .groupby('country')['points']
    .agg(['count', 'mean'])
    .corr()
)

          count      mean
count  1.000000  0.236117
mean   0.236117  1.000000