In [3]:
import pandas as pd
import numpy as np

Load the CSV file into a data frame using only the four columns mentioned earlier: passenger_count, trip_distance, payment_type, and total_amount.

In [4]:
# Just load passenger_count, trip_distance, payment_type, and total_amount.
df = pd.read_csv(
    filepath_or_buffer='../../pandas-workout-data/data/nyc_taxi_2019-01.csv',
    usecols=['passenger_count', 'trip_distance', 'payment_type', 'total_amount']
    )
df

         passenger_count  trip_distance  payment_type  total_amount
0                      1           1.50             1          9.95
1                      1           2.60             1         16.30
2                      3           0.00             1          5.80
3                      5           0.00             2          7.55
4                      5           0.00             2         55.55
...                  ...            ...           ...           ...
7667787                1           4.79             1         23.16
7667788                1           0.00             1          0.00
7667789                1           0.00             1          0.00
7667790                1           0.00             1          0.00
7667791                1           0.00             1          0.00

[7667792 rows x 4 columns]

How many taxi rides had more than eight passengers?

In [35]:
taxi_rides_more_than_eight = df.loc[df['passenger_count']  > 8]
taxi_rides_more_than_eight['passenger_count'].count()

np.int64(9)

How many taxi rides had zero passengers?

In [11]:
taxi_rides_zero_passengers = df.loc[df['passenger_count'] == 0]
taxi_rides_zero_passengers['passenger_count'].count()

np.int64(117381)

How many taxi rides were paid for in cash and cost over $1,000?

In [13]:
df.head(5)

   passenger_count  trip_distance  payment_type  total_amount
0                1            1.5             1          9.95
1                1            2.6             1         16.30
2                3            0.0             1          5.80
3                5            0.0             2          7.55
4                5            0.0             2         55.55

In [24]:
df['passenger_count'][(df['payment_type']== 2) & (df['total_amount'] > 1000)].count()

np.int64(5)

How many rides cost less than $0?

In [27]:
df['passenger_count'][df['total_amount'] < 0].count()

np.int64(7131)

How many rides traveled a below-average distance but cost an above-average amount?

In [29]:
average_distance = df['trip_distance'].mean()
average_distance

np.float64(2.8010838491706607)

In [31]:
average_cost = df['total_amount'].mean()
average_cost

np.float64(15.68222215991253)

In [32]:
df.loc[(df['trip_distance'] < average_distance) & (df['total_amount'] > average_cost)]

         passenger_count  trip_distance  payment_type  total_amount
1                      1           2.60             1         16.30
4                      5           0.00             2         55.55
6                      5           0.00             2         55.55
10                     2           2.80             1         19.55
32                     1           1.03             2         52.80
...                  ...            ...           ...           ...
7667648                1           1.90             1         22.55
7667659                1           0.00             1         63.36
7667665                1           2.34             1         24.96
7667729                2           2.72             1         15.96
7667754                1           2.65             1         16.56

[411255 rows x 4 columns]

In [33]:
df['passenger_count'][(df['trip_distance'] < average_distance) & (df['total_amount'] > average_cost)].count()

np.int64(411255)

passenger_count    7667792
trip_distance      7667792
payment_type       7667792
total_amount       7667792
dtype: int64

### Beyond the exercise

How many rides that cost less than $0 involved either a dispute (payment_type of 4) or a voided trip (payment_type of 6)?

In [37]:
df['payment_type'].value_counts()

payment_type
1    5486027
2    2137415
3      33186
4      11164
Name: count, dtype: int64

In [39]:
df.loc[(df['total_amount'] < 0) & (df['payment_type'].isin([4,6])), 'passenger_count'].count()

np.int64(2666)

I stated earlier that most people pay for taxi rides using a credit card. Show this, and find what percentage normally pays in cash versus a credit card.

In [41]:
people_credit_card = df.loc[df['payment_type'] == 1, 'passenger_count'].count()
people_credit_card

np.int64(5486027)

In [42]:
people_cash = df.loc[df['payment_type'] == 2, 'passenger_count'].count()
people_cash

np.int64(2137415)

In [44]:
percentaje_credit_card = people_credit_card/df['payment_type'].count()
percentaje_credit_card

np.float64(0.7154637214989661)

In [45]:
percentaje_cash = people_cash/df['payment_type'].count()
percentaje_cash

np.float64(0.2787523448732047)

In [47]:
df['payment_type'].value_counts(normalize=True)[[1,2]] # Check this syntax

payment_type
1    0.715464
2    0.278752
Name: proportion, dtype: float64