In [1]:
import pandas as pd

In [2]:
path = "../../pandas-workout-data/data/cities.json"

In [3]:
df = pd.read_json(path_or_buf=path)

In [5]:
df

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
0,New York,4.8%,40.712784,-74.005941,8405837,1,New York
1,Los Angeles,4.8%,34.052234,-118.243685,3884307,2,California
2,Chicago,-6.1%,41.878114,-87.629798,2718782,3,Illinois
3,Houston,11.0%,29.760427,-95.369803,2195914,4,Texas
4,Philadelphia,2.6%,39.952584,-75.165222,1553165,5,Pennsylvania
...,...,...,...,...,...,...,...
995,Weslaco,28.8%,26.159519,-97.990837,37093,996,Texas
996,Keizer,14.4%,44.990119,-123.026208,37064,997,Oregon
997,Spanish Fork,78.1%,40.114955,-111.654923,36956,998,Utah
998,Beloit,2.9%,42.508348,-89.031776,36888,999,Wisconsin
999,Panama City,0.1%,30.158813,-85.660206,36877,1000,Florida

### What are the mean and median populations for these 1,000 largest cities? What does that tell you?

In [6]:
df['population'].mean()

np.float64(131132.443)

In [ ]:
df['population'].median() # This means a few big values (populations) pull the mean higher than the median

68207.0

### Along these lines, if you remove the 50 most populous cities, what happens to the mean population? What happens to the median?

In [12]:
df['population'].sort_values(ascending=False).head(50)

0     8405837
1     3884307
2     2718782
3     2195914
4     1553165
5     1513367
6     1409019
7     1355896
8     1257676
9      998537
10     885400
11     843393
12     842583
13     837442
14     822553
15     792862
16     792727
17     688701
18     674433
19     653450
20     652405
21     649495
22     646449
23     645966
24     634464
25     622104
26     610613
27     609893
28     609456
29     603488
30     599164
31     556495
32     526116
33     509924
34     479686
35     469428
36     467007
37     457587
38     448479
39     447841
40     439886
41     434353
42     431746
43     417650
44     406253
45     400070
46     398121
47     390113
48     386552
49     379577
Name: population, dtype: int64

In [16]:
top50_population_cities = df['population'].sort_values(ascending=False).head(50).index

In [17]:
df = df.drop(index=top50_population_cities)
df

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
50,New Orleans,-21.6%,29.951066,-90.071532,378715,51,Louisiana
51,Bakersfield,48.4%,35.373292,-119.018713,363630,52,California
52,Tampa,16.0%,27.950575,-82.457178,352957,53,Florida
53,Honolulu,-6.2%,21.306944,-157.858333,347884,54,Hawaii
54,Aurora,24.4%,39.729432,-104.831919,345803,55,Colorado
...,...,...,...,...,...,...,...
995,Weslaco,28.8%,26.159519,-97.990837,37093,996,Texas
996,Keizer,14.4%,44.990119,-123.026208,37064,997,Oregon
997,Spanish Fork,78.1%,40.114955,-111.654923,36956,998,Utah
998,Beloit,2.9%,42.508348,-89.031776,36888,999,Wisconsin
999,Panama City,0.1%,30.158813,-85.660206,36877,1000,Florida

In [18]:
df['population'].mean()

np.float64(87027.38736842106)

In [ ]:
df['population'].median() # Deleting the 50 largest cities by populations brings the median nearer to the mean, meaning there are no extreme population peaks.

65796.0

### What is the northernmost city, and where does it rank?

In [20]:
df['latitude'].max()

61.2180556

In [23]:
df.loc[df['latitude'] == df['latitude'].max(), ['city', 'state', 'rank']]

         city   state  rank
62  Anchorage  Alaska    63

### Which state has the largest number of cities on this list?

In [24]:
df = pd.read_json(path)
df.head(5)

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
0,New York,4.8%,40.712784,-74.005941,8405837,1,New York
1,Los Angeles,4.8%,34.052234,-118.243685,3884307,2,California
2,Chicago,-6.1%,41.878114,-87.629798,2718782,3,Illinois
3,Houston,11.0%,29.760427,-95.369803,2195914,4,Texas
4,Philadelphia,2.6%,39.952584,-75.165222,1553165,5,Pennsylvania

In [26]:
df['state'].value_counts().head(1)

state
California    212
Name: count, dtype: int64

In [29]:
df['state'].value_counts().tail(10)

state
New Hampshire           3
Wyoming                 2
South Dakota            2
West Virginia           2
Delaware                2
District of Columbia    1
Alaska                  1
Hawaii                  1
Maine                   1
Vermont                 1
Name: count, dtype: int64