In [2]:
import pandas as pd

In [3]:
columns = ['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'total_amount']
path = '..\\pandas-workout-data\\data\\nyc_taxi_2019-07.csv'
df = pd.read_csv(path, usecols=columns, parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])
df

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount
0,2019-07-01 00:51:04,2019-07-01 00:51:33,1.0,0.00,4.94
1,2019-07-01 00:46:04,2019-07-01 01:05:46,1.0,4.16,20.30
2,2019-07-01 00:25:09,2019-07-01 01:00:56,1.0,18.80,70.67
3,2019-07-01 00:33:32,2019-07-01 01:15:27,1.0,18.46,66.36
4,2019-07-01 00:00:55,2019-07-01 00:13:05,0.0,1.70,15.30
...,...,...,...,...,...
6310414,2019-07-29 16:34:53,2019-07-29 16:53:20,NaN,3.86,29.00
6310415,2019-07-29 16:07:57,2019-07-29 17:26:41,NaN,15.48,54.43
6310416,2019-07-29 16:01:31,2019-07-29 17:15:38,NaN,12.92,65.40
6310417,2019-07-29 16:58:00,2019-07-29 17:42:00,NaN,7.12,43.00
6310418,2019-07-29 16:16:00,2019-07-29 16:33:00,NaN,1.77,22.15

In [4]:
df.dtypes

tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
total_amount                    float64
dtype: object

In [5]:
df['tpep_pickup_datetime'].loc[0]

Timestamp('2019-07-01 00:51:04')

### Create a new column, trip_time, containing the amount of time each taxi ride took as a timedelta.

In [6]:
df['trip_time'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
df['trip_time']

0         0 days 00:00:29
1         0 days 00:19:42
2         0 days 00:35:47
3         0 days 00:41:55
4         0 days 00:12:10
                ...
6310414   0 days 00:18:27
6310415   0 days 01:18:44
6310416   0 days 01:14:07
6310417   0 days 00:44:00
6310418   0 days 00:17:00
Name: trip_time, Length: 6310419, dtype: timedelta64[ns]

### Determine the number and percentage of rides that took less than 1 minute.

In [7]:
one_minute = pd.to_timedelta('0 days 00:01:00')
one_minute

Timedelta('0 days 00:01:00')

In [8]:
df_rides_less_one_minute = df.loc[df['trip_time'] < one_minute]
df_rides_less_one_minute.shape[0]

70212

In [9]:
(df_rides_less_one_minute['trip_distance'].shape[0] / df['trip_time'].shape[0]) * 100

1.1126361022936828

### Determine the average fare paid by people taking these short trips.

In [10]:
df_rides_less_one_minute

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount,trip_time
0,2019-07-01 00:51:04,2019-07-01 00:51:33,1.0,0.00,4.94,0 days 00:00:29
85,2019-07-01 00:00:55,2019-07-01 00:01:34,1.0,0.10,6.30,0 days 00:00:39
335,2019-07-01 00:17:13,2019-07-01 00:18:01,1.0,0.04,-6.30,0 days 00:00:48
336,2019-07-01 00:17:13,2019-07-01 00:18:01,1.0,0.04,6.30,0 days 00:00:48
385,2019-07-01 00:37:28,2019-07-01 00:37:43,1.0,0.00,6.30,0 days 00:00:15
...,...,...,...,...,...,...
6309358,2019-07-30 18:11:00,2019-07-30 18:11:00,NaN,0.00,42.35,0 days 00:00:00
6309494,2019-07-30 18:46:00,2019-07-30 18:46:00,NaN,0.06,13.80,0 days 00:00:00
6309500,2019-07-30 18:50:00,2019-07-30 18:50:00,NaN,0.01,40.40,0 days 00:00:00
6309536,2019-07-27 11:39:00,2019-07-27 11:39:00,NaN,0.00,15.05,0 days 00:00:00
6310313,2019-07-29 15:34:00,2019-07-29 15:34:00,NaN,0.00,42.56,0 days 00:00:00

In [11]:
df_rides_less_one_minute['total_amount'].mean() # No me convence este resultado

np.float64(30.397584031219733)

### Determine the number and percentage of rides that took more than 10 hours.

In [12]:
ten_hours = pd.Timedelta('10 hours')
ten_hours

Timedelta('0 days 10:00:00')

In [13]:
df_more_than_10_hours = df.loc[df['trip_time'] > ten_hours]
df_more_than_10_hours

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount,trip_time
947,2019-07-01 00:33:10,2019-07-02 00:24:21,2.0,1.37,12.80,0 days 23:51:11
1093,2019-06-30 23:13:42,2019-07-01 22:37:37,2.0,7.53,31.30,0 days 23:23:55
1172,2019-07-01 00:55:27,2019-07-02 00:33:36,1.0,1.69,15.30,0 days 23:38:09
1463,2019-07-01 00:47:04,2019-07-02 00:11:18,2.0,3.36,19.30,0 days 23:24:14
2967,2019-07-01 00:33:57,2019-07-02 00:28:18,1.0,0.63,10.30,0 days 23:54:21
...,...,...,...,...,...,...
6274320,2019-07-31 17:38:46,2019-08-01 16:59:41,5.0,9.99,33.30,0 days 23:20:55
6275047,2019-07-31 23:23:34,2019-08-01 23:13:38,1.0,2.99,15.80,0 days 23:50:04
6275864,2019-07-31 23:43:48,2019-08-01 23:39:18,1.0,4.33,22.80,0 days 23:55:30
6276280,2019-07-31 23:03:23,2019-08-01 22:20:38,5.0,1.89,15.87,0 days 23:17:15
6276300,2019-08-01 00:00:34,2019-08-02 00:00:00,2.0,9.40,31.68,0 days 23:59:26

In [14]:
df_more_than_10_hours.shape[0]

16698

In [15]:
df_more_than_10_hours.shape[0] / df.shape[0]

0.0026461000450207824

### Create a new column, trip_time_group, in which the values are short (< 10 minutes), medium (≥ between 10 minutes and 1 hour), and long (> 1 hour).

In [16]:
df['trip_time'].max()

Timedelta('2 days 11:56:39')

In [17]:
times = ['00:00:00', '00:10:00', '01:00:00.001', df['trip_time'].max() + pd.Timedelta('00:00:01')]

In [18]:
bins = pd.to_timedelta(times)
bins

TimedeltaIndex([       '0 days 00:00:00',        '0 days 00:10:00',
                '0 days 01:00:00.001000',        '2 days 11:56:40'],
               dtype='timedelta64[ns]', freq=None)

In [19]:
labels = ['short', 'medium', 'long']

In [20]:
df['trip_time_group'] = pd.cut(x=df['trip_time'], bins=bins, right=False, labels=labels)
df['trip_time_group']

0           short
1          medium
2          medium
3          medium
4          medium
            ...
6310414    medium
6310415      long
6310416      long
6310417    medium
6310418    medium
Name: trip_time_group, Length: 6310419, dtype: category
Categories (3, object): ['short' < 'medium' < 'long']

In [21]:
df.loc[df['trip_time_group'].isnull(), 'trip_time']

775861    -1 days +23:59:29
5236711   -2 days +19:26:13
6279078   -1 days +23:59:50
6286977   -1 days +23:59:50
6289536   -1 days +23:59:50
6293349   -1 days +23:59:50
6294823   -1 days +23:59:50
6304692   -1 days +23:59:50
6304694   -1 days +23:59:50
6307658   -1 days +23:59:50
Name: trip_time, dtype: timedelta64[ns]

### Determine the proportion of rides in each group.

In [22]:
df['trip_time_group'].value_counts(normalize=True)

trip_time_group
medium    0.553380
short     0.434489
long      0.012131
Name: proportion, dtype: float64

### For each value in trip_time_group, determine the average number of passengers.

In [23]:
# obseved parameter This only applies if any of the groupers are Categoricals. If True: only show observed values for categorical groupers. 
# If False: show all values for categorical groupers.
df.groupby('trip_time_group', observed=False)['passenger_count'].mean()

trip_time_group
short     1.551222
medium    1.585768
long      1.700859
Name: passenger_count, dtype: float64

# Beyond the exercise

### The data set you loaded is supposed to be for July 2019. How many trips are not from July 2019? That is, how many records are in the wrong file?

In [ ]:
df.loc[df['tpep_pickup_datetime'].dt.month != 7 ]

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount,trip_time,trip_time_group
184,2019-06-30 14:54:49,2019-06-30 15:04:50,1.0,1.71,13.30,0 days 00:10:01,medium
185,2019-06-30 15:19:34,2019-06-30 15:37:32,1.0,7.05,26.30,0 days 00:17:58,medium
206,2019-06-30 23:41:12,2019-06-30 23:48:54,1.0,1.00,10.30,0 days 00:07:42,short
274,2019-06-30 23:52:06,2019-07-01 00:26:02,1.0,10.83,39.90,0 days 00:33:56,medium
421,2019-06-30 23:56:48,2019-07-01 00:03:34,1.0,1.57,10.30,0 days 00:06:46,short
...,...,...,...,...,...,...,...
6275762,2019-08-01 00:00:11,2019-08-01 00:06:58,5.0,1.37,13.50,0 days 00:06:47,short
6275859,2019-08-01 00:00:23,2019-08-01 00:09:48,2.0,1.44,11.80,0 days 00:09:25,short
6275948,2019-08-01 00:00:19,2019-08-01 00:17:37,5.0,2.74,20.76,0 days 00:17:18,medium
6276069,2019-08-01 00:04:50,2019-08-01 00:13:48,1.0,2.46,12.80,0 days 00:08:58,short
6276300,2019-08-01 00:00:34,2019-08-02 00:00:00,2.0,9.40,31.68,0 days 23:59:26,long

In [71]:
df.loc[df['tpep_pickup_datetime'].dt.month != 7, 'tpep_pickup_datetime'].dt.month.unique()

array([ 6, 12,  1,  8,  9, 10, 11,  2], dtype=int32)

### What was the mean trip time for each number of passengers?

In [72]:
df.groupby('passenger_count')['trip_time'].mean().sort_values(ascending=False)

passenger_count
9.0      0 days 00:49:16.125000
5.0   0 days 00:22:29.870464324
6.0   0 days 00:20:54.109564300
4.0   0 days 00:20:10.057290100
3.0   0 days 00:19:02.079604271
2.0   0 days 00:18:34.024342704
1.0   0 days 00:17:46.148103924
7.0   0 days 00:16:38.206896551
0.0   0 days 00:14:18.929810752
8.0      0 days 00:11:00.500000
Name: trip_time, dtype: timedelta64[ns]

In [34]:
df.groupby('passenger_count')['total_amount'].mean().sort_values(ascending=False)

passenger_count
9.0    93.509375
8.0    74.760455
7.0    70.080690
4.0    21.063172
3.0    20.208111
2.0    20.097618
5.0    19.419223
6.0    19.386516
1.0    19.284679
0.0    18.981793
Name: total_amount, dtype: float64