In [1]:
import glob
import pandas as pd
import numpy as np

In [2]:
# reading San Francisco csv
# columns = ["date_time", "san+francisco,ca_maxtempC", "san+francisco,ca_mintempC"]
# path = '../pandas-workout-data/data/san+francisco,ca.csv'
# df_san_fracisco = pd.read_csv(path, usecols=columns)
# df_san_fracisco['city'] = 'San Francisco'
# df_san_fracisco['State'] = 'California'
# df_san_fracisco.head(2)

In [3]:
# reading New York csv
# columns = ["date_time", "new+york,ny_maxtempC", "new+york,ny_mintempC"]
# path = '../pandas-workout-data/data/new+york,ny.csv'
# df_new_york = pd.read_csv(filepath_or_buffer=path, usecols=columns)
# df_new_york['city'] = 'New York City'
# df_new_york['state'] = 'New York'
# df_new_york.head(2)

In [4]:
# reading Springfield-Ma csv
# columns = ["date_time", "springfield,ma_maxtempC", "springfield,ma_mintempC"]
# path = '../pandas-workout-data/data/springfield,ma.csv'
# df_springfield_ma = pd.read_csv(filepath_or_buffer=path, usecols=columns)
# df_springfield_ma['city'] = 'Springfield'
# df_springfield_ma['state'] = 'Massachusetts'
# df_springfield_ma.head(2)

In [5]:
# reading Boston-Ma csv
# columns = ["date_time", "boston,ma_maxtempC", "boston,ma_mintempC"]
# path = '../pandas-workout-data/data/boston,ma.csv'
# df_boston = pd.read_csv(filepath_or_buffer=path, usecols=columns)
# df_boston['city'] = 'Boston'
# df_boston['state'] = 'Massachusetts'
# df_boston.head(2)

In [6]:
# reading Springfield-Ill csv
# columns = ["date_time", "springfield,il_maxtempC", "springfield,il_mintempC"]
# path = '../pandas-workout-data/data/springfield,il.csv'
# df_springfield_il = pd.read_csv(filepath_or_buffer=path, usecols=columns)
# df_springfield_il['city'] = 'Springfield'
# df_springfield_il['state'] = 'Illinois'
# df_springfield_il.head(2)

In [7]:
# reading Albany-Ny csv
# columns = ["date_time", "albany,ny_maxtempC", "albany,ny_mintempC"]
# path = '../pandas-workout-data/data/albany,ny.csv'
# df_albany = pd.read_csv(filepath_or_buffer=path, usecols=columns)
# df_albany['city'] = 'Albany'
# df_albany['state'] = 'New York'
# df_albany.head(2)

In [8]:
# reading Los Angeles-Ca csv
# columns = ["date_time", "los+angeles,ca_maxtempC", "los+angeles,ca_mintempC"]
# path = '../pandas-workout-data/data/los+angeles,ca.csv'
# df_los_angeles = pd.read_csv(filepath_or_buffer=path, usecols=columns)
# df_los_angeles['city'] = 'Los Angeles'
# df_los_angeles['state'] = 'California'
# df_los_angeles.head(2)

In [9]:
# reading Los Chicago-Ill csv
# columns = ["date_time", "chicago,il_maxtempC", "chicago,il_mintempC"]
# path = '../pandas-workout-data/data/chicago,il.csv'
# df_chicago = pd.read_csv(filepath_or_buffer=path, usecols=columns)
# df_chicago['city'] = 'Chicago'
# df_chicago['state'] = 'Illinois'
# df_chicago.head(2)

In [10]:
# reading Los Chicago-Ill csv
# columns = ["date_time", "chicago,il_maxtempC", "chicago,il_mintempC"]
# path = '../pandas-workout-data/data/chicago,il.csv'
# df_chicago = pd.read_csv(filepath_or_buffer=path, usecols=columns)
# df_chicago['city'] = 'Chicago'
# df_chicago['state'] = 'Illinois'

In [11]:
path = '../../pandas-workout-data/data/chicago,il.csv'
names = path.removeprefix('../../pandas-workout-data/data/').removesuffix('.csv').split(',')
names

['chicago', 'il']

In [12]:
df = pd.read_csv(
    filepath_or_buffer=path,
    usecols=[0,1,2],
    header=0,
    names=['date_time', 'max_temp', 'min_temp']
).assign(cityu = names[0].replace('+', ' ').title(),
         state=names[1].upper())
df

               date_time  max_temp  min_temp    cityu state
0    2018-12-11 00:00:00         1        -2  Chicago    IL
1    2018-12-11 03:00:00         1        -2  Chicago    IL
2    2018-12-11 06:00:00         1        -2  Chicago    IL
3    2018-12-11 09:00:00         1        -2  Chicago    IL
4    2018-12-11 12:00:00         1        -2  Chicago    IL
..                   ...       ...       ...      ...   ...
723  2019-03-11 09:00:00         3        -2  Chicago    IL
724  2019-03-11 12:00:00         3        -2  Chicago    IL
725  2019-03-11 15:00:00         3        -2  Chicago    IL
726  2019-03-11 18:00:00         3        -2  Chicago    IL
727  2019-03-11 21:00:00         3        -2  Chicago    IL

[728 rows x 5 columns]

In [13]:
x = glob.glob('../../pandas-workout-data/data/*,*.csv')
x
# x[0].removeprefix('../pandas-workout-data/data\\').removesuffix('.csv').split(',')

['../../pandas-workout-data/data\\albany,ny.csv',
 '../../pandas-workout-data/data\\boston,ma.csv',
 '../../pandas-workout-data/data\\chicago,il.csv',
 '../../pandas-workout-data/data\\los+angeles,ca.csv',
 '../../pandas-workout-data/data\\new+york,ny.csv',
 '../../pandas-workout-data/data\\san+francisco,ca.csv',
 '../../pandas-workout-data/data\\springfield,il.csv',
 '../../pandas-workout-data/data\\springfield,ma.csv']

In [14]:
all_dfs = []
for path in glob.glob('../../pandas-workout-data/data/*,*.csv'):
    print(f'Reading csv from ==> {path}')
    city, state = path.removeprefix('../../pandas-workout-data/data\\').removesuffix('.csv').split(',')
    df = pd.read_csv(
        filepath_or_buffer=path,
        usecols=[0,1,2],
        header=0,
        names=['date_time', 'max_temp', 'min_temp']
    ).assign(
        city = city.replace('+',' ').title(),
        state = state.upper())
    all_dfs.append(df)

Reading csv from ==> ../../pandas-workout-data/data\albany,ny.csv
Reading csv from ==> ../../pandas-workout-data/data\boston,ma.csv
Reading csv from ==> ../../pandas-workout-data/data\chicago,il.csv
Reading csv from ==> ../../pandas-workout-data/data\los+angeles,ca.csv
Reading csv from ==> ../../pandas-workout-data/data\new+york,ny.csv
Reading csv from ==> ../../pandas-workout-data/data\san+francisco,ca.csv
Reading csv from ==> ../../pandas-workout-data/data\springfield,il.csv
Reading csv from ==> ../../pandas-workout-data/data\springfield,ma.csv

In [15]:
df = pd.concat(all_dfs)

In [16]:
df

               date_time  max_temp  min_temp         city state
0    2018-12-11 00:00:00        -2        -8       Albany    NY
1    2018-12-11 03:00:00        -2        -8       Albany    NY
2    2018-12-11 06:00:00        -2        -8       Albany    NY
3    2018-12-11 09:00:00        -2        -8       Albany    NY
4    2018-12-11 12:00:00        -2        -8       Albany    NY
..                   ...       ...       ...          ...   ...
723  2019-03-11 09:00:00         5        -2  Springfield    MA
724  2019-03-11 12:00:00         5        -2  Springfield    MA
725  2019-03-11 15:00:00         5        -2  Springfield    MA
726  2019-03-11 18:00:00         5        -2  Springfield    MA
727  2019-03-11 21:00:00         5        -2  Springfield    MA

[5824 rows x 5 columns]

Does the data for each city and state start and end at (roughly) the same time? How do you know?

In [17]:
df.groupby(['state','city'])['date_time'].agg(["min","max"])

                                     min                  max
state city
CA    Los Angeles    2018-12-11 00:00:00  2019-03-11 21:00:00
      San Francisco  2018-12-11 00:00:00  2019-03-11 21:00:00
IL    Chicago        2018-12-11 00:00:00  2019-03-11 21:00:00
      Springfield    2018-12-11 00:00:00  2019-03-11 21:00:00
MA    Boston         2018-12-11 00:00:00  2019-03-11 21:00:00
      Springfield    2018-12-11 00:00:00  2019-03-11 21:00:00
NY    Albany         2018-12-11 00:00:00  2019-03-11 21:00:00
      New York       2018-12-11 00:00:00  2019-03-11 21:00:00

What is the lowest minimum temperature recorded for each city in the data set?

In [18]:
df.groupby(['state', 'city'])['min_temp'].min().sort_values(ascending=True)

state  city
IL     Chicago         -28
       Springfield     -25
MA     Springfield     -20
NY     Albany          -19
MA     Boston          -14
NY     New York        -14
CA     San Francisco     3
       Los Angeles       4
Name: min_temp, dtype: int64

What is the highest maximum temperature recorded in each state in the data set?

In [19]:
df.groupby('state')['max_temp'].max().sort_values(ascending=False)

state
CA    23
MA    17
IL    16
NY    15
Name: max_temp, dtype: int64

# Beyond the exercise

Run describe on the minimum and maximum temperature for each state-city combination.

In [20]:
df.groupby(['state','city'])[['max_temp', 'min_temp']].describe()

                    max_temp                                               \
                       count       mean       std   min   25%   50%   75%
state city
CA    Los Angeles      728.0  17.054945  2.708640  12.0  15.0  16.0  19.0
      San Francisco    728.0  12.604396  1.437399   9.0  12.0  13.0  14.0
IL    Chicago          728.0  -0.736264  6.128985 -25.0  -3.0   0.0   3.0
      Springfield      728.0   2.076923  6.273423 -20.0  -2.0   2.0   7.0
MA    Boston           728.0   2.868132  4.945277 -12.0   0.0   2.0   6.0
      Springfield      728.0   1.472527  5.266678 -16.0  -2.0   2.0   4.0
NY    Albany           728.0   0.362637  5.294136 -14.0  -3.0   0.0   4.0
      New York         728.0   4.208791  4.619238 -12.0   2.0   4.0   7.0

                          min_temp                                         \
                      max    count       mean       std   min   25%   50%
state city
CA    Los Angeles    23.0    728.0  10.637363  2.705200   4.0   9.0  11.0
      San Francisco  15.0    728.0   8.252747  2.021036   3.0   7.0   8.0
IL    Chicago         9.0    728.0  -5.076923  6.255857 -28.0  -9.0  -4.0
      Springfield    16.0    728.0  -4.857143  6.508184 -25.0  -8.0  -5.0
MA    Boston         17.0    728.0  -3.142857  4.957195 -14.0  -6.0  -3.0
      Springfield    15.0    728.0  -6.032967  5.384681 -20.0 -10.0  -6.0
NY    Albany         13.0    728.0  -5.956044  5.599984 -19.0 -10.0  -6.0
      New York       15.0    728.0  -1.054945  5.025082 -14.0  -4.0   0.0


                      75%   max
state city
CA    Los Angeles    12.0  17.0
      San Francisco  10.0  13.0
IL    Chicago        -1.0   6.0
      Springfield    -1.0  10.0
MA    Boston          0.0   9.0
      Springfield    -2.0   6.0
NY    Albany         -2.0   7.0
      New York        2.0  12.0

Running describe works, but we only see the first and last few rows from each result. Using pd.set_option to change the value of display_max_rows makes it possible to see all the results in Jupyter. Then reset the option to 10 rows.

In [21]:

pd.set_option('display.max_rows',1000)
df.groupby(['state', 'city'])[['min_temp', 'max_temp']].apply(pd.DataFrame.describe)

                             min_temp    max_temp
state city
CA    Los Angeles   count  728.000000  728.000000
                    mean    10.637363   17.054945
                    std      2.705200    2.708640
                    min      4.000000   12.000000
                    25%      9.000000   15.000000
                    50%     11.000000   16.000000
                    75%     12.000000   19.000000
                    max     17.000000   23.000000
      San Francisco count  728.000000  728.000000
                    mean     8.252747   12.604396
                    std      2.021036    1.437399
                    min      3.000000    9.000000
                    25%      7.000000   12.000000
                    50%      8.000000   13.000000
                    75%     10.000000   14.000000
                    max     13.000000   15.000000
IL    Chicago       count  728.000000  728.000000
                    mean    -5.076923   -0.736264
                    std      6.255857    6.128985
                    min    -28.000000  -25.000000
                    25%     -9.000000   -3.000000
                    50%     -4.000000    0.000000
                    75%     -1.000000    3.000000
                    max      6.000000    9.000000
      Springfield   count  728.000000  728.000000
                    mean    -4.857143    2.076923
                    std      6.508184    6.273423
                    min    -25.000000  -20.000000
                    25%     -8.000000   -2.000000
                    50%     -5.000000    2.000000
                    75%     -1.000000    7.000000
                    max     10.000000   16.000000
MA    Boston        count  728.000000  728.000000
                    mean    -3.142857    2.868132
                    std      4.957195    4.945277
                    min    -14.000000  -12.000000
                    25%     -6.000000    0.000000
                    50%     -3.000000    2.000000
                    75%      0.000000    6.000000
                    max      9.000000   17.000000
      Springfield   count  728.000000  728.000000
                    mean    -6.032967    1.472527
                    std      5.384681    5.266678
                    min    -20.000000  -16.000000
                    25%    -10.000000   -2.000000
                    50%     -6.000000    2.000000
                    75%     -2.000000    4.000000
                    max      6.000000   15.000000
NY    Albany        count  728.000000  728.000000
                    mean    -5.956044    0.362637
                    std      5.599984    5.294136
                    min    -19.000000  -14.000000
                    25%    -10.000000   -3.000000
                    50%     -6.000000    0.000000
                    75%     -2.000000    4.000000
                    max      7.000000   13.000000
      New York      count  728.000000  728.000000
                    mean    -1.054945    4.208791
                    std      5.025082    4.619238
                    min    -14.000000  -12.000000
                    25%     -4.000000    2.000000
                    50%      0.000000    4.000000
                    75%      2.000000    7.000000
                    max     12.000000   15.000000

In [22]:
pd.set_option('display.max_rows',10)

What is the average difference in temperature (i.e., max – min) for each of the cities in our data set?

In [23]:
df.groupby(['state', 'city'])[['min_temp', 'max_temp']].agg(['min','max'])

                    min_temp     max_temp
                         min max      min max
state city
CA    Los Angeles          4  17       12  23
      San Francisco        3  13        9  15
IL    Chicago            -28   6      -25   9
      Springfield        -25  10      -20  16
MA    Boston             -14   9      -12  17
      Springfield        -20   6      -16  15
NY    Albany             -19   7      -14  13
      New York           -14  12      -12  15

In [24]:
df.groupby(['state', 'city'])[['min_temp', 'max_temp']].apply(lambda x: x.max() - x.min())
# for each series (column) takes the greater and the lowest and then perfomance the rest

                     min_temp  max_temp
state city
CA    Los Angeles          13        11
      San Francisco        10         6
IL    Chicago              34        34
      Springfield          35        36
MA    Boston               23        29
      Springfield          26        31
NY    Albany               26        27
      New York             26        27

In [25]:
df.groupby(['state', 'city'])[['min_temp', 'max_temp']].apply(lambda x: np.mean(x.max() - x.min()))
# np.mean works with the values of a series an returns a scalar
# in this case  np.mean adds all the values in the state-cityy row an then devides for the amount of values

state  city
CA     Los Angeles      12.0
       San Francisco     8.0
IL     Chicago          34.0
       Springfield      35.5
MA     Boston           26.0
       Springfield      28.5
NY     Albany           26.5
       New York         26.5
dtype: float64