In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({
    'sales': [100, 150, 200, 250,
              200, 150, 300, 400,
              500, 100, 300, 200],
    'quarters': 'Q1 Q2 Q3 Q4'.split() * 3
})

In [5]:
df

    sales quarters
0     100       Q1
1     150       Q2
2     200       Q3
3     250       Q4
4     200       Q1
5     150       Q2
6     300       Q3
7     400       Q4
8     500       Q1
9     100       Q2
10    300       Q3
11    200       Q4

In [6]:
df['sales'].sum()

np.int64(2850)

In [7]:
df['sales'].expanding().sum()

0      100.0
1      250.0
2      450.0
3      700.0
4      900.0
5     1050.0
6     1350.0
7     1750.0
8     2250.0
9     2350.0
10    2650.0
11    2850.0
Name: sales, dtype: float64

In [8]:
df['sales'].expanding().mean()

0     100.000000
1     125.000000
2     150.000000
3     175.000000
4     180.000000
5     175.000000
6     192.857143
7     218.750000
8     250.000000
9     235.000000
10    240.909091
11    237.500000
Name: sales, dtype: float64

In [9]:
# rolling window function

In [11]:
df['sales'].rolling(3).sum()

0        NaN
1        NaN
2      450.0
3      600.0
4      650.0
5      600.0
6      650.0
7      850.0
8     1200.0
9     1000.0
10     900.0
11     600.0
Name: sales, dtype: float64

In [12]:
df

    sales quarters
0     100       Q1
1     150       Q2
2     200       Q3
3     250       Q4
4     200       Q1
5     150       Q2
6     300       Q3
7     400       Q4
8     500       Q1
9     100       Q2
10    300       Q3
11    200       Q4

In [13]:
df['sales'].pct_change()

0          NaN
1     0.500000
2     0.333333
3     0.250000
4    -0.200000
5    -0.250000
6     1.000000
7     0.333333
8     0.250000
9    -0.800000
10    2.000000
11   -0.333333
Name: sales, dtype: float64